<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="shop/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../static/tongrenlu/css/tongrenlu-screen.css" th:href="@{/tongrenlu/css/tongrenlu-screen.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/tongrenlu/css/tongrenlu-shop.css" th:href="@{/tongrenlu/css/tongrenlu-shop.css}" media="screen"/>
        <script src="http://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" >
            <div class="container">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only" th:text="#{application}"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html" th:href="@{/}" th:text="#{application}"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class=""><a th:href="@{/music}" th:text="#{home.music}"></a></li>
                    </ul>
                    <ul id="nav-signin" class="nav navbar-nav navbar-right hidden">
                        <li class=""><a th:href="@{/signup}" th:text="#{login.signup}" rel="nofollow"></a></li>
                        <li class=""><a href="#signinModal" data-toggle="modal" th:text="#{login.signin}"></a></li>
                    </ul>
                    <ul id="nav-console" class="nav navbar-nav navbar-right hidden">
                        <li class=""><a th:href="@{/console}" th:text="#{console}" rel="nofollow"></a></li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle " data-toggle="dropdown" >
                                <span id="nav-nickname" th:text="#{UserBean.nickname}"></span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li ><a th:href="@{/console/setting}" th:text="#{console.profile.setting}" rel="nofollow"></a></li>
                                <li ><a th:href="@{/console/password}" th:text="#{console.profile.password}" rel="nofollow"></a></li>
                                <li><a th:href="@{/signout}" th:text="#{login.signout}" rel="nofollow"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{shop.cart}"></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8" >
                            <form id="shop-cart-form" th:action="@{/shop/cart/add}" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="nameOrUrl" 
                                        value="http://www.toranoana.jp/mailorder/article/04/0030/04/65/040030046515.html"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-warning" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                            <span th:text="#{button.search}"></span>
                                        </button>
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="shop-cart-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js" ></script>
        <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
        <script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
        <script type="text/javascript" src="../../static/tongrenlu/js/tongrenlu-trianglify.js" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            $(function() {
                $('.container-header').trianglify({
                    palette: 'shop'
                });
            });
        </script>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="http://cdn.bootcss.com/numeral.js/1.5.3/numeral.min.js"></script>
            <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
            <div th:replace="x-tmpl/shop-cart::template-shop-cart"></div>
            <script type="text/javascript" src="../../static/tongrenlu/js/tongrenlu-cart.js" th:src="@{/tongrenlu/js/tongrenlu-cart.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                $(function() {
                    var cart = new Cart({
                        listUrl:    /*[[@{/shop/cart/list}]]*/      '/shop/cart/list',
                        addUrl:     /*[[@{/shop/cart/add}]]*/       '/shop/cart/add',
                        removeUrl:  /*[[@{/shop/cart/remove}]]*/    '/shop/cart/remove',
                        form:           '#shop-cart-form',
                        container:      '#shop-cart-container'
                    });
                });
            </script>
        </div>
    </body>
</html>