<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/tongrenlu/css/tongrenlu-shop.css}" media="screen"/>
</head>
<body>
<div class="alert alert-info" th:fragment="header-alert">
    <ul class="list-unstyled">
        <li>下单前请入群。<strong>东方同人录公式群：197781767</strong></li>
        <li>下单后联系乡长(通贩和场贩)或gogo(通贩)确定价格</li>
    </ul>
</div>
<th:block layout:fragment="scripts">
</th:block>
</body>
</html>
