<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="shop/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{shop.mailorder}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{shop.mailorder}"></h1>
                            <div th:replace="shop/layout::header-alert">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-tab">
                    <div class="container">
                        <ul class="nav">
                            <li class="active">
                                <a th:href="@{/shop/mailorder}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span class="hidden-xs" th:text="#{shop.mailorder}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/shop/event}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="" th:text="#{shop.event}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <form id="shop-cart-form" th:action="@{/shop/cart/mailorder}" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="url" value="" th:placeholder="#{shop.mailorder.placeholder}"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-warning" type="submit">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span th:text="#{button.add}"></span>
                                    </button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                        <div class="form-group">
                            <a href="http://www.toranoana.jp/mailorder/" class="btn btn-default" target="_blank" >
                                <span th:text="#{shop.mailorder.toranoana}"></span>
                                <span class="glyphicon glyphicon-new-window"></span>
                            </a>
                            <a href="https://www.melonbooks.co.jp/" class="btn btn-default"  target="_blank">
                                <span th:text="#{shop.mailorder.melonbooks}"></span>
                                <span class="glyphicon glyphicon-new-window"></span>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="shop-cart-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="http://static.tongrenlu.info/Numeral/1.5.3/min/numeral.min.js"></script>
            <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates/2.5.3/js/tmpl.min.js"></script>
            <div th:replace="x-tmpl/shop-cart::template-shop-cart"></div>
            <script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-cart.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                $(function() {
                    var cart = new Cart({
                        addUrl:     /*[[@{/shop/mailorder}]]*/     '/shop/mailorder',
                        listUrl:    /*[[@{/shop/cart/list}]]*/          '/shop/cart/list',
                        removeUrl:  /*[[@{/shop/cart/remove}]]*/        '/shop/cart/remove',
                        form:           '#shop-cart-form',
                        container:      '#shop-cart-container'
                    });
                });
            </script>
        </div>
    </body>
</html>