<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="shop/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{shop.order}"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div id="shop-cart-container">
                                <div class="alert alert-success">
                                    <h4 th:text="#{shop.order.success}">success</h4>
                                    <p>
                                        <a th:href="@{/console/order}" th:text="#{console.order}" class="btn btn-primary">console.order</a>
                                        <a th:href="@{/}" th:text="#{button.back}" class="btn btn-default">back</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>