<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="shop/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{order.order}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{shop.order}"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="shop-cart-container">
                                <div class="alert alert-warning" th:if="${#lists.isEmpty(itemList)}">
                                    <h4 th:text="#{order.noData}">no item</h4>
                                    <p><a th:href="@{/}" th:text="#{button.back}" class="btn btn-default">back</a></p>
                                </div>
                                <div class="panel card" th:unless="${#lists.isEmpty(itemList)}">
                                    <div class=" table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="text-center" style="width:50%" th:text="#{shop.title}">title</th>
                                            <th class="text-center" th:text="#{shop.price}">price</th>
                                            <th class="text-center" th:text="#{shop.quantity}">quantity</th>
                                            <th class="text-center" th:text="#{shop.amount}">amount</th>
                                            <th class="text-center" th:text="#{shop.total}">total</th>
                                        </tr>
                                        <tr th:each="item: ${itemList}">
                                            <td >
                                                <p class="form-control-static" th:text="${item.title}">item.title</p>
                                                <p class="help-block" >
                                                    <a target="_blank" th:href="${item.url}" th:text="${item.url}" th:alt-title="${item.shop}">
                                                        item.url
                                                    </a>
                                                </p>
                                            </td>
                                            <td class="text-center">
                                                <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.price,1,'COMMA')})}">item.price</p>
                                            </td>
                                            <td class="text-center" >
                                                <p class="form-control-static" th:text="#{order.quantity(${#numbers.formatInteger(item.quantity,1,'COMMA')})}">item.quantity</p>
                                            </td>
                                            <td class="text-center">
                                                <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(item.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp</p>
                                                <p class="help-block" th:text="#{order.exchange(${#numbers.formatDecimal(item.exchangeRate * 100,1,'COMMA',1,'POINT')})}"></p>
                                            </td>
                                            <td class="text-center" >
                                                <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(item.total,1,'COMMA',2,'POINT')})}"></p>
                                                <p class="help-block" th:text="#{order.fee(#{order.CNY(${#numbers.formatDecimal(item.fee,1,'COMMA',2,'POINT')})})}"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <td class="text-center">
                                                <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(orderBean.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(orderBean.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp + item.tax</p>
                                            </td>
                                            <td class="text-center" >
                                                <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.total,1,'COMMA',2,'POINT')})}"></p>
                                                <p class="help-block" th:text="#{order.fee(#{order.CNY(${#numbers.formatDecimal(orderBean.fee,1,'COMMA',2,'POINT')})})}"></p>
                                            </td>
                                        </tr>
                                    </table>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-xs-6 text-left">
                                                <a th:href="@{/shop/cart}" class="btn btn-default" th:text="#{button.back}">back</a>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <form th:action="@{/shop/order}" method="post">
                                                    <button type="submit" class="btn btn-success" th:text="#{button.order}">order</button>
                                                </form> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="http://cdn.bootcss.com/numeral.js/1.5.3/numeral.min.js"></script>
            <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
        </div>
    </body>
</html>