<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="login/layout">
  <body>
      <div layout:fragment="content">
		  <div class="row">
		    <div class="col-sm-6 col-sm-offset-3">
		        <div class="alert alert-success" >
		            <h4 th:text="#{signup.finish}">signup.finish</h4>
		            <p th:text="#{signup.finish.message}">signup.finish.message</p>
		            <a class="alert-link" th:href="@{/}" th:text="#{button.backToTop}"></a>
		        </div><!-- /.panel -->
		    </div><!-- /.col-sm-6 -->
		  </div><!-- /.row -->
      </div><!-- /.content -->
  </body>
</html>