<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.org/jquery.jpaginate/css/style.css" media="screen"/>
    <title th:text="${userBean} + ' | ' + #{console.auth}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header" >
        <div class="container">
            <h1 th:text="${userBean}"></h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success" th:if="${message}">
                        <p th:text="${message}"></p>
                    </div>
                    <form th:action="@{/admin/user/__${userBean.id}__/library/add}" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" name="url" placeholder="http://static.tongrenlu.org/music/"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span th:text="#{button.add}"></span>
                                </button>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/admin/user/auth}">
                            <span class="glyphicon glyphicon-menu-left"></span>
                            <span class="hidden-xs" th:text="#{button.back}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/user/__${userBean.id}__/library}">
                            <span class="glyphicon glyphicon-cd"></span>
                            <span class="hidden-xs" th:text="#{admin.user.library}"></span>
                        </a>
                    </li>
                    <li class="active ">
                        <a th:href="@{/admin/user/__${userBean.id}__/auth}">
                            <span class="glyphicon glyphicon-cd"></span>
                            <span class="" th:text="#{console.auth}"></span>
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a th:href="@{/admin/user/__${userBean.id}__/auth/upload}">
                            <span class="glyphicon glyphicon-upload"></span>
                            <span class="hidden-xs" th:text="#{console.auth.upload}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker"  >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="panel card" th:each="articleBean : ${page.items}">
                    <div class="media">
                        <a class="media-left" target="_blank" 
                            th:href="@{/music/__${articleBean.id}__}" 
                            th:alt-title="${articleBean.title}" >
                            <img th:src="@{http://files.tongrenlu.org/m__${articleBean.id}__/cover_180.jpg}" 
                                th:alt-title="${articleBean.title}"
                                class="img-180 "/>
                        </a>
                        <div class="media-body">
                            <h4 >
                                <a th:href="@{/music/__${articleBean.id}__}"
                                   th:alt-title="${articleBean.title}"
                                   th:text="${articleBean.title}" 
                                   target="_blank">
                                </a>
                            </h4>
                        </div>
                        <div class="panel-footer">
                            <form th:action="@{/admin/user/__${userBean.id}__/auth}" method="post">
                                <input type="hidden" name="articleId" class="form-control" th:value="${articleBean.id}"/>
                                <button type="submit" class="btn btn-success">
                                    <span th:text="#{button.confirm}"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <p th:text="#{console.article.noData}"></p>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.org/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/admin/user/__${userBean.id}__/auth(p='')}]]*/ '/admin/user';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
</body>
</html>