<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout_image_upload">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
                <h1 class="">
                    <span th:text="${userBean.nickname}"></span>
                    <small th:text="'#' + ${userBean.id}"></small>
                </h1>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/admin/user/auth}">
                            <span class="glyphicon glyphicon-menu-left"></span>
                            <span class="hidden-xs" th:text="#{button.back}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/user/__${userBean.id}__/auth}">
                            <span class="glyphicon glyphicon-cd"></span>
                            <span class="hidden-xs" th:text="#{console.auth}"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/admin/user/__${userBean.id}__/auth/upload}">
                            <span class="glyphicon glyphicon-upload"></span>
                            <span class="hidden-xs" th:text="#{console.auth.upload}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker"  >
        <div class="container">
            <!-- The file upload form used as target for the file upload widget -->
            <form id="fileupload" method="POST" enctype="multipart/form-data">
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span th:text="#{console.article.upload.addFile}">Add files...</span>
                            <input type="file" name="files[]" th:multiple="true" accept="image/jpeg"/>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span th:text="#{console.article.upload.startAll}">Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span th:text="#{console.article.upload.cancelAll}">Cancel upload</span>
                        </button>
                        <input type="checkbox" class="toggle hidden" />
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <div role="presentation">
                    <div class="files row"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<div th:replace="x-tmpl/upload-auth-admin::template-upload"></div>
<div th:replace="x-tmpl/upload-auth-admin::template-download"></div>
<script type="text/javascript" th:inline="javascript">
$(function () {
    'use strict';
    var url = /*[[@{/admin/user/__${userBean.id}__/auth/file}]]*/ '';
    new fileupload({
        url: url
    });
    
    $('#fileupload').on('click', '.auth-check', function(e) {
    	e.preventDefault();
    	var $this = $(this);
    	$.post($this.data('url')).done(function(response) {
    		if(response.result) {
    			var $element = $(tmpl('template-download', response));
                $this.closest('.template-download').replaceWith($element);
                $element.addClass('in');
    		} else {
                var error = /*[[#{error.network}]]*/'';
                alert(error);
    		}
    	}).error(function() {
    		var error = /*[[#{error.network}]]*/'';
    		alert(error);
    	});
    })
});
</script>
</th:block>
  </body>
</html>