<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
    <title th:text="#{admin.user} + ' | ' + #{console}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <h1 th:text="#{admin.user}"></h1>
            <div class="row">
                <div class="col-sm-6" >
                    <form th:action="@{/admin/user}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" th:value="${page.params.query}"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span th:text="#{button.search}"></span>
                                </button>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/admin/user}">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="" th:text="#{admin.user}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/user/auth}">
                            <span class="glyphicon glyphicon-cd"></span>
                            <span class="hidden-xs" th:text="#{admin.user.auth}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker" >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="media-list">
                    <div class="panel card" th:each="userBean : ${page.items}">
                        <div class="media">
                            <a class="media-left" target="_blank" 
                               th:href="@{/user/__${userBean.id}__}" th:alt-title="${userBean}">
                                <img th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_180.jpg}" 
                                    th:alt-title="${userBean}" class="media-object img-180 "/>
                            </a>
                            <div class="media-body">
                                <h4 class="">
                                    <a target="_blank" th:href="@{/user/__${userBean.id}__}" 
                                        th:text="${userBean}" th:alt-title="${userBean}">
                                    </a>
                                </h4>
                                <p class="">
                                     <span class="label label-default" th:if="${userBean.member}" th:text="#{UserBean.member}"></span>
                                     <span class="label label-danger" th:if="${userBean.editor}" th:text="#{UserBean.editor}"></span>
                                     <span class="label label-danger" th:if="${userBean.editAdmin}" th:text="#{UserBean.editAdmin}"></span>
                                     <span class="label label-danger" th:if="${userBean.shopAdmin}" th:text="#{UserBean.shopAdmin}"></span>
                                     <span class="label label-danger" th:if="${userBean.superAdmin}" th:text="#{UserBean.superAdmin}"></span>
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a th:href="@{/user/__${userBean.id}__}" class="btn btn-info" role="button" target="_blank">
                                <span th:text="#{home.user.timeline}"></span>
                            </a>
                            <a th:href="@{/admin/user/__${userBean.id}__/library}" class="btn btn-success" role="button" target="_blank">
                                <span th:text="#{admin.user.library}"></span>
                            </a>
                            <button class="btn action-role" role="button" th:attr="data-user-id=${userBean.id}"  
                                data-role="2"
                                th:classappend="${userBean.editor} ? 'btn-danger' : 'btn-default'"
                                th:if="${session.LOGIN_USER.editAdmin}">
                                <span th:text="#{UserBean.editor}"></span>
                            </button>
                            <button class="btn action-role" role="button" th:attr="data-user-id=${userBean.id}"  
                                data-role="6"
                                th:classappend="${userBean.editAdmin} ? 'btn-danger' : 'btn-default'"
                                th:if="${session.LOGIN_USER.superAdmin}">
                                <span th:text="#{UserBean.editAdmin}"></span>
                            </button>
                            <button class="btn action-role" role="button" th:attr="data-user-id=${userBean.id}"  
                                data-role="8"
                                th:classappend="${userBean.shopAdmin} ? 'btn-danger' : 'btn-default'"
                                th:if="${session.LOGIN_USER.superAdmin}">
                                <span th:text="#{UserBean.shopAdmin}"></span>
                            </button>
                            <button class="btn action-role" role="button" th:attr="data-user-id=${userBean.id}"  
                                data-role="512"
                                th:classappend="${userBean.superAdmin} ? 'btn-danger' : 'btn-default'"
                                th:if="${session.LOGIN_USER.superAdmin}">
                                <span th:text="#{UserBean.superAdmin}"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <p th:text="#{console.article.noData}"></p>
                <a th:href="@{/admin/user}" th:unless="${#strings.isEmpty(page.params.query)}" th:text="#{button.back}" class="btn btn-default"></a>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/admin/user(q=${page.params.query},p='')}]]*/ '/admin/user';
            window.location.href = url + currval;
            return false;
        }
    });
    
    $('.action-delete').click(function() {
    	return confirm('真的要删除这个投稿吗?');
    });
    
    $('.action-role').click(function() {
        var $this = $(this);
    	var url = /*[[@{/admin/user/role}]]*/ '/admin/user';
    	$.post(url, $this.data()).done(function(response) {
    		if(response.result) {
    			$this.closest('.panel-footer').find('.action-role').each(function(index, element){
    				var $element = $(element);
    				switch(parseInt($element.data('role'))) {
    				case 2:
    					$element.removeClass(response.userBean.editor? 'btn-default': 'btn-danger');
                        $element.addClass(response.userBean.editor? 'btn-danger': 'btn-default');
    					break;
                    case 6:
                        $element.removeClass(response.userBean.editAdmin? 'btn-default': 'btn-danger');
                        $element.addClass(response.userBean.editAdmin? 'btn-danger': 'btn-default');
                        break;
                    case 8:
                        $element.removeClass(response.userBean.shopAdmin? 'btn-default': 'btn-danger');
                        $element.addClass(response.userBean.shopAdmin? 'btn-danger': 'btn-default');
                        break;
                    case 512:
                        $element.removeClass(response.userBean.superAdmin? 'btn-default': 'btn-danger');
                        $element.addClass(response.userBean.superAdmin? 'btn-danger': 'btn-default');
                        break;
    				}
    			})
    		}
    	});
    });
});
</script>
</th:block>
  </body>
</html>