<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <h1 th:text="#{admin.user}"></h1>
            <div class="row">
                <div class="col-sm-6" >
                    <form th:action="@{/admin/user}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" th:value="${page.params.query}"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span th:text="#{button.search}"></span>
                                </button>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/admin/user}">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-xs" th:text="#{admin.user}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/user/auth}">
                            <span class="glyphicon glyphicon-cd"></span>
                            <span class="hidden-xs" th:text="#{admin.user.auth}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker" >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="media-list">
                    <div class="card" th:each="userBean : ${page.items}">
                        <div class="media">
                            <a class="media-left" target="_blank" 
                               th:href="@{/user/__${userBean.id}__}" th:alt-title="${userBean}">
                                <img th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_120.jpg}" 
                                    th:alt-title="${userBean}" class="media-object img-120 "/>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a target="_blank" th:href="@{/user/__${userBean.id}__}" 
                                        th:text="${userBean}" th:alt-title="${userBean}">
                                    </a>
                                </h4>
                                <div class="media-body">
                                     <span class="label label-default" th:if="${userBean.member}" th:text="#{UserBean.member}"></span>
                                     <span class="label label-warning" th:if="${userBean.editor}" th:text="#{UserBean.editor}"></span>
                                     <span class="label label-danger" th:if="${userBean.admin}" th:text="#{UserBean.admin}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group btn-group-justified">
                                <a th:href="@{/user/__${userBean.id}__}" class="btn btn-default" role="button" target="_blank">
                                    <span th:text="#{home.user.timeline}"></span>
                                </a>
                                <a th:href="@{/admin/user/__${userBean.id}__/auth}" class="btn btn-success" role="button">
                                    <span th:text="#{console.auth}"></span>
                                </a>
                                <a th:href="@{/admin/user/__${userBean.id}__/auth/upload}" class="btn btn-primary" role="button">
                                    <span th:text="#{console.auth.upload}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <p th:text="#{console.article.noData}"></p>
                <a th:href="@{/admin/user}" th:unless="${#strings.isEmpty(page.params.query)}" th:text="#{button.back}" class="btn btn-default"></a>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/admin/user(q=${page.params.query},p='')}]]*/ '/admin/user';
            window.location.href = url + currval;
            return false;
        }
    });
    
    $('.action-delete').click(function() {
    	return confirm('真的要删除这个投稿吗?');
    });
});
</script>
<script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
  </body>
</html>