<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/jquery.jpaginate/css/style.css}" media="screen"/>
</head>
  <body>
    <div class="container" layout:fragment="content">
                <ul class="nav nav-tabs">
                  <li class="hidden-xs"><a th:href="@{/console/music/input}" th:text="#{console.music.input}"></a></li>
                  <li class="hidden-xs"><a th:href="@{/console/music}" th:text="#{console.music.index}"></a></li>
                  <li class="active"><a th:href="@{/admin/music}" th:text="#{admin.music}"></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form th:action="@{/admin/music}" method="get">
                            <div class="input-group">
                              <input type="text" class="form-control" name="q" th:value="${page.params.query}"/>
                              <div class="input-group-btn">
                                <button type="submit" class="btn btn-default" th:text="#{button.search}">SEARCH</button>
                              </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </form>
                        <hr />
                        <th:block th:unless="${#lists.isEmpty(page.items)}">
                            <ul class="media-list">
                              <li class="media" th:each="articleBean : ${page.items}">
                                <a class="pull-left" th:href="@{/admin/music/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                  <img class="media-object img-120 hidden-xs" src="http://placehold.it/120x120" 
                                       th:src="@{/files/m__${articleBean.id}__/cover_120.jpg}"
                                       th:alt-title="${articleBean.title}" />
                                  <img class="media-object img-60 visible-xs" src="http://placehold.it/60x60" 
                                       th:src="@{/files/m__${articleBean.id}__/cover_60.jpg}"
                                       th:alt-title="${articleBean.title}" />
                                </a>
                                <div class="btn-toolbar pull-right hidden-xs" role="toolbar">
                                    <div class="btn-group">
                                      <a th:href="@{/admin/music/__${articleBean.id}__/edit}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="hidden-sm" th:text="#{console.article.edit}"></span>
                                      </a>
                                    </div>
                                    <div class="btn-group">
                                      <a th:href="@{/admin/music/__${articleBean.id}__/track/upload}" class="btn btn-info hidden-xs">
                                        <span class="glyphicon glyphicon-music"></span>
                                        <span class="hidden-sm" th:text="#{console.music.track.upload}"></span>
                                      </a>
                                      <a th:href="@{/admin/music/__${articleBean.id}__/booklet/upload}" class="btn btn-info hidden-xs">
                                        <span class="glyphicon glyphicon-picture"></span>
                                        <span class="hidden-sm" th:text="#{console.music.booklet.upload}"></span>
                                      </a>
                                    </div>
                                    <div class="btn-group pull-right">
                                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span class="hidden-sm" th:text="#{console.article.delete}"></span>
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a th:href="@{/admin/music/__${articleBean.id}__/delete}" >
                                                <span class="glyphicon glyphicon-ok"></span>&nbsp;
                                                <span th:text="#{button.ok}"></span>
                                            </a>
                                        </li>
                                      </ul>
                                    </div>
                                </div>
                                <div class="btn-group pull-right visible-xs">
                                  <div class="btn-group">
                                    <a th:href="@{/admin/music/__${articleBean.id}__/edit}" class="btn btn-default">
                                      <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                  </div>
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a th:href="@{/admin/music/__${articleBean.id}__/delete}" >
                                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                            <span th:text="#{console.article.delete}"></span>
                                        </a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="media-body">
                                  <div class="article-list-item">
                                  <h5 class="media-heading text-single-line">
                                    <span class="label label-success" th:if="${articleBean.publish}" th:text="#{ArticleBean.publishFlg.true}"></span>
                                    <span class="label label-warning" th:unless="${articleBean.publish}" th:text="#{ArticleBean.publishFlg.false}"></span>
                                    <a th:href="@{/admin/music/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                        <strong th:text="${articleBean.title}" ></strong>
                                    </a>
                                  </h5>
                                  <p th:text="${articleBean.description}"></p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <hr />
                            <div id="jpaginate" class="hidden-xs hidden-sm"></div>
                        </th:block>
                        <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                            <h4 th:text="#{console.article.noData}"></h4>
                            <a th:href="@{/admin/music}" th:text="#{button.back}" class="btn btn-default"></a>
                        </div>
                    </div>
                </div>
            </div>
<th:block layout:fragment="scripts-libs">
<script th:src="@{/jquery.jpaginate/jquery.paginate.js}"></script>
</th:block>
<th:block layout:fragment="scripts">
<script type="text/javascript" th:inline="javascript">
$(function() {
    $("#jpaginate").paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        display     : 10,
        border                  : true,
        border_color            : '#fff',
        text_color              : '#fff',
        background_color        : '#428bca',  
        border_hover_color      : '#3498db',
        text_hover_color        : '#fff',
        background_hover_color  : '#2980b9', 
        images                  : false,
        onChange                : function (currval){
            var url = /*[[@{/admin/music(q=${page.params.query},p='')}]]*/ '/admin/music';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
  </body>
</html>