<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="console/layout_audio_sort">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${articleBean.title} + ' | ' + #{console.music.track.sort}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header" >
        <div class="container">
            <h1 th:text="${articleBean.title}"></h1>
        </div>
        <div class="container-tab" layout:fragment="page-header">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__}">
                            <span class="" th:text="#{button.preview}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__/edit}">
                            <span class="" th:text="#{button.edit}"></span>
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a th:href="@{/admin/music/__${articleBean.id}__/track/upload}">
                            <span class="" th:text="#{console.music.track.upload}"></span>
                        </a>
                    </li>
                    <li class="active hidden-xs">
                        <a th:href="@{/admin/music/__${articleBean.id}__/track/sort}">
                            <span class="" th:text="#{console.music.track.sort}"></span>
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a th:href="@{/admin/music/__${articleBean.id}__/booklet/upload}">
                            <span class="" th:text="#{console.music.booklet.upload}"></span>
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a th:href="@{/admin/music/__${articleBean.id}__/booklet/sort}">
                            <span class="" th:text="#{console.music.booklet.sort}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__/comment}">
                            <span class="" th:text="#{console.article.comment}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker" >
        <div class="container">
            <div class="btn-toolbar">
                <div class="btn-group ">
                    <button class="btn btn-success" id="sort-by-name">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        <span th:text="#{console.article.sort.byName}" class="hidden-xs"></span>
                    </button>
                    <button class="btn btn-info" id="sort-by-time">
                        <span class="glyphicon glyphicon-sort-by-order"></span>
                        <span th:text="#{console.article.sort.byTime}" class="hidden-xs"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" id="sortable-list-expand">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span th:text="#{console.music.track.expand}" class="hidden-xs"></span>
                    </button>
                    <button class="btn btn-default" id="sortable-list-collapse">
                        <span class="glyphicon glyphicon-minus"></span>
                        <span th:text="#{console.music.track.collapse}" class="hidden-xs"></span>
                    </button>
                </div>
                <div class="btn-group ">
                    <a href="http://static.tongrenlu.org/tongrenlu/ost.html"
                        class="btn btn-default" target="_blank">
                        <span class="glyphicon glyphicon-new-window"></span>
                        <span th:text="#{home.ost}" class="hidden-xs"></span>
                    </a>
                </div>
            </div>
            <hr />
            <form th:action="@{/admin/music/__${articleBean.id}__/track/sort}" method="POST">
                <div id="sortable-list">
                    <div class="sortable-object" 
                        th:attr="data-id=${track.id}, data-name=${track.name}"
                        th:each="track : ${trackList}">
                        <input type="hidden" name="trackId[]" th:value="${track.id}" />
                        <div class="card thumbnail">
                            <img class="img-responsive" th:src="@{http://files.tongrenlu.org/m__${articleBean.id}__/cover_400.jpg}" />
                            <p class="caption text-center" th:text="${track.name}"></p>
                        </div>
                        <div class="card panel">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row ">
                                        <div class="col-md-8 ">
                                            <input type="text" th:id="'track-name-' + ${track.id}" name="name[]" class="form-control" th:value="${track.name}" />
                                        </div>
                                        <div class="col-md-4 ">
                                            <div class="checkbox">
                                              <label th:for="'track-instrumental-' + ${track.id}" >
                                                <input type="checkbox" name="instrumental[]" th:value="${track.id}"
                                                    th:id="'track-instrumental-' + ${track.id}" 
                                                    th:checked="${track.instrumental} eq '1'" />
                                                <span th:text="#{TrackBean.instrumental}"></span>
                                              </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" th:for="'track-artist-' + ${track.id}" th:text="#{TrackBean.artist}"></label>
                                        <input type="text" th:id="'track-artist-' + ${track.id}" name="artist[]" class="form-control" th:value="${track.artist}" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" th:for="'track-original-' + ${track.id}" th:text="#{TrackBean.original}"></label>
                                        <textarea th:id="'track-original-' + ${track.id}" name="original[]" class="form-control" rows="3" th:text="${track.original}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <a th:href="@{/admin/music/__${articleBean.id}__/track/upload}" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span th:text="#{console.music.track.upload}"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span th:text="#{button.save}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
  <script type="text/javascript" th:inline="javascript">
  $(function(){
      var $sortableList = $( '#sortable-list' ).trigger('expand');
  }) ;
  </script>
</th:block>
</body>
</html>