<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css" />
    <link rel="stylesheet" th:href="@{/tongrenlu/css/tongrenlu-jplayer.css}" type="text/css"/>
    
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header" >
        <div class="container">
            <h1 th:text="${articleBean.title}"></h1>
        </div>
        <div class="container-tab" layout:fragment="page-header">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/admin/music/__${articleBean.id}__}">
                            <span class="" th:text="#{button.preview}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__/edit}">
                            <span class="" th:text="#{button.edit}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__/track/upload}">
                            <span class="" th:text="#{console.music.track.upload}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__/track/sort}">
                            <span class="" th:text="#{console.music.track.sort}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__/booklet/upload}">
                            <span class="" th:text="#{console.music.booklet.upload}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/music/__${articleBean.id}__/booklet/sort}">
                            <span class="" th:text="#{console.music.booklet.sort}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div th:include="home/layout_article_view::article-gallery"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div id="player" th:include="home/layout_article_view::article-player"></div>
                </div>
                <div class="col-sm-6">
                    <div id="baseinfo" th:include="home/layout_article_view::article-baseinfo"></div>
                    <div id="tags" th:include="home/layout_article_view::article-tags"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-8" th:if="${session.LOGIN_USER.admin}">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-success" 
                                    th:href="@{/admin/music/__${articleBean.id}__/publish}" 
                                    th:text="#{admin.article.publish}"></a>
                                <a class="btn btn-danger" 
                                    th:href="@{/admin/music/__${articleBean.id}__/free}" 
                                    th:text="#{admin.article.free}"></a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn btn-default btn-block" 
                                th:href="@{/admin/music}" th:text="#{button.back}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://cdn.bootcss.com/jplayer/2.9.2/jplayer/jquery.jplayer.min.js" ></script>
<script type="text/javascript" src="http://cdn.bootcss.com/jplayer/2.9.2/add-on/jplayer.playlist.min.js" ></script>
<script type="text/javascript" src="http://cdn.bootcss.com/blueimp-gallery/2.15.2/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-player.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-tag.js}" ></script>
<div th:replace="x-tmpl/article-view::template-playlist-item"></div>
<div th:replace="x-tmpl/article-view::template-rate"></div>
<div th:replace="x-tmpl/article-view::template-tag-item"></div>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new player({
        url: /*[[@{/console/music/__${articleBean.id}__/track}]]*/ '',
        filePath: /*[[@{http://files.tongrenlu.info/m__${articleBean.id}__}]]*/'',
        swfPath: 'http://cdn.bootcss.com/jplayer/2.9.2/jplayer'
    });
    new carousel({
        url: /*[[@{/music/__${articleBean.id}__/booklet}]]*/ '',
        filePath: /*[[@{http://files.tongrenlu.info/m__${articleBean.id}__}]]*/'',
        startSlideshow: false
    });
    
    new tag({
        url: /*[[@{/music/__${articleBean.id}__/tag}]]*/ '',
        tagPath: /*[[@{/tag}]]*/'/tag',
        template: 'template-tag-item'
    });
    
    $('#article-description').url();
    
    $('.popover-dismiss').popover();
});
</script>
<script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
</body>
</html>