<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
  <head>
    <link rel="stylesheet" th:href="@{/tongrenlu/css/jplayer.tongrenlu.css}" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/Gallery-2.15.0/css/blueimp-gallery.min.css" />
  </head>
  <body>
<div layout:fragment="content">
    <div class="container-wrap" >
        <div class="container">
            <div class="media">
                <div class="media-heading pull-left">
                    <img class="img-60 img-rounded" th:alt-title="${articleBean.title}"
                        th:src="@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_120.jpg}" />
                </div>
                <div class="media-body">
                    <h1 class="article-title text-single-line hidden-xs" th:text="${articleBean.title}"></h1>
                    <h5 class="article-title visible-xs" th:text="${articleBean.title}"></h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="page-header">
                <a class="btn btn-default pull-right"
                    th:href="@{/admin/music/__${articleBean.id}__/booklet/upload}"
                    th:text="#{console.music.booklet.upload}">upload</a>
                <h4 th:text="#{home.music.booklet}">booklet</h4>
            </div>
        </div>
        <div class="container-fluid" >
            <div th:replace="home/layout_article_view::article-gallery"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-header">
                        <a class="btn btn-default pull-right"
                            th:href="@{/admin/music/__${articleBean.id}__/track/upload}"
                            th:text="#{console.music.track.upload}">upload</a>
                        <h4 th:text="#{home.music.track}">player</h4>
                    </div>
                    <div id="player" th:include="home/layout_article_view::article-player"></div>
                </div>
                <div class="col-sm-6">
                    <div class="page-header">
                        <a class="btn btn-default pull-right"
                          th:href="@{/admin/music/__${articleBean.id}__/edit}"
                          th:text="#{button.edit}">edit</a>
                        <h4 th:text="${articleBean.title}"></h4>
                    </div>
                    <div id="baseinfo" th:include="home/layout_article_view::article-baseinfo"></div>
                    <div id="tags" th:include="home/layout_article_view::article-tags"></div>
                </div>
            </div>
            <hr />
            <div>
                <a class="btn btn-success" 
                    th:href="@{/admin/music/__${articleBean.id}__/publish}" 
                    th:text="#{admin.article.publish}"></a>
                <a class="btn btn-default" 
                    th:href="@{/admin/music}" 
                    th:text="#{button.back}"></a>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/Gallery-2.15.0/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jquery.jplayer.min.js" ></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jplayer.playlist.min.js" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-player.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-tag.js}" ></script>

<div th:replace="x-tmpl/article-view::template-playlist-item"></div>
<div th:replace="x-tmpl/article-view::template-tag-item"></div>

<script type="text/javascript" th:inline="javascript">
$(function() {
    new player({
        url: /*[[@{/music/__${articleBean.id}__/track}]]*/ '',
        filePath: /*[[@{http://files.tongrenlu.info/m__${articleBean.id}__}]]*/'',
        swfPath: 'http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js'
    });
    new carousel({
        url: /*[[@{/music/__${articleBean.id}__/booklet}]]*/ '',
        filePath: /*[[@{http://files.tongrenlu.info/m__${articleBean.id}__}]]*/'',
        startSlideshow: false
    });
    
    new tag({
        url: /*[[@{/music/__${articleBean.id}__/tag}]]*/ '/music/1/tag',
        tagPath: /*[[@{/tag}]]*/'/tag',
        template: 'template-tag-item'
    });
    
    $('#article-description').url();
    
    $('.popover-dismiss').popover();
});
</script>
</th:block>
  </body>
</html>