<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <form th:action="@{/search/music}" method="get" role="search">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" th:value="${query}"/>
                            <span class="input-group-btn">
                                <button class="btn btn-warning" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="hidden-xs" th:text="#{home.search.music}"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div class="container">
            <th:block th:if="${searchResult}">
                <th:block th:unless="${#lists.isEmpty(searchResult.content)}">
                    <ul class="media-list">
                        <li class="media" th:each="articleDocument : ${searchResult.content}">
                            <a class="pull-left" th:href="@{/__${articleDocument.category}__/__${articleDocument.articleId}__}"
                                th:alt-title="${articleDocument.title}">
                                <img class="media-object img-120  img-rounded hidden-xs"
                                    th:src="@{http://files.tongrenlu.info/__${articleDocument.id}__/cover_120.jpg}"
                                    th:alt-title="${articleDocument.title}" />
                                <img class="media-object img-60  img-rounded visible-xs"
                                    th:src="@{http://files.tongrenlu.info/__${articleDocument.id}__/cover_120.jpg}"
                                    th:alt-title="${articleDocument.title}" />
                            </a>
                            <div class="media-body">
                                <div class="article-list-item">
                                    <h5 class="media-heading text-single-line">
                                        <a th:href="@{/__${articleDocument.category}__/__${articleDocument.articleId}__}" 
                                            th:text="${articleDocument.title}" 
                                            th:alt-title="${articleDocument.title}"></a>
                                    </h5>
                                    <ul class="list-inline tag-container">
                                        <li>
                                            <span class="glyphicon glyphicon-tags"></span>&nbsp;
                                            <strong th:text="#{ArticleBean.tag} + ' :'">Tags :</strong>
                                        </li>
                                        <li th:each="tag : ${articleDocument.tags}">
                                            <a class="btn btn-xs btn-default" 
                                                th:href="@{/search/music(q=${tag})}" 
                                                th:text="${tag}">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <hr />
                    <div id="jpaginate" class="hidden-xs"></div>
                    <div id="select-paginate" class="form-group visible-xs"></div>
                </th:block>
                <div class="alert alert-warning" th:if="${#lists.isEmpty(searchResult.content)}">
                    <h4 th:text="#{home.article.noData}"></h4>
                    <a th:href="@{/}" th:text="#{button.back}" class="btn btn-default"></a>
                </div>
            </th:block>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${searchResult.totalPages}]]*/ 20,
        start       : /*[[${searchResult.number} + 1]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/search/music(q=${query},p='')}]]*/ '/search/music';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
</body>
</html>