<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
    <title th:text="#{admin.order.item} + ' | ' + #{console}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8" >
                    <h1 th:text="#{admin.order.item}"></h1>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/admin/order/item}">
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="" th:text="#{admin.order.item}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker" >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(itemList)}">
                <div class="card panel">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th class="text-center" style="width:50%" th:text="#{OrderItemBean.title}">title</th>
                                <th class="text-center" th:text="#{OrderItemBean.price}">price</th>
                                <th class="text-center" th:text="#{OrderItemBean.quantity}">quantity</th>
                                <th class="text-center" ></th>
                            </tr>
                            <tr th:each="item: ${itemList}">
                                <td >
                                    <p class="form-control-static">
                                        <strong th:text="'【' + ${item.shop} + '】'"></strong>
                                        <span th:text="${item.title}"></span>
                                        
                                    </p>
                                    <p class="form-control-static">
                                         <a target="_blank" class="btn btn-default" th:href="@{/admin/order/__${item.orderBean.id}__}" th:alt-title="${item.shop}">
                                             <span class="glyphicon glyphicon-link" ></span>
                                             <span th:text="#{OrderItemBean.order}" ></span>
                                         </a>
                                         <a target="_blank" class="btn btn-warning" th:href="${item.url}" th:alt-title="${item.shop}">
                                             <span class="glyphicon glyphicon-link" ></span>
                                             <span th:text="#{OrderItemBean.url}" ></span>
                                         </a>
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.price,1,'COMMA')})}">item.amountJp + item.tax</p>
                                </td>
                                <td class="text-center" >
                                    <p class="form-control-static" th:text="${#numbers.formatInteger(item.quantity,1,'COMMA')}"></p>
                                </td>
                                <td class="text-center" th:switch="${item.status}">
                                    <div th:case="0" >
                                        <form th:action="@{/admin/order/__${item.orderBean.id}__/item/__${item.id}__/pay}" method="post">
                                            <p class="form-control-static" >
                                                <input type="hidden" name="status" value="1"/>
                                                <button type="submit" class="btn btn-primary"
                                                    th:text="#{OrderItemBean.status.ordered}"></button>
                                            </p>
                                            <p class="help-block" th:text="${#dates.format(item.createDate, 'yyyy/MM/dd HH:mm')}"></p>
                                        </form>
                                    </div>
                                    <div th:case="1" >
                                        <form th:action="@{/admin/order/__${item.orderBean.id}__/item/__${item.id}__/receive}" method="post">
                                            <p class="form-control-static" >
                                                <input type="hidden" name="status" value="2"/>
                                                <button type="submit" class="btn btn-success"
                                                    th:text="#{OrderItemBean.status.received}"></button>
                                            </p>
                                            <p class="help-block" th:text="${#dates.format(item.orderDate, 'yyyy/MM/dd HH:mm')}"></p>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(itemList)}">
                <h4 th:text="#{console.article.noData}"></h4>
                <a th:href="@{/admin/order}" th:text="#{button.back}" class="btn btn-default"></a>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
  </body>
</html>