<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="console/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{admin.order} + ' | ' + #{console}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{admin.order}"></h1>
                        </div>
                    </div>
                </div>
                <div class="container-tab">
                    <div class="container">
                        <ul class="nav">
                            <li class="">
                                <a th:href="@{/admin/order}">
                                    <span class="glyphicon glyphicon-dashboard"></span>
                                    <span class="" th:text="#{admin.order.dashboard}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/order/list}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="" th:text="#{admin.order.index}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/order/list(status=0)}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="" th:text="#{console.order.created}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/order/list(status=1)}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="" th:text="#{console.order.started}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/order/list(status=2)}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="" th:text="#{console.order.paid}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/order/list(status=3)}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="" th:text="#{console.order.send}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div id="shop-cart-container">
                        <div class="panel card">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p class="form-control-static">
                                            <span th:text="#{OrderBean.user}"></span>
                                            <strong th:text="${orderBean.userBean}"></strong>
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="form-control-static" th:switch="${orderBean.status}">
                                            <span th:text="#{OrderBean.status}"></span>
                                            <strong th:case="0" th:text="#{console.order.created}"></strong>
                                            <strong th:case="1" th:text="#{console.order.started}"></strong>
                                            <strong th:case="2" th:text="#{console.order.paid}"></strong>
                                            <strong th:case="3" th:text="#{console.order.send}"></strong>
                                            <strong th:case="4" th:text="#{console.order.received}"></strong>
                                            <strong th:case="9" th:text="#{console.order.canceled}"></strong>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="form-control-static" th:unless="${#strings.isEmpty(orderBean.trackingCode)}">
                                            <span th:text="#{OrderBean.trackingCode}"></span>
                                            <strong th:text="${orderBean.trackingCode}"></strong>
                                        </p>
                                    </div>
                                    <div class="col-md-4 text-right" th:switch="${orderBean.status}">
                                        <form class="" method="post" th:case="0"
                                            th:action="@{/admin/order/__${orderBean.id}__/start}">
                                            <button type="submit" class="btn btn-success" th:text="#{order.start}"></button>
	                                        <a th:href="@{/admin/order/__${orderBean.id}__/cancel}" 
	                                           th:text="#{order.cancel}" class="btn btn-danger" ></a>
                                        </form>
                                        <form class="" method="post" th:case="1"
                                            th:action="@{/admin/order/__${orderBean.id}__/pay}" >
                                            <button type="submit" class="btn btn-success" th:text="#{order.pay}"></button>
	                                        <a th:href="@{/admin/order/__${orderBean.id}__/cancel}" 
	                                           th:text="#{order.cancel}" class="btn btn-danger" ></a>
                                        </form>
                                        <form class="" method="post" th:case="2"
                                            th:action="@{/admin/order/__${orderBean.id}__/send}" >
                                            <div class="input-group">
                                                <input type="text" name="trackingCode" class="form-control" th:placehold="#{OrderBean.trackingCode}"/>
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-success" th:text="#{order.send}"></button>
                                                </span>
                                            </div>
                                        </form>
                                        <form class="" method="post" th:case="3"
                                            th:action="@{/admin/order/__${orderBean.id}__/finish}" >
                                                <button type="submit" class="btn btn-success" th:text="#{order.finish}"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{/admin/order/__${orderBean.id}__}" method="post" th:if="${orderBean.status == 0}">
                                <div class="table-responsive" th:if="${orderBean.status == 0}">
                                    <table class="table" >
                                        <tr>
                                            <th class="text-center" style="width:40%" th:text="#{OrderItemBean.title}">title</th>
                                            <th class="text-center" th:text="#{OrderItemBean.price}">price</th>
                                            <th class="text-center" th:text="#{OrderItemBean.quantity}">quantity</th>
                                            <th class="text-center" th:text="#{OrderBean.amount}">amountJp</th>
                                            <th class="text-center" th:text="#{OrderBean.total}">total</th>
                                            <th class="text-center" ></th>
                                        </tr>
                                        <tr th:each="item: ${itemList}">
                                            <td >
                                                <input type="hidden" name="orderItemId[]" th:value="${item.id}" />
                                                <input type="text" name="title[]" class="form-control" th:value="${item.title}"/>
                                                <input type="text" name="url[]" class="form-control" th:value="${item.url}"/>
                                            </td>
                                            <td class="text-center">
                                                <div class="form-group" >
                                                    <input type="number" name="price[]" class="form-control" min="0"
                                                        th:value="${#numbers.formatInteger(item.price,1)}" />
                                                </div>
                                            </td>
                                            <td class="text-center" >
                                                <div class="form-group" >
                                                    <input type="number" name="quantity[]" class="form-control" min="1"
                                                        th:value="${#numbers.formatInteger(item.quantity,1)}"  />
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(item.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp</p>
                                                <div class="form-group" >
                                                    <input type="number" name="exchangeRate[]" class="form-control" step="0.001" min="0"
                                                        th:value="${#numbers.formatDecimal(item.exchangeRate,1,'NONE',3,'POINT')}" />
                                                </div>
                                            </td>
                                            <td class="text-center" >
                                                <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(item.total,1,'COMMA',2,'POINT')})}"></p>
                                                <div class="form-group" >
                                                    <input type="number" name="fee[]" class="form-control" step="0.01" min="0"
                                                        th:value="${#numbers.formatDecimal(item.fee,1,'NONE',2,'POINT')}" />
                                                </div>
                                            </td>
                                            <td class="text-center" >
                                                <a th:href="@{/admin/order/__${orderBean.id}__/remove/__${item.id}__}" class="btn btn-danger">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <td class="text-center">
                                                <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(orderBean.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(orderBean.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp + item.tax</p>
                                            </td>
                                            <td class="text-center" >
                                                <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.total,1,'COMMA',2,'POINT')})}"></p>
                                                <p class="help-block" th:text="#{order.fee(#{order.CNY(${#numbers.formatDecimal(orderBean.fee,1,'COMMA',2,'POINT')})})}"></p>
                                            </td>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <button type="submit" th:text="#{button.save}" class="btn btn-success"></button>
                                </div>
                            </form>
                            <div class="table-responsive" th:unless="${orderBean.status == 0}">
                                <table class="table">
                                    <tr>
                                        <th class="text-center" style="width:40%" th:text="#{OrderItemBean.title}">title</th>
                                        <th class="text-center" th:text="#{OrderItemBean.price}">price</th>
                                        <th class="text-center" th:text="#{OrderItemBean.quantity}">quantity</th>
                                        <th class="text-center" th:text="#{OrderBean.amount}">amountJp</th>
                                        <th class="text-center" th:text="#{OrderBean.total}">total</th>
                                    </tr>
                                    <tr th:each="item: ${itemList}">
                                        <td>
                                            <p class="form-control-static" th:text="${item.title}">item.title</p>
                                            <p class="help-block" >
                                                <a target="_blank" th:href="${item.url}" th:text="${item.url}" th:alt-title="${item.shop}">
                                                    item.url
                                                </a>
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.price,1,'COMMA')})}">item.price</p>
                                        </td>
                                        <td class="text-center" >
                                            <p class="form-control-static" th:text="#{order.quantity(${#numbers.formatInteger(item.quantity,1,'COMMA')})}">item.quantity</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(item.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp</p>
                                            <p class="help-block" th:text="#{order.exchange(${#numbers.formatDecimal(item.exchangeRate * 100,1,'COMMA',1,'POINT')})}"></p>
                                        </td>
                                        <td class="text-center" >
                                            <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(item.total,1,'COMMA',2,'POINT')})}"></p>
                                            <p class="help-block" th:text="#{order.fee(#{order.CNY(${#numbers.formatDecimal(item.fee,1,'COMMA',2,'POINT')})})}"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <td class="text-center">
                                            <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(orderBean.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(orderBean.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp + item.tax</p>
                                        </td>
                                        <td class="text-center" >
                                            <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.total,1,'COMMA',2,'POINT')})}"></p>
                                            <p class="help-block" th:text="#{order.fee(#{order.CNY(${#numbers.formatDecimal(orderBean.fee,1,'COMMA',2,'POINT')})})}"></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="http://cdn.bootcss.com/numeral.js/1.5.3/numeral.min.js"></script>
            <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
            <script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
            <script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
            <script type="text/javascript" src="../../static/tongrenlu/js/tongrenlu-trianglify.js" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                $(function() {
                    $('.container-header').trianglify({
                        palette: 'console'
                    });
                });
            </script>
        </div>
    </body>
</html>