<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="console/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{admin.order} + ' | ' + #{console}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{admin.order.user(${orderBean.userBean})}"></h1>
                        </div>
                    </div>
                </div>
                <div class="container-tab">
                    <div class="container">
                        <ul class="nav">
                            <li>
                                <a th:href="@{/admin/order}">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/order/user/__${orderBean.userBean.id}__}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="" th:text="#{admin.order.user(${orderBean.userBean})}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div id="shop-cart-container">
                        <div class="panel card">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="" th:switch="${orderBean.status}">
                                            <span class="text-lg" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.total,1,'COMMA',2,'POINT')})}"></span>
                                            <small class="label label-default" th:case="0" th:text="#{OrderBean.status.created}"></small>
                                            <small class="label label-primary" th:case="1" th:text="#{OrderBean.status.started}"></small>
                                            <small class="label label-warning" th:case="2" th:text="#{OrderBean.status.paid}"></small>
                                            <small class="label label-info" th:case="3" th:text="#{OrderBean.status.send.group}"></small>
                                            <small class="label label-success" th:case="4" th:text="#{OrderBean.status.send.direct}"></small>
                                            <small class="label label-success" th:case="5" th:text="#{OrderBean.status.finish}"></small>
                                            <small class="label label-default" th:case="9" th:text="#{OrderBean.status.canceled}"></small>
                                        </p>
                                    </div><!--  -->
                                    <div class=" col-md-4" >
                                        <p class="" th:switch="${orderBean.shippingMethod}">
                                            <span class="text-md" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.shippingFee,1,'COMMA',2,'POINT')})}"></span>
                                            
                                            <span class="label label-primary" th:case="3" th:text="#{OrderBean.shipping.ems}"></span>
                                            <span class="label label-success" th:case="2" th:text="#{OrderBean.shipping.sal}"></span>
                                            <span class="label label-default" th:case="*" th:text="#{OrderBean.shipping.group}"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"  th:if="${orderBean.status} eq 1">
                                        <a th:href="${orderBean.payLink}" 
                                            target="_blank" class="btn btn-link">
                                            <span class="glyphicon glyphicon-yen"></span>
                                            <span class="" th:text="${orderBean.payLink}"></span>
                                        </a>
                                    </div><!--  -->
                                    <div class="col-md-4" th:if="${orderBean.payNo}">
                                            <span th:text="#{OrderBean.payNo}"></span>
                                            <a th:href="@{http://trade.taobao.com/trade/detail/trade_item_detail.htm?bizOrderId=__${orderBean.payNo}__}"
                                                th:text="${orderBean.payNo}"
                                                class="btn btn-primary" target="_blank">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </a>
                                    </div><!--  -->
                                    <div class="col-md-4" th:if="${orderBean.trackingCode}">
                                        <p class="form-control-static">
                                            <span th:text="#{OrderBean.trackingCode}"></span>
                                            <strong class="label label-success"  th:text="${orderBean.trackingCode}"></strong>
                                        </p>
                                    </div><!--  -->
                                </div>
                            </div>
                            <form th:action="@{/admin/order/__${orderBean.id}__}" method="post" >
                                <div class="table-responsive" >
                                    <table class="table" >
                                        <tr>
                                            <th class="text-center" style="width:40%" th:text="#{OrderItemBean.title}">title</th>
                                            <th class="text-center" style="width:10%" th:text="#{OrderItemBean.price}">price</th>
                                            <th class="text-center" style="width:10%" th:text="#{OrderItemBean.quantity}">quantity</th>
                                            <th class="text-center" th:text="#{OrderBean.amount}">amountJp</th>
                                            <th class="text-center" th:text="#{OrderBean.total}">total</th>
                                            <th class="text-center"></th>
                                        </tr>
                                        <tr th:each="item: ${itemList}">
                                            <td >
                                                <input type="hidden" name="orderItemId[]" th:value="${item.id}" />
                                                <input type="text" name="title[]" class="form-control" th:value="${item.title}"/>
                                                <input type="text" name="url[]" class="form-control" th:value="${item.url}"/>
                                            </td>
                                            <td class="text-center">
                                                <div class="form-group" >
                                                    <input type="number" name="price[]" class="form-control" min="0"
                                                        th:value="${#numbers.formatInteger(item.price,1)}" />
                                                </div>
                                            </td>
                                            <td class="text-center" >
                                                <div class="form-group" >
                                                    <input type="number" name="quantity[]" class="form-control" min="1"
                                                        th:value="${#numbers.formatInteger(item.quantity,1)}"  />
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(item.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp</p>
                                                <div class="form-group" >
                                                    <input type="number" name="exchangeRate[]" class="form-control" step="0.001" min="0"
                                                        th:value="${#numbers.formatDecimal(item.exchangeRate,1,'NONE',3,'POINT')}" />
                                                </div>
                                            </td>
                                            <td class="text-center" >
                                                <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(item.total,1,'COMMA',2,'POINT')})}"></p>
                                                <div class="form-group" >
                                                    <input type="number" name="fee[]" class="form-control" step="0.01" min="0"
                                                        th:value="${#numbers.formatDecimal(item.fee,1,'NONE',2,'POINT')}" />
                                                </div>
                                            </td>
                                            <td class="text-center" >
                                                <a th:href="@{/admin/order/__${orderBean.id}__/remove/__${item.id}__}" class="btn btn-danger">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <td class="text-center">
                                                <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(orderBean.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(orderBean.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp + item.tax</p>
                                            </td>
                                            <td class="text-center" >
                                                <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.amountCn + orderBean.fee,1,'COMMA',2,'POINT')})}"></p>
                                                <p class="help-block" th:text="#{order.fee(#{order.CNY(${#numbers.formatDecimal(orderBean.fee,1,'COMMA',2,'POINT')})})}"></p>
                                            </td>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel-body">
                                    <div class="btn-group append-bottom-lg" data-toggle="buttons">
                                      <label class="btn btn-default" th:classappend="${orderBean.shippingMethod} eq '3' ? 'btn-primary active'">
                                        <input type="radio" name="shippingMethod" id="shipping-method-ems" th:checked="${orderBean.shippingMethod} eq '3'" value="3" autocomplete="off" /> 
                                        <span class="" th:text="#{OrderBean.shipping.ems}"></span>
                                      </label>
                                      <label class="btn btn-default" th:classappend="${orderBean.shippingMethod} eq '2' ? 'btn-success active'">
                                        <input type="radio" name="shippingMethod" id="shipping-method-sal" th:checked="${orderBean.shippingMethod} eq '2'" value="2" autocomplete="off"/> 
                                        <span class="" th:text="#{OrderBean.shipping.sal}"></span>
                                      </label>
                                      <label class="btn btn-default" th:classappend="${orderBean.shippingMethod} eq '1' ? 'active'">
                                        <input type="radio" name="shippingMethod" id="shipping-method-group" value="1" th:checked="${orderBean.shippingMethod} eq '1'" autocomplete="off"/> 
                                        <span class="" th:text="#{OrderBean.shipping.group}"></span>
                                      </label>
                                    </div>
                                    <div class="append-bottom-lg" >
                                        <button type="submit" th:text="#{button.save}" class="btn btn-success"></button>
                                    </div>
                                </div>
                            </form>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-8"  th:if="${orderBean.status} eq 0">
                                        <form class="" method="post" th:action="@{/admin/order/__${orderBean.id}__/start}">
                                            <div class="form-group">
                                                        <button type="submit" class="btn btn-success" th:text="#{order.start}"></button>
                                            </div>
                                        </form>
                                    </div><!--  -->
                                    <div class="col-md-4 text-right" th:if="${orderBean.status} lt 2">
                                        <a th:href="@{/admin/order/__${orderBean.id}__/cancel}" 
                                           th:text="#{order.cancel}" class="btn btn-danger" ></a>
                                    </div><!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="http://static.tongrenlu.info/Numeral/1.5.3/min/numeral.min.js"></script>
            <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates/2.5.3/js/tmpl.min.js"></script>

            <div th:replace="x-tmpl/order-view::template-order-status"></div>

            <script type="text/javascript" th:inline="javascript">
            $(function(){
            	$('.order-item-status').each(function(index, element) {
            		var $element = $(element);
                    $element.html(tmpl('template-order-status', $element.data()));
            	}).on('click', '.btn-status', function(e) {
            		e.preventDefault();
            		var $this = $(this);
                    var itemId = $this.data('itemId');
            		var status = $this.data('status');
            		var data = {
            			"status": status,
            			"itemId[]": [itemId]
            		}
            		
            		var url = /*[[@{/admin/order/item/status}]]*/ '';
            		$.post(url, data).done(function(response) {
            			if(response.result) {
            				$this.parents('.order-item-status').html(tmpl('template-order-status', response));
            			}
            		});
            	});
            });
            </script>
        </div>
    </body>
</html>