<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="home/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/bootstrap-3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/tongrenlu/css/screen.css}" href="../../static/tongrenlu/css/screen.css" />
    <script th:src="@{/tongrenlu/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}" src="../../static/tongrenlu/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/tongrenlu/css/tongrenlu-fm.css}" href="../../static/tongrenlu/css/tongrenlu-fm.css" media="screen" />
    <link rel="stylesheet" type="text/css" th:href="@{/tongrenlu/css/jplayer.tongrenlu.css}" href="../../static/tongrenlu/css/jplayer.tongrenlu.css" media="screen" />
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" layout:fragment="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only" th:text="#{application}"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#index" th:text="#{home.fm}">FM</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#player" th:text="#{home.fm.player}">playing</a>
                    </li>
                </ul>
                <form id="fm-search-form" class="navbar-form navbar-left" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="inputSearch" th:text="#{home.fm.search}">Search</label>
                        <input type="text" class="form-control" name="q" th:placeholder="#{home.fm.search}" />
                    </div>
                    <button type="submit" class="btn btn-default" th:text="#{button.search}">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/}" th:text="#{application}">Application</a>
                    </li>
                    <li id="nav-signin" class="hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="nav-nickname" th:text="#{UserBean.nickname}">Guest</span>  <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/signup}" th:text="#{login.signup}" target="_blank">Sign up</a>
                            </li>
                            <li>
                                <a href="#signinModal" data-toggle="modal" th:text="#{login.signin}">Sign in</a>
                            </li>
                        </ul>
                    </li>
                    <li id="nav-console" class="hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="nav-nickname" th:text="#{UserBean.nickname}">Name</span>  <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/signout}" th:text="#{login.signout}">Sign Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="fm-main" layout:fragment="content">
        <div id="fm-index" class="fm-page fm-page-1">
            <div class="list-content">
                <ul class="media-list"></ul>
                <ul class="pager">
                    <li class="">
                        <a href="#">
                            <span th:text="#{button.more}">Show more</span>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="empty container hidden">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="alert alert-info">
                            <h4>Search</h4>
                            <p>To align components in navbars with utility classes, use .navbar-left or .navbar-right instead. See the navbar docs for details.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fm-music" class="fm-page fm-page-2 hidden">
            <div class="fm-page-nav visible-xs">
                <button class="btn btn-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span>Back</span>
                </button>
            </div>
            <div class="container-fluid">
                <div class="page-header">
                    <div class="media">
                        <img src="http://placehold.it/60x60" class="pull-left media-object" />
                        <div class="media-body">
                            <h4 class="">Title</h4>
                        </div>
                        
                    </div>
                </div>
                <div class="btn-tools append-bottom">
                    <div class="btn-group">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-play"></span>
                            <span class="">Play</span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="">Page</span>
                        </button>
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-heart"></span>
                            <span class="">Like</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="fm-search" class="fm-page fm-page-1 hidden">
            <div class="fm-page-nav visible-xs">
                <a href="#index" class="btn btn-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span>Back</span>
                </a>
            </div>
            <div class="list-content hidden">
                <ul class="media-list"></ul>
                <ul class="pager">
                    <li class="">
                        <a href="#">
                            <span th:text="#{button.more}">Show more</span>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="empty hidden">
                <div class="container-fluid">
                    <div class="alert alert-info">
                        <h4 th:text="home.fm.search">Search</h4>
                        <p th:text="home.fm.search.emtpy">Empty</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="fm-playlist" class="fm-page fm-page-1 hidden">
            <div class="fm-page-content">
                <h1>Title</h1>
            </div>
        </div>
        <div id="fm-player" class="fm-page fm-page-3">
            <div class="fm-page-nav visible-xs">
                <a href="javascript:history.go(-1);" class="btn btn-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span th:text="#{button.back}">Back</span>
                </a>
            </div>
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio">
                <div class="jp-type-playlist">
                    <div class="jp-gui">
                        <div class="jp-interface">
                            <div class="jp-progress">
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                </div>
                            </div>
                            <ul class="jp-toggles">
                                <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle"><span class="glyphicon glyphicon-random"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off"><span class="glyphicon glyphicon-random"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat"><span class="glyphicon glyphicon-repeat"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off"><span class="glyphicon glyphicon-repeat"></span></a>
                                </li>
                            </ul>
                            <ul class="jp-controls">
                                <li><a href="javascript:;" class="jp-previous" tabindex="1"><span class="glyphicon glyphicon-backward"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-play" tabindex="1"><span class="glyphicon glyphicon-play"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-pause" tabindex="1"><span class="glyphicon glyphicon-pause"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-next" tabindex="1"><span class="glyphicon glyphicon-forward"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-stop" tabindex="1"><span class="glyphicon glyphicon-stop"></span></a>
                                </li>
                            </ul>
                            <ul class="jp-volumn hidden-xs">
                                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><span class="glyphicon glyphicon-volume-down"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><span class="glyphicon glyphicon-volume-off"></span></a>
                                </li>
                                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"><span class="glyphicon glyphicon-volume-up"></span></a>
                                </li>
                            </ul>
                            <div class="jp-volume-bar hidden-xs">
                                <div class="jp-volume-bar-value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="jp-playlist">
                        <ul>
                            <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                            <li></li>
                        </ul>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="footer"></div>
    <script type="text/javascript" src="http://static.tongrenlu.info/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://static.tongrenlu.info/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-MD5-1.1.0/js/md5.min.js"></script>
    <div layout:fragment="scripts">
        <div th:replace="x-tmpl/fm::template-music-item"></div>
        <div th:replace="x-tmpl/fm::template-music-page"></div>
        <div th:replace="x-tmpl/fm::template-search-item"></div>
        <div th:replace="x-tmpl/fm::template-playlist-item"></div>

        <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
        <script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jplayer.playlist.min.js"></script>
        <script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-login.js}" src="../../static/tongrenlu/js/tongrenlu-login.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $(function () {
                var _login = new login({
                    saltUrl: /*[[@{/signin/salt}]]*/ '/signin/salt',
                    signinUrl: /*[[@{/signin}]]*/ '/signin',
                    networkErrorMessage: /*[[#{error.network}]]*/ 'network error'
                }).signin({
                    id: /*[[${session.LOGIN_USER.id}]]*/ 0,
                    nickname: /*[[${session.LOGIN_USER.nickname}]]*/ 'Guest',
                    guest: /*[[${session.LOGIN_USER.guest}]]*/ true
                });
            })
        </script>
        <script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-fm.js}" src="../../static/tongrenlu/js/tongrenlu-fm-ui.js"></script>
        <script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-likebutton.js}" src="../../static/tongrenlu/js/tongrenlu-likebutton.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $(function () {
                new fm({
                    musicUrl: /*[[@{/fm/music}]]*/ '',
                    filePath: /*[[@{/files}]]*/ '',
                    searchUrl: /*[[@{/fm/search/track}]]*/ ''
                });
            });
        </script>
    </div>
</body>

</html>