<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
  <body>
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-sm-8">
                <form th:action="@{/search}" method="get">
                    <div class="input-group">
                      <input type="text" class="form-control" name="q"/>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" th:text="#{button.search}">SEARCH</button>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </form>
                <hr />
                <th:block th:unless="${#lists.isEmpty(page.items)}">
                    <ul class="media-list">
                      <li class="media" th:each="articleBean : ${page.items}">
                        <a class="pull-left" th:href="@{/comic/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                          <img class="media-object img-120 hidden-xs" src="http://placehold.it/120x120" 
                               th:src="@{/files/c__${articleBean.id}__/cover_120.jpg(nocache=${#dates.createNow()})}"
                               th:alt-title="${articleBean.title}" />
                          <img class="media-object img-60 visible-xs" src="http://placehold.it/60x60" 
                               th:src="@{/files/c__${articleBean.id}__/cover_60.jpg(nocache=${#dates.createNow()})}"
                               th:alt-title="${articleBean.title}" />
                        </a>
                        <div class="media-body">
                          <div class="article-list-item">
                          <h5 class="media-heading text-single-line">
                            <span class="label label-danger" th:if="${articleBean.red}" th:text="#{ComicBean.redFlg.true}"></span>
                            <span class="label label-success" th:unless="${articleBean.red}" th:text="#{ComicBean.redFlg.false}"></span>
                            <span class="label label-info" th:if="${articleBean.translate}" th:text="#{ComicBean.translateFlg.true}"></span>
                            <span class="label label-warning" th:unless="${articleBean.translate}" th:text="#{ComicBean.translateFlg.false}"></span>
                            <a th:href="@{/comic/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                <strong th:text="${articleBean.title}" ></strong>
                            </a>
                          </h5>
                          <p th:text="${articleBean.description}"></p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <hr />
                    <div id="jpaginate" class="hidden-xs hidden-sm"></div>
                </th:block>
                <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                    <h4 th:text="#{home.article.noData}"></h4>
                    <a th:href="@{/comic}" th:text="#{button.back}" class="btn btn-default"></a>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $("#jpaginate").paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        display     : 10,
        border                  : true,
        border_color            : '#fff',
        text_color              : '#fff',
        background_color        : '#428bca',  
        border_hover_color      : '#3498db',
        text_hover_color        : '#fff',
        background_hover_color  : '#2980b9', 
        images                  : false,
        onChange                : function (currval){
        	var url = /*[[@{/comic(p='')}]]*/ '/comic';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
  </body>
</html>