<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
  <head>
    <link rel="stylesheet" th:href="@{/tongrenlu/css/jplayer.tongrenlu.css}" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/Gallery-2.15.0/css/blueimp-gallery.min.css" />
  </head>
  <body>
    <div layout:fragment="content">
    <div class="container">
      <div class="media">
          <div class="media-heading pull-left">
              <img src="http://placehold.it/60x60" class="img-responsive img-rounded" 
                 th:src="@{/files/c__${articleBean.id}__/cover_60.jpg}" th:alt-title="${articleBean.title}"/>
          </div>
          <div class="media-body">
              <h1 class="article-title"><span th:text="${articleBean.title}"></span></h1>
          </div>
      </div>
    </div>
    <div class="container-fuild">
          <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
              <div class="slides"></div>
              <h3 class="title"></h3>
              <a class="prev">&lsaquo;</a>
              <a class="next">&rsaquo;</a>
              <a class="play-pause"></a>
              <ol class="indicator"></ol>
          </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="page-header">
              <h4 th:text="#{console.article.info}"></h4>
          </div>
          <ul class="list-inline">
              <li>
                <span th:text="#{home.article.owner} + ' :'">Owner :</span>
                <a th:href="@{/user/__${articleBean.userBean.id}__}" th:alt-title="${articleBean.userBean}">
                    <strong th:text="${articleBean.userBean}"></strong>
                </a>
              </li>
              <li>
                <span th:text="#{ArticleBean.accessCount} + ' :'">Access :</span>
                <strong th:text="${articleBean.accessCount}"></strong>
              </li>
              <li>
                <span th:text="#{ArticleBean.likeCount} + ' :'">Access :</span>
                <strong th:text="${articleBean.likeCount}"></strong>
              </li>
              <li>
                <span th:text="#{ArticleBean.commentCount} + ' :'">Access :</span>
                <strong th:text="${articleBean.commentCount}"></strong>
              </li>
          </ul>
          <pre id="article-description" th:text="${articleBean.description}"></pre>
          <ul class="list-inline">
              <li><strong th:text="#{ArticleBean.tag} + ' :'">Tags :</strong></li>
              <li th:each="tag : ${tags}">
                <a href="#" class="btn btn-xs btn-default" >
                  <span th:text="${tag}"></span>
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/Gallery-2.15.0/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-likebutton.js}" ></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    var pictureDataUrl = /*[[@{/comic/__${articleBean.id}__/picture}]]*/ '';
    var filePath = /*[[@{/files/c__${articleBean.id}__}]]*/'';
    
    new carousel({
        url: pictureDataUrl,
        filePath: filePath,
        startSlideshow: false
    });
    
    new likebutton({
        selector: '#like-article',
        url: /*[[@{/comic/__${articleBean.id}__/like}]]*/ '',
        likeText: likeText = /*[[#{home.article.like}]]*/ '',
        unlikeText: unlikeText = /*[[#{home.article.unlike}]]*/ ''
    });
    
    new likebutton({
        selector: '#like-user',
        url: /*[[@{/user/__${articleBean.userBean.id}__/like}]]*/ '',
        likeText: '',
        unlikeText: ''
    });
    
    $('#article-description').url();
});
</script>
</th:block>
  </body>
</html>