<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout_article_view">
  <body>
    <div class="container" layout:fragment="article-info">
      <div class="row">
        <div class="col-sm-6">
            <div id="baseinfo" th:include="home/layout_article_view::article-baseinfo"></div>
        </div>
        <div class="col-sm-6">
            <div id="comment" th:include="home/layout_article_view::article-comment"></div>
        </div>
      </div>
    </div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/Gallery-2.15.0/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-likebutton.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-tag.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-comment.js}" ></script>
<script id="template-tag-item" type="text/x-tmpl" th:inline="text">
<li>
    <a href="{%=o.tagPath%}/{%=o.tag%}" class="btn btn-xs btn-default">
        {%=o.tag%} ({%=o.articleCount%})
    </a>
</li>
</script>
<script id="template-comment-item" type="text/x-tmpl" th:inline="text">
        <li class="media">
            <a href="/user/{%=o.userBean.id%}" title="{%=o.userBean.nickname%}#{%=o.userBean.id%}" class="pull-left" target="_blank">
                <img src="/files/u{%=o.userBean.id%}/cover_60.jpg" class="img-60" />
            </a>
            <div class="media-body">
                <h5 class="media-heading">
                    <a href="/user/{%=o.userBean.id%}"
                       title="{%=o.userBean.nickname%}#{%=o.userBean.id%}" 
                       target="_blank">
                        <strong>{%=o.userBean.nickname%}#{%=o.userBean.id%}</strong>
                    </a>
                    <small class="text-muted"> {%=o.createDate%}</small>
                    <button class="btn btn-info btn-xs hidden" >
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span th:text="#{home.article.comment.reply}"></span>
                    </button>
                </h5>
                <pre>{%=o.content%}</pre>
            </div>
        </li>
</script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    var pictureDataUrl = /*[[@{/comic/__${articleBean.id}__/picture}]]*/ '';
    var filePath = /*[[@{/files/c__${articleBean.id}__}]]*/'';
    
    new carousel({
        url: pictureDataUrl,
        filePath: filePath,
        startSlideshow: false
    });
    
    new tag({
        url: /*[[@{/comic/__${articleBean.id}__/tag}]]*/ '/comic/1/tag',
        tagPath: /*[[@{/tag}]]*/'/tag',
        template: 'template-tag-item'
    });
    
    new comment({
    	url: /*[[@{/comic/__${articleBean.id}__/comment}]]*/''
    });
    
    $('#article-description').url();
    
    $('#like-article').likebutton({
        url: /*[[@{/comic/__${articleBean.id}__/like}]]*/ '',
        notlikeText: /*[[#{home.article.notlike}]]*/ '',
        likeText: /*[[#{home.article.like}]]*/ '',
        unlikeText: /*[[#{home.article.unlike}]]*/ ''
    });

});
</script>
</th:block>
  </body>
</html>