<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="wb:webmaster" content="8e90072a3b17c980" />
    <link rel="canonical" href="http://www.tongrenlu.info" />
    <link rel="stylesheet" type="text/css" th:href="@{/tongrenlu/css/tongrenlu-gallery.css}" />
    <meta name="description" content="http://www.tongrenlu.info 东方同人录" />
</head>
<body class="hide-nav-search">
    <div layout:fragment="content">
        <div id="top-music" class="container-wrap" >
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <form class="append-top-lg" th:action="@{/music/search}" method="get" role="search">
                            <div class="input-group">
                                <input type="text" name="q" id="inputMusicSearch"
                                    class="form-control" 
                                    autocomplete="off"
                                    th:placeholder="#{home.search.music.hint}"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                        <span class="hidden-xs" th:text="#{home.search.music}"></span>
                                    </button>
                                    <a th:href="@{/music/lucky}" class="btn btn-info">
                                        <span class="glyphicon glyphicon-star" rel="nofollow"></span>
                                        <span class="hidden-xs" th:text="#{home.music.lucky}"></span>
                                    </a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="gallery" class="gallery clearfix">
                <th:block th:each="articleBean,iterStat : ${musicRanking}">
                    <div class="large pull-left " th:if="${iterStat.index == 0}">
                        <img th:src="@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_400.jpg}"
                             th:alt-title="${articleBean.title}" />
                        <div class="gallery-overlay">
                            <h2 class="gallery-title" th:text="${articleBean.title}"></h2>
                        </div>
                        <a th:href="@{/music/__${articleBean.id}__}" 
                           th:alt-title="${articleBean.title}" >
                        </a>
                    </div>
                    <div class="large pull-right " th:if="${iterStat.index == 22}">
                        <img th:src="@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_400.jpg}"
                             th:alt-title="${articleBean.title}" />
                        <div class="gallery-overlay">
                            <h2 class="gallery-title" th:text="${articleBean.title}"></h2>
                        </div>
                        <a th:href="@{/music/__${articleBean.id}__}" 
                           th:alt-title="${articleBean.title}" >
                        </a>
                    </div>
                    <div class="pull-left " th:unless="${iterStat.index == 0 or iterStat.index == 22}">
                        <img th:src="@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_180.jpg}"
                             th:alt-title="${articleBean.title}" />
                        <div class="gallery-overlay">
                            <h2 class="gallery-title" th:text="${articleBean.title}"></h2>
                        </div>
                        <a th:href="@{/music/__${articleBean.id}__}" 
                           th:alt-title="${articleBean.title}" >
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
        <div id="top-tags" class="container-wrap" >
            <div th:replace="home/layout_index::top-tags-comiket"></div>
            <div th:replace="home/layout_index::top-tags-reitaisai"></div>
            <div th:replace="home/layout_index::top-tags-other"></div>
        </div>
        <div id="top-links" class="container-wrap" >
            <div class="container">
                <h2 th:text="#{home.links}"></h2>
                <div class="row " >
                    <div class="col-md-8 col-sm-6">
                        <div class="list-group " >
                            <div class="list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://static.tongrenlu.info/tongrenlu/ost.html" target="_blank" title="原曲列表">原曲列表</a>
                                        </h3>
                                        <p class="text-muted">东方Project原曲列表</p>
                                    </div>
                                </div>
                            </div>
                            <div class=" list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://bbs.nyasama.com/" target="_blank" title="喵玉殿论坛">喵玉殿论坛</a>
                                        </h3>
                                        <p class="text-muted">东方Project主题论坛</p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://down.thwiki.cc/" target="_blank" title="THBWiki下载站">THBWiki下载站</a>
                                        </h3>
                                        <p class="text-muted">音乐资源花样下载</p>
                                    </div>
                                </div>
                            </div>
                            <div class=" list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://thvideo.tv/" target="_blank" title="TouhouVideo弹幕视频网">TouhouVideo弹幕视频</a>
                                        </h3>
                                        <p class="text-muted">东方Project专门弹幕视频网站</p>
                                    </div>
                                </div>
                            </div>
                            <div class=" list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a th:href="@{http://tieba.baidu.com/f(kw='%B6%AB%B7%BD')}" target="_blank" title="东方吧">东方吧</a>
                                        </h3>
                                        <p class="text-muted">不解释</p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://otonikki.tongrenlu.info/" target="_blank" title="♪音日記♪">♪音日記♪</a>
                                        </h3>
                                        <p class="text-muted">ゆめにっきアレンジ＆イメージ合同CD</p>
                                    </div>
                                </div>
                            </div>
                            <div class=" list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://www.rpsg-team.com/" target="_blank" title="RPSG制作组">RPSG制作组</a>
                                        </h3>
                                        <p class="text-muted">国内同人制作团队</p>
                                    </div>
                                </div>
                            </div>
                            <div class=" list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://mengmao.org/" target="_blank" title="萌猫导航">萌猫导航</a>
                                        </h3>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </div>
                            <div class=" list-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="">
                                            <a href="http://www.moebaka.com/" target="_blank" title="呆萌導航">呆萌導航</a>
                                        </h3>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <iframe width="100%" height="760" class="share_self"  frameborder="0" scrolling="no" 
                            th:src="@{http://widget.weibo.com/weiboshow/index.php(language='',width=0,height=780,fansRow=2,ptype=1,speed=0,skin=1,isTitle=0,noborder=1,isWeibo=1,isFans=0,uid=2803325782,verifier=6daf321a,dpc=1)}">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="container">
             </div>
         </div>
     </div>
    <th:block layout:fragment="scripts">
        <div id="modal-notice" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                <p></p>
                <ol>
                    <li></li>
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">我知道了</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <script th:src="@{/tongrenlu/js/tongrenlu-smart-search.js}" ></script>
    </th:block>
</body>
</html>