<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
  <title th:inline="text">[[#{application.name}]]</title>
</head>
<body>
<div class="navbar navbar-default navbar-static-top" layout:fragment="header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"
        th:href="@{/}" 
        th:text="#{application.name}">
          application.name
      </a>
    </div>
      <ul class="nav navbar-nav navbar-left">
        <li ><a th:href="@{/music}" th:text="#{music}"></a></li>
        <li ><a th:href="@{/comic}" th:text="#{comic}"></a></li>
        <li ><a th:href="@{/search}" th:text="#{search}"></a></li>
        <li ><a th:href="@{/fm}" th:text="#{fm}"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="nav-signin" th:class="${session.LOGIN_USER} ? 'hidden' : 'show'">
          <a href="#signinModal" data-toggle="modal"
             th:text="#{application.signin}">
            sign in
          </a>
        </li>
        <li id="nav-signup" th:class="${session.LOGIN_USER} ? 'hidden' : 'show'">
          <a th:href="@{/signup}" th:text="#{application.signup}">
            sign up
          </a>
        </li>
        <li id="nav-console" th:class="${session.LOGIN_USER} ? 'dropdown show' : 'dropdown hidden'">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            <span id="nav-nickname" th:text="${session.LOGIN_USER} ? ${session.LOGIN_USER.nickname} : #{UserBean.nickname}"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ><a th:href="@{/console}" th:text="#{console}"></a></li>
            <li class="divider"></li>
            <li ><a th:href="@{/signout}" th:text="#{signout}"></a></li>
          </ul>
        </li>
      </ul>
  </div>
</div>
<div class="navbar navbar-fixed-bottom" layout:fragment="footer">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"
        th:href="@{/}" 
        th:text="#{application.name}">
          application
      </a>
    </div>
  </div>
</div>
<th:block layout:fragment="scripts-libs">
<!-- Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="signinModalLabel" th:text="#{signin}">sign in</h4>
      </div>
      <form id="login-form" class="form-horizontal" method="post">
        <div class="modal-body">
          <div id="form-group-email" class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label" 
                th:text="#{UserBean.email}">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" 
                id="inputEmail" name="email"
                th:placeholder="#{UserBean.email}"/>
            </div>
          </div>
          <div id="form-group-password" class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label" 
                th:text="#{UserBean.password}">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" 
                id="inputPassword"
                placeholder="Password" th:placeholder="#{UserBean.password}"/>
              <input type="hidden" id="hiddenPassword" name="password"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="autoLogin" value="1" checked="true"/>
                  <span th:text="#{UserBean.autologin}">Remember me</span> 
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="overflow:hidden">
          <a th:href="@{/forgot}" class="btn btn-default pull-left"
            th:text="#{forgot}">Forgot</a>
          <button type="submit" class="btn btn-success pull-right"
            th:text="#{signin}">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script th:src="@{/JavaScript-MD5-1.1.0/js/md5.min.js}" ></script>
<script type="text/javascript" th:inline="javascript">
$(function(){
	var $loginForm = $('#login-form');
	$loginForm.submit(function(e){
    	e.preventDefault();
    	
    	var saltUrl = /** [[@{/salt}]] **/ '/salt';
    	$.get(saltUrl).success(function(response){
    		if(response) {
                var salt = response.salt;
    			var p = $('#inputPassword').val();
    			if(p){
    	            $('#hiddenPassword').val(md5(md5(p) + salt));
    	        }

                var $formGroupEmail = $('#form-group-email');
                $formGroupEmail.removeClass('has-error has-feedback');
                $formGroupEmail.find('.form-control-feedback').remove();
                $formGroupEmail.find('.help-block').remove();
                
                var $formGroupPassword = $('#form-group-password');
                $formGroupPassword.removeClass('has-error has-feedback');
                $formGroupPassword.find('.form-control-feedback').remove();
                $formGroupPassword.find('.help-block').remove();
                
                hideLoginError();
                
    			var signinUrl = /** [[@{/signin}]] **/ '/signin';
    			$.post(signinUrl, $loginForm.serialize()).success(function(response) {
    				if(response) {
    					if(response.result) {
    						$('#signinModal').modal('hide');
    						$('#nav-signup').addClass('hidden').removeClass('show');
                            $('#nav-signin').addClass('hidden').removeClass('show');
                            $('#nav-console').addClass('show').removeClass('hidden');
                            $('#nav-nickname').text(response.loginUser.nickname);
    					} else {
    						if(response.emailError) {
    							$formGroupEmail.addClass('has-error has-feedback')
    							 .find('.form-control')
    							 .after('<span class="glyphicon glyphicon-remove form-control-feedback"></span>')
                                 .after($('<p class="help-block"></p>').text(response.emailError));
    						}
                            if(response.passwordError) {
                                $formGroupPassword.addClass('has-error has-feedback')
                                .find('.form-control')
                                .after('<span class="glyphicon glyphicon-remove form-control-feedback"></span>')
                                .after($('<p class="help-block"></p>').text(response.passwordError));
                            }
                            if(response.error) {
                            	showLoginError(response.error);
                            }
    					}
    				} else {
    					onNetworkError();
    				}
    			}).error(onNetworkError);
    		}
    	}).error(onNetworkError);
    });
    
    var onLoginNetworkError = function(){
        var message = /** [[#{error.network}]] **/ 'network error';
        showLoginError(message);
    };

    var showLoginError = function(message){
    	var $alert = $('<div class="alert alert-danger"></div>');
        $alert.text(message);
    	$alert.append('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>');
    	$alert.prependTo($loginForm.find('.modal-body'));
    	$alert.alert();
    };

    var hideLoginError = function(){
        $loginForm.find('.alert').remove();
    };
})
</script>
</th:block>
</body>
</html>
