<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="top-tags" class="container-wrap" >
        <div class="container" th:fragment="top-tags-reitaisai">
            <div class="page-header">
                <h3 th:text="#{home.music.reitaisai}"></h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-block append-bottom btn-danger" 
                       th:href="@{/tag/1826}" title="博丽神社例大祭12 (2015-05-10)">
                        <span >博丽神社例大祭12 (2015-05-10)</span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1826}" title="博丽神社例大祭11 (2014-05-11)">例大祭11</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1350}" >例大祭10</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1030}" >例大祭9</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1045}" >例大祭8</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1186}" >例大祭7</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1047}" >例大祭6</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1212}" >例大祭5</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1180}" >例大祭4</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1348}" >例大祭3</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1681}" >例大祭2</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:disabled="true" >例大祭1</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block btn-default append-bottom" 
                       th:href="@{/tag/1501}" >例大祭SP2</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block btn-default append-bottom" 
                       th:href="@{/tag/1215}" >例大祭SP1</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block btn-default append-bottom" 
                       th:href="@{/tag/2381}" >秋季例大祭1</a>
                </div>
            </div>
        </div>
        <div class="container" th:fragment="top-tags-comiket">
            <div class="page-header">
                <h3 th:text="#{home.music.comike}"></h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-block append-bottom btn-primary" 
                       th:href="@{/tag/2413}"  title="ComicMarket87 (2014-12-29)">
                        <span>ComicMarket87 (2014-12-29)</span>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/2184}" 
                       th:text="C86"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1783}" 
                       th:text="C85"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1563}" 
                       th:text="C84"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1082}" 
                       th:text="C83"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1029}" 
                       th:text="C82"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1028}" 
                       th:text="C81"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1008}" 
                       th:text="C80"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1042}" 
                       th:text="C79"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1027}" 
                       th:text="C78"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1025}" 
                       th:text="C77"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1020}" 
                       th:text="C76"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1006}" 
                       th:text="C75"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1213}" 
                       th:text="C74"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1004}" 
                       th:text="C73"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1003}" 
                       th:text="C72"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1001}" 
                       th:text="C71"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1220}" 
                       th:text="C70"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1221}" 
                       th:text="C69"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1628}" 
                       th:text="C68"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:disabled="true" 
                       th:text="C67"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <a class="btn btn-block append-bottom btn-default" 
                       th:href="@{/tag/1642}" 
                       th:text="C66"></a>
                </div>
            </div>
        </div>
        <div class="container" th:fragment="top-tags-other">
            <div class="page-header">
                <h3 th:text="#{home.music.other}"></h3>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="btn-group append-bottom">
                        <a class="btn  btn-default" th:href="@{/tag/1838}">M3</a>
                        <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">M3-34 (M3-2014秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/1838}" role="menuitem" tabindex="-1">M3-33 (M3-2014春)</a></li>
                            <li role="presentation"><a th:href="@{/tag/2404}" role="menuitem" tabindex="-1">M3-32 (M3-2013秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/1333}" role="menuitem" tabindex="-1">M3-31 (M3-2013春)</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">M3-30 (M3-2012秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/1179}" role="menuitem" tabindex="-1">M3-29 (M3-2012春)</a></li>
                            <li role="presentation"><a th:href="@{/tag/1439}" role="menuitem" tabindex="-1">M3-28 (M3-2011秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/1177}" role="menuitem" tabindex="-1">M3-27 (M3-2011春)</a></li>
                            <li role="presentation"><a th:href="@{/tag/1352}" role="menuitem" tabindex="-1">M3-26 (M3-2010秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/1526}" role="menuitem" tabindex="-1">M3-25 (M3-2010春)</a></li>
                            <li role="presentation"><a th:href="@{/tag/2135}" role="menuitem" tabindex="-1">M3-24 (M3-2009秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/2125}" role="menuitem" tabindex="-1">M3-23 (M3-2009春)</a></li>
                            <li role="presentation"><a th:href="@{/tag/2133}" role="menuitem" tabindex="-1">M3-22 (M3-2008秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/2152}" role="menuitem" tabindex="-1">M3-21 (M3-2008春)</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">M3-20 (M3-2007秋)</a></li>
                            <li role="presentation"><a th:href="@{/tag/2131}" role="menuitem" tabindex="-1">M3-19 (M3-2007春)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="btn-group append-bottom">
                        <a class="btn btn-default" th:href="@{/tag/2312}" >東方紅楼夢</a>
                        <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a th:href="@{/tag/2312}" role="menuitem" tabindex="-1">東方紅楼夢10</a></li>
                            <li role="presentation"><a th:href="@{/tag/1727}" role="menuitem" tabindex="-1">東方紅楼夢9</a></li>
                            <li role="presentation"><a th:href="@{/tag/1250}" role="menuitem" tabindex="-1">東方紅楼夢8</a></li>
                            <li role="presentation"><a th:href="@{/tag/1431}" role="menuitem" tabindex="-1">東方紅楼夢7</a></li>
                            <li role="presentation"><a th:href="@{/tag/1430}" role="menuitem" tabindex="-1">東方紅楼夢6</a></li>
                            <li role="presentation"><a th:href="@{/tag/1183}" role="menuitem" tabindex="-1">東方紅楼夢5</a></li>
                            <li role="presentation"><a th:href="@{/tag/1182}" role="menuitem" tabindex="-1">東方紅楼夢4</a></li>
                            <li role="presentation"><a th:href="@{/tag/1815}" role="menuitem" tabindex="-1">東方紅楼夢3</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">東方紅楼夢2</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">東方紅楼夢1</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="btn-group append-bottom">
                        <a class="btn btn-default" th:href="@{/tag/1843}" >大⑨州東方祭</a>
                        <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a th:href="@{/tag/1843}" role="menuitem" tabindex="-1">大⑨州東方祭9</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">大⑨州東方祭8</a></li>
                            <li role="presentation"><a th:href="@{/tag/2136}" role="menuitem" tabindex="-1">大⑨州東方祭7</a></li>
                            <li role="presentation"><a th:href="@{/tag/1771}" role="menuitem" tabindex="-1">大⑨州東方祭6</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">大⑨州東方祭5</a></li>
                            <li role="presentation"><a th:href="@{/tag/2142}" role="menuitem" tabindex="-1">大⑨州東方祭4</a></li>
                            <li role="presentation"><a th:href="@{/tag/2493}" role="menuitem" tabindex="-1">大⑨州東方祭3</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">大⑨州東方祭2</a></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1">大⑨州東方祭1</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="btn-group append-bottom">
                        <a class="btn btn-default" th:href="@{/tag/1495}" >東方椰麟祭</a>
                        <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a th:href="@{/tag/1495}" role="menuitem" tabindex="-1">東方椰麟祭3</a></li>
                            <li role="presentation"><a th:href="@{/tag/2490}" role="menuitem" tabindex="-1">東方椰麟祭2</a></li>
                            <li role="presentation"><a th:href="@{/tag/1217}" role="menuitem" tabindex="-1">東方椰麟祭</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="btn-group append-bottom">
                        <a class="btn btn-default" th:href="@{/tag/1329}" >新潟東方祭</a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" th:if="${false}">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" th:if="${false}">
                            <li role="presentation"><a th:href="@{/tag/1329}" role="menuitem" tabindex="-1">新潟東方祭12</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        </div>
    </div>
</body>
</html>
