<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  xmlns:wb="http://open.weibo.com/wb"
  layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/Gallery-2.15.0/css/blueimp-gallery.min.css" type="text/css"/>
    <link rel="stylesheet" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="http://static.tongrenlu.info/magicsuggest-2.0.5/magicsuggest-min.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/tongrenlu/css/tongrenlu-jplayer.css}" type="text/css"/>
</head>
<body>
<div layout:fragment="content">
    <div th:fragment="article-gallery">
        <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">&lsaquo;</a>
            <a class="next">&rsaquo;</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">&lsaquo;</a>
            <a class="next">&rsaquo;</a>
            <h3 class="title"></h3>
            <a class="close">&times;</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <div class="text-center append-bottom-lg">
            <button id="blueimp-gallery-fullscreen" class="btn btn-primary" >
                <span class="glyphicon glyphicon-fullscreen"></span>
                <span th:text="#{home.article.fullscreen}"></span>
            </button>
        </div>
    </div>
        <div class="container" layout:fragment="article-info">
            <div id="player" th:fragment="article-player">
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                <div id="jp_container_1" class="jp-audio">
                    <div class="jp-type-playlist">
                        <div class="jp-gui">
                            <div class="jp-interface">
                                <div class="jp-progress">
                                    <div class="jp-current-time"></div>
                                    <div class="jp-duration"></div>
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                </div>
                                <ul class="jp-toggles">
                                    <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle"><span class="glyphicon glyphicon-random"></span></a></li>
                                    <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off"><span class="glyphicon glyphicon-random"></span></a></li>
                                    <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat"><span class="glyphicon glyphicon-repeat"></span></a></li>
                                    <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off"><span class="glyphicon glyphicon-repeat"></span></a></li>
                                </ul>
                                <ul class="jp-controls">
                                    <li><a href="javascript:;" class="jp-previous" tabindex="1"><span class="glyphicon glyphicon-backward"></span></a></li>
                                    <li><a href="javascript:;" class="jp-play" tabindex="1"><span class="glyphicon glyphicon-play"></span></a></li>
                                    <li><a href="javascript:;" class="jp-pause" tabindex="1"><span class="glyphicon glyphicon-pause"></span></a></li>
                                    <li><a href="javascript:;" class="jp-next" tabindex="1"><span class="glyphicon glyphicon-forward"></span></a></li>
                                    <li><a href="javascript:;" class="jp-stop" tabindex="1"><span class="glyphicon glyphicon-stop"></span></a></li>
                                </ul>
                                <ul class="jp-volumn hidden-xs">
                                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><span class="glyphicon glyphicon-volume-down"></span></a></li>
                                    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><span class="glyphicon glyphicon-volume-off"></span></a></li>
                                    <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"><span class="glyphicon glyphicon-volume-up"></span></a></li>
                                </ul>
                                <div class="jp-volume-bar hidden-xs">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                            </div>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                                <li></li>
                            </ul>
                        </div>
                        <div class="jp-no-solution">
                        </div>
                    </div>
                </div>
            </div>
            <div id="baseinfo" th:fragment="article-baseinfo">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 th:text="${articleBean.title}">title</h3>
                    </div>
                    <div class="col-xs-4  col-lg-2">
                        <h4>
                            <small th:text="#{ArticleBean.accessCount}">Access</small><br />
                            <span th:text="${articleBean.accessCount}"></span>
                        </h4>
                    </div>
                    <div class="col-xs-4  col-lg-2">
                        <h4>
                            <small th:text="#{ArticleBean.commentCount}">Comment</small><br />
                            <span th:text="${articleBean.commentCount}"></span>
                        </h4>
                    </div>
                </div>
                <pre id="article-description" th:text="${#strings.isEmpty(articleBean.description)} ? #{home.article.noDescription} : ${articleBean.description}"></pre>
            </div>
            <div id="tags" th:fragment="article-tags">
                <div class="page-header">
                    <h5>
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="#{ArticleBean.tag}">Tags</span>
                    </h5>
                </div>
                <ul class="list-inline tag-container">
                </ul>
                <div class="form-group">
                    <div id="magicsuggest"></div>
                </div>
            </div>
            <div id="share" th:fragment="article-share">
                <button id="share_article" class="btn btn-info">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span class="hidden-xs" th:text="#{home.article.share}"></span>
                </button>
            </div>
            <div id="comment" th:fragment="article-comment">
                <div class="page-header">
                    <h5>
                        <span class="glyphicon glyphicon-comment"></span>
                        <span th:text="#{home.article.comment}"></span>
                    </h5>
                </div>
                <div class="comment-container">
                    <div class="comment-list-content hidden">
                        <ul class="media-list"></ul>
                        <ul class="pager">
                          <li class="previous">
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span th:text="#{button.previousPage}"></span>
                            </a>
                          </li>
                          <li class="next">
                            <a href="#">
                                <span th:text="#{button.nextPage}"></span>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                          </li>
                        </ul>
                    </div>
                    <div class="comment-empty alert alert-warning hidden" 
                        th:text="#{home.article.comment.empty}">
                    </div>
                </div>
                <div class="card">
                    <form class="comment-form" method="post" >
                        <div class="card-body">
                            <textarea name="content" class="form-control" rows="8"
                                th:placeholder="#{home.article.comment.placeholder}"></textarea>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-send"></span>&nbsp;
                                <span th:text="#{home.article.comment.placeholder}"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>