<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8" >
                    <form th:action="@{/music/search}" method="get" th:fragment="search-form">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" th:value="${query}"/>
                            <div class="input-group-btn">
                                <button class="btn btn-warning" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span th:text="#{button.search}"></span>
                                </button>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8" >
                    <div th:fragment="list-content">
                        <th:block th:unless="${#lists.isEmpty(page.items)}">
                            <div class="card" th:each="articleBean : ${page.items}">
                                <div class="media card-body-180">
                                    <a class="media-left" th:href="@{/music/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                        <img class="media-object img-180" src="http://placehold.it/180x180" 
                                            th:src="@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_180.jpg}"
                                            th:alt-title="${articleBean.title}" />
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <a th:href="@{/music/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                                <strong th:text="${articleBean.title}" ></strong>
                                            </a>
                                            <span class="label label-success" th:if="${articleBean.free}" th:text="#{ArticleBean.publishFlg.free}"></span>
                                            <span class="label label-success" th:if="${articleBean.publish}" th:text="#{ArticleBean.publishFlg.true}"></span>
                                        </h5>
                                        <div class="text-muted">
                                            <span th:text="#{home.article.owner} + ' :'">Owner :</span>
                                            <a th:href="@{/user/__${articleBean.userBean.id}__}" 
                                                th:alt-title="${articleBean.userBean}"
                                                target="_blank">
                                                <strong th:text="${articleBean.userBean}"></strong>
                                            </a>
                                            <span th:text="' / ' + #{ArticleBean.accessCount} + ' :' + ${articleBean.accessCount}"></span>
                                            <span th:text="' / ' + #{ArticleBean.commentCount} + ' :' + ${articleBean.commentCount}"></span>
                                        </div>
                                        <th:block th:if="${articleBean.description}">
                                            <th:block th:if="${#strings.length(articleBean.description) gt 199}">
                                                <p th:text="${#strings.substring(articleBean.description,0,199)} + '...'" class="hidden-xs"></p>
                                            </th:block>
                                            <th:block th:if="${#strings.length(articleBean.description) lt 200}">
                                                <p th:text="${articleBean.description}" class="hidden-xs"></p>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div id="jpaginate" class="hidden-xs"></div>
                            <div id="select-paginate" class="form-group visible-xs"></div>
                        </th:block>
                    </div>
                </div>
                <div class="col-sm-4" >
                    <div id="ranking" class="card side-content" th:fragment="ranking">
                        <div class="page-header">
                            <h3 th:text="#{home.music.ranking}"></h3>
                        </div>
                        <ul class="media-list">
                            <th:block  th:each="articleBean,iterStat : ${ranking}">
                                <li class="media">
                                    <a class="media-left" th:href="@{/music/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                      <img class="media-object img-60 img-rounded " src="http://placehold.it/60x60" 
                                           th:src="@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_120.jpg}"
                                           th:alt-title="${articleBean.title}" />
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                          <a th:href="@{/music/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                              <strong th:text="${articleBean.title}" ></strong>
                                          </a>
                                        </h5>
                                        <div class="text-muted">
                                          <span th:text="#{ArticleBean.accessCount} + ' :' + ${articleBean.accessCount}"></span>
                                          <span th:text="' / ' + #{ArticleBean.commentCount} + ' :' + ${articleBean.commentCount}"></span>
                                        </div>
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>