<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?bb5b28c66654c5ac1e987bd55a006657";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<header class="mdl-layout__header mdl-color--primary-dark" layout:fragment="header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
            <a th:href="@{/}" th:text="#{application}" class="mdl-ripple-effect mdl-color-text--accent-contrast">Link</a>
        </span>
        <!-- Add spacer, to align navigation to the right -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" th:href="@{/music}" th:text="#{home.music}">Link</a>
            <a class="mdl-navigation__link" th:href="@{/shop}" th:text="#{shop.cart}">Link</a>
        </nav>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
            <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample"
                 id="waterfall-exp" />
            </div>
        </div>
    </div>
</header>
<th:block layout:fragment="scripts-libs">
<!-- Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="signinModalLabel" th:text="#{login.signin}">sign in</h4>
      </div>
      <form id="login-form" class="form-horizontal" method="post">
        <div class="modal-body">
          <div id="form-group-email" class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label" 
                th:text="#{UserBean.email}">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" 
                id="inputEmail" name="email"
                th:placeholder="#{UserBean.email}"/>
            </div>
          </div>
          <div id="form-group-password" class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label" 
                th:text="#{UserBean.password}">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" 
                id="inputPassword"
                placeholder="Password" th:placeholder="#{UserBean.password}"/>
              <input type="hidden" id="hiddenPassword" name="password"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="autoLogin" value="1" th:checked="true"/>
                  <span th:text="#{login.signin.autologin}">Remember me</span> 
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="overflow:hidden">
          <a th:href="@{/forgot}" class="btn btn-default pull-left"
            th:text="#{login.forgot}" rel="nofollow">Forgot</a>
          <button type="submit" class="btn btn-success pull-right"
            th:text="#{login.signin}">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-MD5/1.1.0/js/md5.min.js" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-login.js}" ></script>
<script type="text/javascript" th:inline="javascript">
$(function(){
    var _login = new login({
    	saltUrl: /*[[@{/signin/salt}]]*/'/signin/salt',
    	signinUrl: /*[[@{/signin}]]*/'/signin',
    	networkErrorMessage: /*[[#{error.network}]]*/ 'network error'
    }).signin({
        id: /*[[${session.LOGIN_USER.id}]]*/ 0,
        nickname: /*[[${session.LOGIN_USER.nickname}]]*/ '',
        guest: /*[[${session.LOGIN_USER.guest}]]*/ true
    });
})
</script>
</th:block>
</body>
</html>
