<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
  <body>
    <div class="container" layout:fragment="content">
        <div class="row">
        <th:block th:if="${searchResult}">
            <div class="col-sm-8">
                <form th:action="@{/search}" method="get">
                    <div class="input-group">
                      <input type="text" class="form-control" name="q" th:value="${query}"/>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" th:text="#{button.search}">SEARCH</button>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </form>
                <hr />
                <th:block th:unless="${#lists.isEmpty(searchResult.content)}">
                    <ul class="media-list">
                      <li class="media" th:each="articleDocument : ${searchResult.content}">
                        <a class="pull-left" th:href="@{/__${articleDocument.category}__/__${articleDocument.articleId}__}"
                            th:alt-title="${articleDocument.title}">
                          <img class="media-object img-120 hidden-xs" src="http://placehold.it/120x120" 
                               th:src="@{/files/__${#strings.substring(articleDocument.category,0,1)}____${articleDocument.id}__/cover_120.jpg}"
                               th:alt-title="${articleDocument.title}" />
                          <img class="media-object img-60 visible-xs" src="http://placehold.it/60x60" 
                               th:src="@{/files/__${#strings.substring(articleDocument.category,0,1)}____${articleDocument.id}__/cover_60.jpg}"
                               th:alt-title="${articleDocument.title}" />
                        </a>
                        <div class="media-body">
                          <div class="article-list-item">
                          <h4 class="media-heading text-single-line">
                            <a th:href="@{/__${articleDocument.category}__/__${articleDocument.articleId}__}" 
                               th:text="${articleDocument.title}" 
                               th:alt-title="${articleDocument.title}"></a>
                          </h4>
                          <p th:text="${articleDocument.description}"></p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div id="jpaginate" class="hidden-xs hidden-sm"></div>
                </th:block>
                <div class="alert alert-warning" th:if="${#lists.isEmpty(searchResult.content)}">
                    <h4 th:text="#{home.article.noData}"></h4>
                    <a th:href="@{/search}" th:text="#{button.back}" class="btn btn-default"></a>
                </div>
            </div>
        </th:block>
        <th:block th:unless="${searchResult}">
            <div class="col-sm-6 col-sm-offset-3">
                <form th:action="@{/search}" method="get">
                    <div class="input-group">
                      <input type="text" class="form-control" name="q"/>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" th:text="#{button.search}">SEARCH</button>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </form>
            </div>
        </th:block>
        </div>
    </div>
  </body>
</html>