<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/tongrenlu/css/tongrenlu-shoppingcart.css}"/>
    <title th:text="#{home.shoppingcart}">ショッピングカート</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-wrap container-header">
            <div class="container">
                <h1 th:text="#{home.shoppingcart}">ショッピングカート</h1>
            </div>
        </div>
        <div class="container-wrap container-wrap-darker">
            <div class="container">
                <div class="alert alert-warning" th:if="${#maps.isEmpty(session.SHOPPING_CART)}">
                    <p>商品はありません。</p>
                </div>
                <form class="form-inline" th:unless="${#maps.isEmpty(session.SHOPPING_CART)}">
                    <table class="table table-hover">
                        <tr>
                            <th></th>
                            <th>商品名</th>
                            <th>単価</th>
                            <th>数量</th>
                            <th>合計</th>
                            <th></th>
                        </tr>
                        <tbody id="shopping-cart-rows">
                        </tbody>
                        <tr>
                            <th><a class="btn btn-default" th:href="@{/shoppingcart/clear}">カートをクリア</a></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><a class="btn btn-warning" th:href="@{/signin/order}">レンジに行く</a></th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('.container-header').trianglify({
        palette: 'shoppingcart'
    });
});
</script>
</th:block>
</body>
</html>