<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.MEventMapper">
    
    <insert id="insertEvent" flushCache="true">
        INSERT INTO M_EVENT(
            EVENT_ID
        ,   EVENT_NAME
        ,   EVENT_DATE
        ,   ADD_DATE
        ,   UPD_DATE
        ,   DEL_FLG
        ) VALUES (
            #{eventId}
        ,   #{eventName}
        ,   #{eventDate}
        ,   SYSDATE
        ,   SYSDATE
        ,   '0'
        )
    </insert>
    
    <select id="countEvent" resultType="int">
        SELECT
            COUNT(A.EVENT_ID)
        FROM
            M_EVENT A
        WHERE
            A.DEL_FLG = '0'
    </select>
    
    <select id="fetchEventList" resultType="EventBean">
        SELECT
            *
        FROM
            (SELECT
                A.EVENT_ID              as eventId
            ,   A.EVENT_NAME            as eventName
            ,   A.EVENT_DATE            as eventDate
            ,   ROW_NUMBER() OVER (ORDER BY ${order}) as RNUM
            FROM
                M_EVENT A
            WHERE
                A.DEL_FLG = '0'
            <if test="comingFlg != null">
            AND EVENT_DATE > SYSDATE
            </if>
            )
        WHERE
            RNUM BETWEEN #{start} AND #{end}
        ORDER BY RNUM
    </select>
</mapper>