<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.MFileMapper">

    <cache type="org.mybatis.caches.oscache.LoggingOSCache" flushInterval="360000"/>
    
    <insert id="insertFile" flushCache="true">
        INSERT INTO M_FILE(
            FILE_ID
        ,   NAME
        ,   EXTENSION
        ,   ARTICLE_ID
        ,   ORDER_NO
        ,   ADD_DATE
        ,   UPD_DATE
        ,   DEL_FLG
        ) VALUES (
            #{fileId}
        ,   #{name}
        ,   #{extension}
        ,   #{articleId}
        ,   #{orderNo}
        ,   SYSDATE
        ,   SYSDATE
        ,   '0'
        )
    </insert>
    
    <select id="getArticleFiles" resultType="FileBean">
        SELECT
            A.FILE_ID as fileId
        ,   A.NAME as name
        ,   A.EXTENSION as extension
        ,   A.ARTICLE_ID as articleId
        FROM
            M_FILE A
        WHERE
            A.ARTICLE_ID = #{articleId}
        <if test="extension">
        AND A.EXTENSION = #{extension}
        </if>
        AND A.DEL_FLG = '0'
        ORDER BY
            A.ORDER_NO, A.NAME, A.FILE_ID
    </select>
    
    <select id="getFileInfo" resultType="FileBean">
        SELECT
            A.FILE_ID as fileId
        ,   A.NAME as name
        ,   A.EXTENSION as extension
        ,   A.ARTICLE_ID as articleId
        FROM
            M_FILE A
        WHERE
            A.FILE_ID = #{fileId}
        AND A.DEL_FLG = '0'
    </select>
    
    <update id="deleteFileInfo" flushCache="true">
        UPDATE M_FILE A
        SET
            DEL_FLG = '1'
        ,   UPD_DATE = SYSDATE
        WHERE
            A.FILE_ID = #{fileId}
        AND A.DEL_FLG = '0'
    </update>
    
    <update id="updateFileOrder" flushCache="true">
        UPDATE M_FILE A
        SET
            ORDER_NO = #{orderNo}
        ,   UPD_DATE = SYSDATE
        WHERE
            A.FILE_ID = #{fileId}
        AND A.DEL_FLG = '0'
    </update>
</mapper>