<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.MTimelineMapper">

    <select id="countTimeline" resultType="int">
        SELECT
            COUNT(A.TIMELINE)
        FROM
            (
            <include refid="V_PUBLISH_MUSIC"/>
            union all
            <include refid="V_PUBLISH_COMIC"/>
            union all
            <include refid="V_PUBLISH_GAME"/>
            union all
            <include refid="V_COMMENT_MUSIC"/>
            union all
            <include refid="V_COMMENT_COMIC"/>
            union all
            <include refid="V_COMMENT_GAME"/>
            <if test="loginUserId != null">
            union all
            <include refid="V_COMMENT_USER"/>
            </if>
        ) A
    </select>
    
    <select id="fetchTimelineList" resultType="TimelineBean">
        SELECT
            *
        FROM
            (SELECT
                A.USER_ID       AS "userBean.userId"
            ,   A.NICKNAME      AS "userBean.nickname"
            ,   A.ARTICLE_ID    AS articleId
            ,   A.TITLE         AS title
            ,   A.CONTENT       AS content
            ,   A.TIMELINE      AS timeline
            ,   A.ACTION        AS action
            ,   A.TYPE          AS type
            ,   ROW_NUMBER() OVER (ORDER BY a.timeline desc) as RNUM
	        FROM
	            (
	            <include refid="V_PUBLISH_MUSIC"/>
	            union all
	            <include refid="V_PUBLISH_COMIC"/>
	            union all
	            <include refid="V_PUBLISH_GAME"/>
	            union all
	            <include refid="V_COMMENT_MUSIC"/>
	            union all
	            <include refid="V_COMMENT_COMIC"/>
	            union all
	            <include refid="V_COMMENT_GAME"/>
                <if test="loginUserId != null">
                union all
                <include refid="V_COMMENT_USER"/>
                </if>
	        ) A
        )
        WHERE
            RNUM BETWEEN #{start} AND #{end}
        ORDER BY RNUM
    </select>
    
    <sql id="V_PUBLISH_MUSIC">
        SELECT 
            A.ARTICLE_ID
        ,   A.TITLE
        ,   SUBSTR(A.DESCRIPTION, 1, 200) AS CONTENT
        ,   U.USER_ID
        ,   U.NICKNAME
        ,   A.PUBLISH_DATE AS TIMELINE
        ,   'PUBLISH' AS ACTION
        ,   'MUSIC' AS TYPE
        FROM
            M_ARTICLE A
        ,   R_MUSIC R
        ,   M_USER U
        WHERE
            A.ARTICLE_ID = R.ARTICLE_ID(+)
        AND A.USER_ID = U.USER_ID(+)
        AND (
                A.USER_ID = #{userId}
            <if test="loginUserId != null">
            OR  A.USER_ID IN (
                SELECT
                    F.FOLLOW_ID
                FROM
                    R_FOLLOW f
                WHERE
                    F.USER_ID = #{loginUserId}
                AND F.DEL_FLG = '0'
            )
            </if>
        )
        AND A.PUBLISH_FLG = '1'
        AND A.DEL_FLG = '0'
        AND R.DEL_FLG = '0'
    </sql>
    
    <sql id="V_PUBLISH_COMIC">
        SELECT 
            A.ARTICLE_ID
        ,   A.TITLE
        ,   SUBSTR(A.DESCRIPTION, 1, 200) AS CONTENT
        ,   U.USER_ID
        ,   U.NICKNAME
        ,   A.PUBLISH_DATE AS TIMELINE
        ,   'PUBLISH' AS ACTION
        ,   'COMIC' AS TYPE
        FROM
            M_ARTICLE A
        ,   R_COMIC R
        ,   M_USER U
        WHERE
            A.ARTICLE_ID = R.ARTICLE_ID(+)
        AND A.USER_ID = U.USER_ID(+)
        AND (
                A.USER_ID = #{userId}
            <if test="loginUserId != null">
            OR  A.USER_ID IN (
                SELECT
                    F.FOLLOW_ID
                FROM
                    R_FOLLOW f
                WHERE
                    F.USER_ID = #{loginUserId}
                AND F.DEL_FLG = '0'
            )
            </if>
        )
        AND A.PUBLISH_FLG = '1'
        AND A.DEL_FLG = '0'
        AND R.DEL_FLG = '0'
    </sql>
    
    <sql id="V_PUBLISH_GAME">
        SELECT 
            A.ARTICLE_ID
        ,   A.TITLE
        ,   SUBSTR(A.DESCRIPTION, 1, 200) AS CONTENT
        ,   U.USER_ID
        ,   U.NICKNAME
        ,   A.PUBLISH_DATE AS TIMELINE
        ,   'PUBLISH' AS ACTION
        ,   'GAME' AS TYPE
        FROM
            M_ARTICLE A
        ,   R_GAME R
        ,   M_USER U
        WHERE
            A.ARTICLE_ID = R.ARTICLE_ID(+)
        AND A.USER_ID = U.USER_ID(+)
        AND (
                A.USER_ID = #{userId}
            <if test="loginUserId != null">
            OR  A.USER_ID IN (
                SELECT
                    F.FOLLOW_ID
                FROM
                    R_FOLLOW f
                WHERE
                    F.USER_ID = #{loginUserId}
                AND F.DEL_FLG = '0'
            )
            </if>
        )
        AND A.PUBLISH_FLG = '1'
        AND A.DEL_FLG = '0'
        AND R.DEL_FLG = '0'
    </sql>
    
    <sql id="V_COMMENT_MUSIC">
        SELECT 
            A.ARTICLE_ID
        ,   A.TITLE
        ,   SUBSTR(TO_NCHAR(C.CONTENT), 1, 200) AS CONTENT
        ,   U.USER_ID
        ,   U.NICKNAME
        ,   C.ADD_DATE AS TIMELINE
        ,   'COMMENT' AS ACTION
        ,   'MUSIC' AS TYPE
        FROM
            M_ARTICLE A
        ,   M_ARTICLE_COMMENT C
        ,   R_MUSIC R
        ,   M_USER U
        WHERE
            A.ARTICLE_ID = R.ARTICLE_ID(+)
        AND A.ARTICLE_ID = C.ARTICLE_ID(+)
        AND C.SENDER_USER_ID = U.USER_ID
        AND (
                C.SENDER_USER_ID = #{userId}
            <if test="loginUserId != null">
            OR  A.USER_ID = #{loginUserId}
            OR  C.SENDER_USER_ID IN (
                SELECT
                    F.FOLLOW_ID
                FROM
                    R_FOLLOW f
                WHERE
                    F.USER_ID = #{loginUserId}
                AND F.DEL_FLG = '0'
            )
            </if>
        )
        AND A.PUBLISH_FLG = '1'
        AND A.DEL_FLG = '0'
        AND C.DEL_FLG = '0'
        AND R.DEL_FLG = '0'
    </sql>
    
    <sql id="V_COMMENT_COMIC">
        SELECT 
            A.ARTICLE_ID
        ,   A.TITLE
        ,   SUBSTR(TO_NCHAR(C.CONTENT), 1, 200) AS CONTENT
        ,   U.USER_ID
        ,   U.NICKNAME
        ,   C.ADD_DATE AS TIMELINE
        ,   'COMMENT' AS ACTION
        ,   'COMIC' AS TYPE
        FROM
            M_ARTICLE A
        ,   M_ARTICLE_COMMENT C
        ,   R_COMIC R
        ,   M_USER U
        WHERE
            A.ARTICLE_ID = R.ARTICLE_ID(+)
        AND A.ARTICLE_ID = C.ARTICLE_ID(+)
        AND C.SENDER_USER_ID = U.USER_ID
        AND (
                C.SENDER_USER_ID = #{userId}
            <if test="loginUserId != null">
            OR  A.USER_ID = #{loginUserId}
            OR  C.SENDER_USER_ID IN (
                SELECT
                    F.FOLLOW_ID
                FROM
                    R_FOLLOW f
                WHERE
                    F.USER_ID = #{loginUserId}
                AND F.DEL_FLG = '0'
            )
            </if>
        )
        AND A.PUBLISH_FLG = '1'
        AND A.DEL_FLG = '0'
        AND C.DEL_FLG = '0'
        AND R.DEL_FLG = '0'
    </sql>
    
    <sql id="V_COMMENT_GAME">
        SELECT 
            A.ARTICLE_ID
        ,   A.TITLE
        ,   SUBSTR(TO_NCHAR(C.CONTENT), 1, 200) AS CONTENT
        ,   U.USER_ID
        ,   U.NICKNAME
        ,   C.ADD_DATE AS TIMELINE
        ,   'COMMENT' AS ACTION
        ,   'GAME' AS TYPE
        FROM
            M_ARTICLE A
        ,   M_ARTICLE_COMMENT C
        ,   R_GAME R
        ,   M_USER U
        WHERE
            A.ARTICLE_ID = R.ARTICLE_ID(+)
        AND A.ARTICLE_ID = C.ARTICLE_ID(+)
        AND C.SENDER_USER_ID = U.USER_ID
        AND (
                C.SENDER_USER_ID = #{userId}
            <if test="loginUserId != null">
            OR  A.USER_ID = #{loginUserId}
            OR  C.SENDER_USER_ID IN (
                SELECT
                    F.FOLLOW_ID
                FROM
                    R_FOLLOW f
                WHERE
                    F.USER_ID = #{loginUserId}
                AND F.DEL_FLG = '0'
            )
            </if>
        )
        AND A.PUBLISH_FLG = '1'
        AND A.DEL_FLG = '0'
        AND C.DEL_FLG = '0'
        AND R.DEL_FLG = '0'
    </sql>
    
    <sql id="V_COMMENT_USER">
        SELECT 
            U1.USER_ID  AS ARTICLE_ID
        ,   U1.NICKNAME AS TITLE
        ,   SUBSTR(TO_NCHAR(C.CONTENT), 1, 200) AS CONTENT
        ,   U2.USER_ID
        ,   U2.NICKNAME
        ,   C.ADD_DATE AS TIMELINE
        ,   'COMMENT' AS ACTION
        ,   'USER' AS TYPE
        FROM
            M_USER_COMMENT C
        ,   M_USER U1
        ,   M_USER U2
        WHERE
            C.USER_ID = U1.USER_ID(+)
        AND C.SENDER_USER_ID = U2.USER_ID
        AND C.USER_ID = #{loginUserId}
        AND C.DEL_FLG = '0'
    </sql>
</mapper>