<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.RCircleMapper">
    
    <cache type="org.mybatis.caches.oscache.LoggingOSCache" flushInterval="360000"/>
    
    <select id="getCircleCount" resultType="int">
        SELECT
            COUNT(CM.CIRCLE_ID)
        FROM
            R_CIRCLE_MAP CM
        ,   M_CIRCLE C
        WHERE
            CM.CIRCLE_ID = C.CIRCLE_ID(+)
        AND CM.DEL_FLG = '0'
        AND CM.EVENT_CODE = #{eventCode}
        <if test="searchQuery != null">
        AND (
                LOWER( C.NAME ) LIKE '%' || LOWER( #{searchQuery} ) || '%'
            OR  LOWER( C.LINK ) LIKE '%' || LOWER( #{searchQuery} ) || '%'
            OR  LOWER( C.PENNAME ) LIKE '%' || LOWER( #{searchQuery} ) || '%'
        )
        </if>
    </select>
    
    <select id="getCircleListByArea" resultType="CircleBean">
        SELECT
            A.CIRCLE_ID                         as circleId
        ,   A.NAME                              as name
        ,   A.LINK                              as link
        ,   A.PENNAME                           as penName
        ,   A.AREA1                             as area1
        ,   A.AREA2                             as area2
        ,   A.AREA3                             as area3
        ,   V_ARTICLE_CNT.TAG_ID                as "tagBean.tagId"
        ,   V_ARTICLE_CNT.CNT                   as "tagBean.articleCount"
        ,   NVL(V_USER_CIRCLE_COUNT.CNT, 0)     as userCount
        ,   NVL(V_USER_CIRCLE_COUNT2.CNT, 0)    as userCount2
        FROM
            (SELECT
                C.CIRCLE_ID
            ,   C.NAME
            ,   C.LINK
            ,   C.PENNAME
            ,   CM.AREA1
            ,   CM.AREA2
            ,   CM.AREA3
            ,   LOWER (C.NAME)                  as LOWER_NAME
            FROM
                R_CIRCLE_MAP CM
            ,   M_CIRCLE C
            WHERE
                CM.CIRCLE_ID = C.CIRCLE_ID(+)
            AND CM.DEL_FLG = '0'
            AND CM.EVENT_CODE = #{eventCode}
            AND CM.AREA1 = #{searchArea}
        )  A
        ,   (SELECT
                T.TAG_ID
            ,   LOWER (T.TAG)       as TAG
            ,   COUNT(A.ARTICLE_ID) AS CNT
            FROM
                R_ARTICLE_TAG AT
            ,   M_ARTICLE A
            ,   M_TAG T
            WHERE
                AT.ARTICLE_ID = A.ARTICLE_ID (+)
            AND AT.TAG_ID = T.TAG_ID (+)
            AND A.PUBLISH_FLG = '1'
            AND A.DEL_FLG = '0'
            AND AT.DEL_FLG = '0'
            GROUP BY T.TAG_ID, T.TAG
        ) V_ARTICLE_CNT
        ,   (SELECT
                R.CIRCLE_ID
            ,   COUNT(R.USER_ID) as CNT
            FROM
                R_USER_CIRCLE R
            WHERE
                R.DEL_FLG = '0'
            GROUP BY R.CIRCLE_ID
        ) V_USER_CIRCLE_COUNT
        ,   (SELECT
                R.CIRCLE_ID
            ,   COUNT(R.USER_ID) as CNT
            FROM
                R_USER_CIRCLE R
            WHERE
                R.DEL_FLG = '0'
            <if test="userId != null">
            AND R.USER_ID = #{userId}
            </if>
            <if test="userId == null">
            AND R.USER_ID = ''
            </if>
            GROUP BY R.CIRCLE_ID
        ) V_USER_CIRCLE_COUNT2
        WHERE
            A.LOWER_NAME = V_ARTICLE_CNT.TAG (+)
        AND A.CIRCLE_ID = V_USER_CIRCLE_COUNT.CIRCLE_ID (+)
        AND A.CIRCLE_ID = V_USER_CIRCLE_COUNT2.CIRCLE_ID (+)
        ORDER BY NVL(V_USER_CIRCLE_COUNT2.CNT, 0) DESC, NVL(V_USER_CIRCLE_COUNT.CNT, 0) DESC, A.AREA1, A.AREA2, A.AREA3
    </select>
    
    <insert id="createUserCircle">
        INSERT INTO R_USER_CIRCLE (
            USER_ID
        ,   CIRCLE_ID
        ,   ADD_DATE
        ,   UPD_DATE
        ,   DEL_FLG
        ) VALUES (
            #{userId}
        ,   #{circleId}
        ,   SYSDATE
        ,   SYSDATE
        ,   '0'
        )
    </insert>
    
    <update id="removeUserCircle">
        UPDATE R_USER_CIRCLE R
        SET
            R.DEL_FLG = '1'
        WHERE
            R.USER_ID = #{userId}
        AND R.CIRCLE_ID = #{circleId}
        AND R.DEL_FLG = '0'
    </update>
    
    <select id="countCircleByUser" resultType="int">
        SELECT
            COUNT(R.CIRCLE_ID)
        FROM
            R_USER_CIRCLE R
        WHERE
            R.USER_ID = #{userId}
        AND R.CIRCLE_ID = #{circleId}
        AND R.DEL_FLG = '0'
    </select>

    <select id="getCircleListByUser" resultType="CircleBean">
        SELECT
            A.CIRCLE_ID                         as circleId
        ,   A.NAME                              as name
        ,   A.LINK                              as link
        ,   A.PENNAME                           as penName
        ,   A.AREA1                             as area1
        ,   A.AREA2                             as area2
        ,   A.AREA3                             as area3
        ,   V_ARTICLE_CNT.TAG_ID                as "tagBean.tagId"
        ,   V_ARTICLE_CNT.CNT                   as "tagBean.articleCount"
        ,   NVL(V_USER_CIRCLE_COUNT.CNT, 0)     as userCount
        ,   NVL(V_USER_CIRCLE_COUNT2.CNT, 0)    as userCount2
        FROM
            (SELECT
                C.CIRCLE_ID
            ,   C.NAME
            ,   C.LINK
            ,   C.PENNAME
            ,   CM.AREA1
            ,   CM.AREA2
            ,   CM.AREA3
            ,   LOWER (C.NAME)                  as LOWER_NAME
            FROM
                R_CIRCLE_MAP CM
            ,   M_CIRCLE C
            WHERE
                CM.CIRCLE_ID = C.CIRCLE_ID(+)
            AND CM.DEL_FLG = '0'
            AND CM.EVENT_CODE = #{eventCode}
        )  A
        ,   (SELECT
                T.TAG_ID
            ,   LOWER (T.TAG)       as TAG
            ,   COUNT(A.ARTICLE_ID) AS CNT
            FROM
                R_ARTICLE_TAG AT
            ,   M_ARTICLE A
            ,   M_TAG T
            WHERE
                AT.ARTICLE_ID = A.ARTICLE_ID (+)
            AND AT.TAG_ID = T.TAG_ID (+)
            AND A.PUBLISH_FLG = '1'
            AND A.DEL_FLG = '0'
            AND AT.DEL_FLG = '0'
            GROUP BY T.TAG_ID, T.TAG
        ) V_ARTICLE_CNT
        ,   (SELECT
                R.CIRCLE_ID
            ,   COUNT(R.USER_ID) as CNT
            FROM
                R_USER_CIRCLE R
            WHERE
                R.DEL_FLG = '0'
            GROUP BY R.CIRCLE_ID
        ) V_USER_CIRCLE_COUNT
        ,   (SELECT
                R.CIRCLE_ID
            ,   COUNT(R.USER_ID) as CNT
            FROM
                R_USER_CIRCLE R
            WHERE
                R.USER_ID = #{userId}
            AND R.DEL_FLG = '0'
            GROUP BY R.CIRCLE_ID
        ) V_USER_CIRCLE_COUNT2
        WHERE
            A.LOWER_NAME = V_ARTICLE_CNT.TAG (+)
        AND A.CIRCLE_ID = V_USER_CIRCLE_COUNT.CIRCLE_ID (+)
        AND A.CIRCLE_ID = V_USER_CIRCLE_COUNT2.CIRCLE_ID (+)
        AND V_USER_CIRCLE_COUNT2.CNT > 0
        ORDER BY NVL(V_USER_CIRCLE_COUNT2.CNT, 0) DESC, NVL(V_USER_CIRCLE_COUNT.CNT, 0) DESC, A.AREA1, A.AREA2, A.AREA3
    </select>
    
    <select id="getCircleCountByArea" resultType="map">
        SELECT 
            COUNT(CIRCLE_ID) as cnt
        ,   AREA1 
        FROM
            R_CIRCLE_MAP
        WHERE
            EVENT_CODE = #{eventCode}
        GROUP BY AREA1
        ORDER BY AREA1
    </select>
</mapper>