<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.MArticleMapper">

    <insert id="insert" flushCache="true">
        INSERT INTO M_ACCESS(
            ARTICLE_ID
        <if test="userBean != null">
        ,   USER_ID
        </if>
        ) VALUES (
            #{articleBean.id}
        <if test="userBean != null">
        ,   #{userBean.id}
        </if>
        )
    </insert>
</mapper>