<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.MArticleMapper">

    <cache flushInterval="3600"/>
    
    <insert id="insert" parameterType="ArticleBean">
        INSERT INTO M_ARTICLE(
            USER_ID
        ,   TITLE
        ,   DESCRIPTION
        ) VALUES (
            #{userBean.userId}
        ,   #{title}
        ,   #{description}
        )
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
    </insert>
    
    <update id="update" flushCache="true">
        UPDATE
            M_ARTICLE A
        SET
            A.TITLE = #{title}
        ,   A.DESCRIPTION = #{description}
        WHERE
            A.id = #{id}
        AND A.DEL_FLG = '0'
    </update>
    
    <update id="delete" flushCache="true">
        UPDATE
            M_ARTICLE A
        SET
            UPD_DATE = SYSDATE
        ,   A.DEL_FLG = '1'
        WHERE
            A.id = #{id}
        AND A.DEL_FLG = '0'
    </update>
    
    <update id="publish" flushCache="true">
        UPDATE
            M_ARTICLE A
        SET
            A.PUBLISH_FLG = '1'
        ,   A.PUBLISH_DATE = SYSDATE
        WHERE
            A.id = #{id}
        AND A.DEL_FLG = '0'
    </update>
    
    <select id="countByUser" resultType="int">
        SELECT
            COUNT(A.id)
        FROM
            M_ARTICLE A
        WHERE
            A.USER_ID = #{userBean.id}
        AND A.DEL_FLG = '0'
    </select>
    
    <update id="recommend" flushCache="true">
        UPDATE
            M_ARTICLE A
        SET
            A.RECOMMEND = #{recommend}
        WHERE
            A.id = #{articleBean.id}
        AND A.DEL_FLG = '0'
    </update>
    
    <insert id="insertAccess" flushCache="true">
        INSERT INTO M_ACCESS(
            ARTICLE_ID
        <if test="userBean != null">
        ,   USER_ID
        </if>
        ) VALUES (
            #{articleBean.id}
        <if test="userBean != null">
        ,   #{userBean.id}
        </if>
        )
    </insert>
</mapper>