<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.MUserMapper">

    <select id="countUser" resultType="int">
        SELECT
            COUNT(USER_ID)
        FROM
            M_USER A
        WHERE
            A.EMAIL = #{email}
        AND A.DEL_FLG = '0'
    </select>
    
    <select id="fetchUser" resultType="UserBean">
        SELECT
            U.USER_ID             as userId
        ,   U.NICKNAME            as nickname
        ,   U.PASSWORD            as password
        ,   U.SIGNATURE           as signature
        ,   U.LAST_LOGIN_TIME     as lastLoginTime
        ,   U.LAST_LOGIN_IP       as lastLoginIp
        ,   U.LAST_LOGIN_UA       as lastLoginUa
        FROM
            M_USER U
        WHERE
            U.DEL_FLG = '0'
        <if test="email != null">
        AND U.EMAIL = #{email}
        </if>
        <if test="nickname != null">
        AND U.NICKNAME = #{nickname}
        </if>
        <if test="userId != null">
        AND U.USER_ID = #{userId}
        </if>
    </select>
    
    <select id="fetchUserInfo" resultType="UserBean">
        SELECT
            U.USER_ID                   as userId
        ,   U.NICKNAME                  as nickname
        ,   U.SIGNATURE                 as signature
        ,   U.ADMIN_FLG                 as adminFlg
        ,   U.RED_FLG                   as redFlg
        ,   U.TRANSLATE_FLG             as translateFlg
        ,   NVL(V_MUSIC.CNT, 0)         as musicCount
        ,   NVL(V_COMIC.CNT, 0)         as comicCount
        ,   NVL(V_GAME.CNT, 0)          as gameCount
        ,   NVL(V_COLLECT.CNT, 0)       as collectCount
        ,   NVL(V_FOLLOW.CNT, 0)        as followCount
        ,   NVL(V_FANS.CNT, 0)          as fansCount
        FROM
            M_USER U
        ,   (SELECT
                A.USER_ID
            ,   COUNT(A.ARTICLE_ID) as CNT
            FROM
                R_MUSIC R
            ,   M_ARTICLE A
            WHERE
                R.ARTICLE_ID = A.ARTICLE_ID(+)
            AND A.DEL_FLG = '0'
            AND A.PUBLISH_FLG = '1'
            GROUP BY A.USER_ID
        ) V_MUSIC
        ,   (SELECT
                A.USER_ID
            ,   COUNT(A.ARTICLE_ID) as CNT
            FROM
                R_COMIC R
            ,   M_ARTICLE A
            WHERE
                R.ARTICLE_ID = A.ARTICLE_ID(+)
            AND A.DEL_FLG = '0'
            AND A.PUBLISH_FLG = '1'
            GROUP BY A.USER_ID
        ) V_COMIC
        ,   (SELECT
                A.USER_ID
            ,   COUNT(A.ARTICLE_ID) as CNT
            FROM
                R_GAME R
            ,   M_ARTICLE A
            WHERE
                R.ARTICLE_ID = A.ARTICLE_ID(+)
            AND A.DEL_FLG = '0'
            AND A.PUBLISH_FLG = '1'
            GROUP BY A.USER_ID
        ) V_GAME
        ,   (SELECT
                R_COLLECT.USER_ID
            ,   COUNT(R_COLLECT.ARTICLE_ID) as CNT
            FROM
                R_COLLECT
            WHERE
                R_COLLECT.DEL_FLG = '0'
            GROUP BY R_COLLECT.USER_ID
        ) V_COLLECT
        ,   (SELECT
                R_FOLLOW.USER_ID
            ,   COUNT(R_FOLLOW.FOLLOW_ID) as CNT
            FROM
                R_FOLLOW
            WHERE
                R_FOLLOW.DEL_FLG = '0'
            GROUP BY R_FOLLOW.USER_ID
        ) V_FOLLOW
        ,   (SELECT
                R_FOLLOW.FOLLOW_ID
            ,   COUNT(R_FOLLOW.USER_ID) as CNT
            FROM
                R_FOLLOW
            WHERE
                R_FOLLOW.DEL_FLG = '0'
            GROUP BY R_FOLLOW.FOLLOW_ID
        ) V_FANS
        WHERE
            U.DEL_FLG = '0'
        AND U.USER_ID = V_MUSIC.USER_ID (+)
        AND U.USER_ID = V_COMIC.USER_ID (+)
        AND U.USER_ID = V_GAME.USER_ID (+)
        AND U.USER_ID = V_COLLECT.USER_ID (+)
        AND U.USER_ID = V_FOLLOW.USER_ID (+)
        AND U.USER_ID = V_FANS.FOLLOW_ID (+)
        AND U.USER_ID = #{userId}
    </select>
    
    <insert id="insertUser">
        INSERT INTO M_USER(
            USER_ID
        ,   NICKNAME
        ,   EMAIL
        ,   PASSWORD
        ,   ADD_DATE
        ,   UPD_DATE
        ,   DEL_FLG
        ) VALUES (
            #{userId}
        ,   #{nickname}
        ,   #{email}
        ,   #{password}
        ,   SYSDATE
        ,   SYSDATE
        ,   '0'
        )
    </insert>
    
    <update id="updateUser">
        UPDATE
            M_USER
        SET
            UPD_DATE = SYSDATE
        <if test="lastLoginIp != null and lastLoginUa != null">
        ,   LAST_LOGIN_IP = #{lastLoginIp}
        ,   LAST_LOGIN_Ua = #{lastLoginUa}
        ,   LAST_LOGIN_TIME = SYSDATE
        </if>
        <if test="redFlg != null">
        ,   RED_FLG = #{redFlg}
        </if>
        <if test="translateFlg != null">
        ,   TRANSLATE_FLG = #{translateFlg}
        </if>
        <if test="nickname != null">
        ,   NICKNAME = #{nickname}
        </if>
        <if test="signature != null">
        ,   SIGNATURE = #{signature}
        </if>
        <if test="password != null">
        ,   PASSWORD = #{password}
        </if>
        WHERE
            USER_ID = #{userId}
    </update>
</mapper>