<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.persistence.RCollectMapper">
    
    <insert id="insert">
        INSERT INTO R_COLLECT(
            USER_ID
        ,   ARTICLE_ID
        ) VALUES (
            #{userBean.id}
        ,   #{articleBean.id}
        )
    </insert>
    
    <select id="count" resultType="int">
        SELECT
            COUNT(C.USER_ID)
        FROM
            R_COLLECT C
        WHERE
            C.DEL_FLG = '0'
        <if test="articleBean != null">
        AND C.ARTICLE_ID = #{articleBean.id}
        </if>
        <if test="userBean != null">
        AND C.USER_ID = #{userBean.id}
        </if>
    </select>
    
    <update id="delete" >
        UPDATE
            R_COLLECT C
        SET
            C.DEL_FLG = '1'
        WHERE
            C.ARTICLE_ID = #{articleBean.id}
        AND C.USER_ID = #{userBean.id}
    </update>
    
    <select id="countComic" resultType="int">
        SELECT
            COUNT(A.ARTICLE_ID)
        FROM
            M_ARTICLE A
        ,   R_COMIC C
        ,   R_COLLECT RC
        WHERE
            A.ARTICLE_ID = C.ARTICLE_ID (+)
        AND A.ARTICLE_ID = RC.ARTICLE_ID (+)
        AND A.PUBLISH_FLG = '1'
        AND RC.USER_ID = #{userId}
        AND C.DEL_FLG = '0'
        AND RC.DEL_FLG = '0'
    </select>
    
    <select id="fetchComic" resultType="ComicBean">
        SELECT
            *
        FROM
            (SELECT
                A.ARTICLE_ID            as articleId
            ,   A.TITLE                 as title
            ,   A.DESCRIPTION           as description
            ,   A.PUBLISH_FLG           as publishFlg
            ,   A.PUBLISH_DATE          as publishDate
            ,   U.USER_ID               as "userBean.userId"
            ,   U.NICKNAME              as "userBean.nickname"
            ,   U.SIGNATURE             as "userBean.signature"
            ,   C.RED_FLG               as redFlg
            ,   C.TRANSLATE_FLG         as translateFlg
            ,   NVL(V_ACCESS.CNT, 0)    as accessCount
            ,   NVL(V_COLLECT.CNT, 0)   as collectCount
            ,   NVL(V_COMMENT.CNT, 0)   as commentCount
            ,   ROW_NUMBER() OVER (ORDER BY RC.ADD_DATE DESC) as RNUM
            FROM
                M_ARTICLE A
            ,   R_COMIC C
            ,   R_COLLECT RC
            ,   M_USER U
            ,   (SELECT
                    M_ACCESS.ARTICLE_ID
                ,   COUNT(M_ACCESS.ARTICLE_ID) as CNT
                FROM
                    M_ACCESS
                WHERE
                    M_ACCESS.DEL_FLG = '0'
                GROUP BY M_ACCESS.ARTICLE_ID
            ) V_ACCESS
            ,   (SELECT
                    R_COLLECT.ARTICLE_ID
                ,   COUNT(R_COLLECT.ARTICLE_ID) as CNT
                FROM
                    R_COLLECT
                WHERE
                    R_COLLECT.DEL_FLG = '0'
                GROUP BY R_COLLECT.ARTICLE_ID
            ) V_COLLECT
            ,   (SELECT
                    M_ARTICLE_COMMENT.ARTICLE_ID
                ,   COUNT(M_ARTICLE_COMMENT.ARTICLE_ID) as CNT
                FROM
                    M_ARTICLE_COMMENT
                WHERE
                    M_ARTICLE_COMMENT.DEL_FLG = '0'
                GROUP BY M_ARTICLE_COMMENT.ARTICLE_ID
            ) V_COMMENT
            WHERE
                A.ARTICLE_ID = C.ARTICLE_ID (+)
            AND A.ARTICLE_ID = RC.ARTICLE_ID (+)
            AND A.ARTICLE_ID = V_ACCESS.ARTICLE_ID (+)
            AND A.ARTICLE_ID = V_COLLECT.ARTICLE_ID (+)
            AND A.ARTICLE_ID = V_COMMENT.ARTICLE_ID (+)
            AND A.USER_ID = U.USER_ID (+)
            AND A.PUBLISH_FLG = '1'
            AND RC.USER_ID = #{userId}
            AND C.DEL_FLG = '0'
            AND RC.DEL_FLG = '0')
        WHERE
            RNUM BETWEEN #{start} AND #{end}
        ORDER BY RNUM
    </select>
    
    <select id="countMusic" resultType="int">
        SELECT
            COUNT(A.ARTICLE_ID)
        FROM
            M_ARTICLE A
        ,   R_MUSIC M
        ,   R_COLLECT RC
        WHERE
            A.ARTICLE_ID = M.ARTICLE_ID (+)
        AND A.ARTICLE_ID = RC.ARTICLE_ID (+)
        AND A.PUBLISH_FLG = '1'
        AND RC.USER_ID = #{userId}
        AND M.DEL_FLG = '0'
        AND RC.DEL_FLG = '0'
    </select>
    
    <select id="fetchMusicCollect" resultType="MusicBean">
        SELECT
            *
        FROM
            (SELECT
                A.ARTICLE_ID            as articleId
            ,   A.TITLE                 as title
            ,   A.DESCRIPTION           as description
            ,   A.PUBLISH_FLG           as publishFlg
            ,   A.PUBLISH_DATE          as publishDate
            ,   U.USER_ID               as "userBean.userId"
            ,   U.NICKNAME              as "userBean.nickname"
            ,   U.SIGNATURE             as "userBean.signature"
            ,   NVL(V_ACCESS.CNT, 0)    as accessCount
            ,   NVL(V_COLLECT.CNT, 0)   as collectCount
            ,   NVL(V_COMMENT.CNT, 0)   as commentCount
            ,   ROW_NUMBER() OVER (ORDER BY RC.ADD_DATE DESC) as RNUM
            FROM
                M_ARTICLE A
            ,   R_MUSIC M
            ,   R_COLLECT RC
            ,   M_USER U
            ,   (SELECT
                    M_ACCESS.ARTICLE_ID
                ,   COUNT(M_ACCESS.ARTICLE_ID) as CNT
                FROM
                    M_ACCESS
                WHERE
                    M_ACCESS.DEL_FLG = '0'
                GROUP BY M_ACCESS.ARTICLE_ID
            ) V_ACCESS
            ,   (SELECT
                    R_COLLECT.ARTICLE_ID
                ,   COUNT(R_COLLECT.ARTICLE_ID) as CNT
                FROM
                    R_COLLECT
                WHERE
                    R_COLLECT.DEL_FLG = '0'
                GROUP BY R_COLLECT.ARTICLE_ID
            ) V_COLLECT
            ,   (SELECT
                    M_ARTICLE_COMMENT.ARTICLE_ID
                ,   COUNT(M_ARTICLE_COMMENT.ARTICLE_ID) as CNT
                FROM
                    M_ARTICLE_COMMENT
                WHERE
                    M_ARTICLE_COMMENT.DEL_FLG = '0'
                GROUP BY M_ARTICLE_COMMENT.ARTICLE_ID
            ) V_COMMENT
            WHERE
                A.ARTICLE_ID = M.ARTICLE_ID (+)
            AND A.ARTICLE_ID = RC.ARTICLE_ID (+)
            AND A.ARTICLE_ID = V_ACCESS.ARTICLE_ID (+)
            AND A.ARTICLE_ID = V_COLLECT.ARTICLE_ID (+)
            AND A.ARTICLE_ID = V_COMMENT.ARTICLE_ID (+)
            AND A.USER_ID = U.USER_ID (+)
            AND A.PUBLISH_FLG = '1'
            AND RC.USER_ID = #{userId}
            AND M.DEL_FLG = '0'
            AND RC.DEL_FLG = '0')
        WHERE
            RNUM BETWEEN #{start} AND #{end}
        ORDER BY RNUM
    </select>
    
</mapper>