<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="login/layout">
  <body>
      <div layout:fragment="content">
		  <div class="row">
		    <div class="col-sm-6 col-sm-offset-3">
		        <div class="alert alert-success" >
		            <h4 th:text="#{console.music.input.finish}">music.input.finish</h4>
		            <a class="btn btn-primary" th:href="@{/console/music/input}" th:text="#{console.music.input.continue}"></a>
                    <a class="btn btn-danger" th:href="@{/admin/music}" th:text="#{console.music.audit}"></a>
                    <a class="btn btn-default" th:href="@{/console/music}" th:text="#{console.music.input.back}"></a>
		        </div><!-- /.panel -->
		    </div><!-- /.col-sm-6 -->
		  </div><!-- /.row -->
      </div><!-- /.content -->
  </body>
</html>