<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/magicsuggest-2.0.5/magicsuggest-min.css" />
    <title th:text="#{console.music.input} + ' | ' + #{console.music}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <h1 th:text="#{console.music}"></h1>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/console/music/input}">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="" th:text="#{console.music.input}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/music}">
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-xs" th:text="#{console.music.index}"></span>
                        </a>
                    </li>
                    <li class="" th:if="${session.LOGIN_USER.editAdmin}">
                        <a th:href="@{/admin/music}">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <span class="hidden-xs" th:text="#{admin.music}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker" >
        <div class="container">
            <form class="" th:action="@{/console/music/input}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-8">
                        <div th:class="${#strings.isEmpty(titleError)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                            <label for="inputTitle" class=" control-label" 
                                th:text="#{ArticleBean.title}">Title</label>
                            <input type="text" class="form-control" id="inputTitle" name="title"
                                th:value="${articleBean.title}"
                                placeholder="[社团名称] 碟名"/>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                th:unless="${#strings.isEmpty(titleError)}"></span>
                            <p class="help-block" 
                                th:unless="${#strings.isEmpty(titleError)}"
                                th:text="${titleError}"></p>
                        </div>
                        <div th:class="${#strings.isEmpty(descriptionError)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                            <label for="inputDescription" class=" control-label" 
                                th:text="#{ArticleBean.description}">Description</label>
                            <textarea class="form-control" rows="10"
                                id="inputDescription" name="description"
                                th:text="${articleBean.description}"
                                th:placeholder="#{ArticleBean.description}"></textarea>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                th:unless="${#strings.isEmpty(descriptionError)}"></span>
                            <p class="help-block" 
                                th:unless="${#strings.isEmpty(descriptionError)}"
                                th:text="${descriptionError}"></p>
                        </div>
                        <div class="form-group">
                            <label for="inputTag" class=" control-label" 
                                th:text="#{ArticleBean.tag}">Tag</label>
                            <div id="magicsuggest"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                                <img src="http://placehold.it/400x400" alt="..." 
                                    th:src="@{http://files.tongrenlu.info/default/cover_400.jpg}"/>
                            <div class="caption">
                                <h4 th:text="#{console.music.cover}">cover</h4>
                                <input type="file" id="cover" name="cover" class="form-control" accept="image/jpeg,image/png" />
                            </div>
                            <div class="caption">
                                <h4 th:text="#{console.music.xfd}">xfd</h4>
                                <input type="file" id="xfd" name="xfd" class="form-control" accept="audio/mp3" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                            <a th:href="@{/console/music}" class="btn btn-default" th:text="#{button.cancel}"></a>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/magicsuggest-2.0.5/magicsuggest-min.js" ></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
	var initValue = /*[[${tags}]]*/ [];
    var tagData = /*[[@{/tag/search}]]*/ '/tag/search';
	var placeHolder = /*[[#{console.tag.help}]]*/'Make a selection';
    $('#magicsuggest').magicSuggest({
    	name: 'tags',
    	method: 'get',
        data: tagData,
    	value: initValue,
        valueField: 'tag',
        hideTrigger: true,
        placeholder: placeHolder,
        typeDelay: 400,
        maxSelection: null
    });
});
</script>
<script type="text/javascript" src="http://static.tongrenlu.info/d3/3.5.5/d3.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/trianglify/0.2.1/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
</body>
</html>