<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="console/layout_audio_upload">
    <body>
        <div>
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="media">
                        <div class="media-body">
                            <h1 class="media-heading">
                                <span th:text="${articleBean.title}"></span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="container-tab" layout:fragment="page-header">
                    <div class="container">
                        <ul class="nav">
                            <li class="">
                                <a th:href="@{/console/music/__${articleBean.id}__}">
                                    <span class="" th:text="#{button.preview}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/console/music/__${articleBean.id}__/edit}">
                                    <span class="" th:text="#{button.edit}"></span>
                                </a>
                            </li>
                            <li class="active">
                                <a th:href="@{/console/music/__${articleBean.id}__/track/upload}">
                                    <span class="" th:text="#{console.music.track.upload}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/console/music/__${articleBean.id}__/track/sort}">
                                    <span class="" th:text="#{console.music.track.sort}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/console/music/__${articleBean.id}__/booklet/upload}">
                                    <span class="" th:text="#{console.music.booklet.upload}"></span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/console/music/__${articleBean.id}__/booklet/sort}">
                                    <span class="" th:text="#{console.music.booklet.sort}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div class="row" layout:fragment="page-footer">
                        <div class="col-xs-6 text-left">
                            <a th:href="@{/console/music/__${articleBean.id}__}" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span th:text="#{button.back}"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a th:href="@{/console/music/__${articleBean.id}__/track/sort}" class="btn btn-success">
                                <span th:text="#{console.article.sort}"></span>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block layout:fragment="scripts">
            <div th:replace="x-tmpl/upload-mp3::template-upload"></div>
            <div th:replace="x-tmpl/upload-mp3::template-download"></div>
            <script type="text/javascript" th:inline="javascript">
            $(function () {
                'use strict';
            
                var url = /*[[@{/console/music/__${articleBean.id}__/track/file}]]*/ '';
            
                new fileupload({
                    url: url
                });
            
            });
            </script>
        </th:block>
    </body>
</html>