<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="console/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{console.order}"></h1>
                        </div>
                    </div>
                </div>
                <div class="container-tab">
                    <div class="container">
                        <ul class="nav">
                            <li class="active">
                                <a th:href="@{/console/order}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="" th:text="#{console.order.index}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div id="shop-cart-container">
                        <div class="panel card">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="" th:switch="${orderBean.status}">
                                            <span class="text-lg" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.total,1,'COMMA',2,'POINT')})}"></span>
                                            <small class="label label-default" th:case="0" th:text="#{OrderBean.status.created}"></small>
                                            <small class="label label-primary" th:case="1" th:text="#{OrderBean.status.started}"></small>
                                            <small class="label label-warning" th:case="2" th:text="#{OrderBean.status.paid}"></small>
                                            <small class="label label-info" th:case="3" th:text="#{OrderBean.status.send.group}"></small>
                                            <small class="label label-success" th:case="4" th:text="#{OrderBean.status.send.direct}"></small>
                                            <small class="label label-success" th:case="5" th:text="#{OrderBean.status.finish}"></small>
                                            <small class="label label-default" th:case="9" th:text="#{OrderBean.status.canceled}"></small>
                                        </p>
                                    </div><!--  -->
                                    <div class=" col-md-4" >
                                        <p class="" th:switch="${orderBean.shippingMethod}">
                                            <span class="text-md" th:text="#{order.CNY(${#numbers.formatDecimal(orderBean.shippingFee,1,'COMMA',2,'POINT')})}"></span>
                                            
                                            <span class="label label-primary" th:case="3" th:text="#{OrderBean.shipping.ems}"></span>
                                            <span class="label label-success" th:case="2" th:text="#{OrderBean.shipping.sal}"></span>
                                            <span class="label label-default" th:case="*" th:text="#{OrderBean.shipping.group}"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-4" th:if="${orderBean.shopper}">
                                        <p class="form-control-static" >
                                            <span th:text="#{OrderBean.shopper}"></span>
                                            <strong th:text="${orderBean.shopper}"></strong>
                                        </p>
                                    </div>
                                    <div class="col-md-4" th:if="${orderBean.trackingCode}">
                                        <p class="form-control-static">
                                            <span th:text="#{OrderBean.trackingCode}"></span>
                                            <strong class="label label-success"  th:text="${orderBean.trackingCode}"></strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th class="" style="width:40%" th:text="#{OrderItemBean.title}">title</th>
                                        <th class="text-center" th:text="#{OrderItemBean.price}">price</th>
                                        <th class="text-center" th:text="#{OrderItemBean.quantity}">quantity</th>
                                        <th class="text-center" th:text="#{OrderBean.amount}">amountJp</th>
                                        <th class="text-center" th:text="#{OrderBean.total}">total</th>
                                        <th class="text-center" th:text="#{OrderItemBean.status}">status</th>
                                    </tr>
                                    <tr th:each="item: ${itemList}">
                                        <td >
                                            <p class="form-control-static" th:text="${item.title}">item.title</p>
                                            <p class="help-block" >
                                                <a target="_blank" th:href="${item.url}" th:text="${item.url}" th:alt-title="${item.shop}">
                                                    item.url
                                                </a>
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.price,1,'COMMA')})}">item.price</p>
                                        </td>
                                        <td class="text-center" >
                                            <p class="form-control-static" th:text="#{order.quantity(${#numbers.formatInteger(item.quantity,1,'COMMA')})}">item.quantity</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static" th:text="#{order.JPY(${#numbers.formatInteger(item.amountJp,1,'COMMA')})} + ' / ' + #{order.CNY(${#numbers.formatDecimal(item.amountCn,1,'COMMA',2,'POINT')})}">item.amountJp</p>
                                            <p class="help-block" th:text="#{order.exchange(${#numbers.formatDecimal(item.exchangeRate * 100,1,'COMMA',1,'POINT')})}"></p>
                                        </td>
                                        <td class="text-center" >
                                            <p class="form-control-static" th:text="#{order.CNY(${#numbers.formatDecimal(item.total,1,'COMMA',2,'POINT')})}"></p>
                                            <p class="help-block" th:text="#{order.fee(#{order.CNY(${#numbers.formatDecimal(item.totalFee,1,'COMMA',2,'POINT')})})}"></p>
                                        </td>
                                        <td class="text-center" th:switch="${item.status}">
                                            <div th:case="0" >
                                                <p class="form-control-static" th:text="#{OrderItemBean.status.created}"></p>
                                                <p class="help-block" th:text="${#dates.format(item.createDate, 'yyyy/MM/dd HH:mm')}"></p>
                                            </div>
                                            <div th:case="1" >
                                                <p class="form-control-static" th:text="#{OrderItemBean.status.ordered}"></p>
                                                <p class="help-block" th:text="${#dates.format(item.orderDate, 'yyyy/MM/dd HH:mm')}"></p>
                                            </div>
                                            <div th:case="2" >
                                                <p class="form-control-static" th:text="#{OrderItemBean.status.received}"></p>
                                                <p class="help-block" th:text="${#dates.format(item.receiveDate, 'yyyy/MM/dd HH:mm')}"></p>
                                            </div>
                                            <div th:case="3" >
                                                <p class="form-control-static" th:text="#{OrderItemBean.status.send.group}"></p>
                                            </div>
                                            <div th:case="4" >
                                                <p class="form-control-static" th:text="#{OrderItemBean.status.send.direct}"></p>
                                            </div>
                                            <div th:case="5" >
                                                <p class="form-control-static" th:text="#{OrderItemBean.status.finish}"></p>
                                            </div>
                                            <div th:case="9" >
                                                <p class="form-control-static" th:text="#{OrderItemBean.status.canceled}"></p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-body" th:unless="${#lists.isEmpty(payList)}">
                                <div class="media-list" >
                                        <div class="media" th:each="orderPayBean: ${payList}">
                                            <div class="media-body" th:switch="${orderPayBean.status}">
                                                <span class="label label-default" th:if="${orderPayBean.status} eq 0" th:text="#{OrderPaybean.status.created}">0</span>
                                                <span class="label label-success" th:if="${orderPayBean.status} eq 1" th:text="#{OrderPaybean.status.paid}">1</span>
                                                <strong th:text="${orderPayBean.title}">orderPayBean.title</strong>
                                                <span th:text="#{order.CNY(${#numbers.formatDecimal(orderPayBean.amount,1,'COMMA',2,'POINT')})}">orderPayBean.amount</span>
                                                <div class="media-right">
                                                <a th:href="${orderPayBean.payLink}" 
                                                    th:if="${orderPayBean.status} eq 0 and ${orderPayBean.payLink}" 
                                                    th:text="#{OrderBean.payLink}" 
                                                    class="btn btn-primary" target="_blank"></a>
                                                <a th:href="@{http://trade.taobao.com/trade/detail/trade_item_detail.htm?bizOrderId=__${orderBean.payNo}__}" 
                                                    th:if="${orderPayBean.status} eq 1 and ${orderBean.payNo}" 
                                                    th:text="#{OrderBean.payNo}" 
                                                    class="btn btn-primary" target="_blank"></a>
                                                    </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="http://static.tongrenlu.info/Numeral/1.5.3/min/numeral.min.js"></script>
            <script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates/2.5.3/js/tmpl.min.js"></script>
        </div>
    </body>
</html>