<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.ArticleTagMapper">
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO R_ARTICLE_TAG(
        <trim suffixOverrides=",">
            TAG_ID,
            ARTICLE_ID,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{tagBean.id},
            #{articleBean.id},
        </trim>
        )
    </insert>
    
    <select id="fetchTags" resultType="string">
        SELECT 
        <trim suffixOverrides=",">
            m_tag.tag           as tag,
        </trim>
        FROM 
            r_article_tag
        LEFT JOIN 
            m_tag 
        ON r_article_tag.tag_id = m_tag.id
        LEFT JOIN 
            m_article 
        ON r_article_tag.article_id = m_article.id
        <where>
            m_article.id = #{articleBean.id}
        AND r_article_tag.del_flg = '0'
        </where>
    </select>
    
    <update id="delete">
        UPDATE R_ARTICLE_TAG
        <set>
            DEL_FLG = '1'
        </set>
        <where>
        <if test="articleBean!=null">
            ARTICLE_ID = #{articleBean.id}
        </if>
        </where>
    </update>
</mapper>