<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.ComicMapper">

    <insert id="insert">
        INSERT INTO R_COMIC(
        <trim suffixOverrides=",">
            id,
            red_flg,
            translate_flg,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{id},
            #{redFlg},
            #{translateFlg},
        </trim>
        )
    </insert>
    
    
    <select id="count" resultType="int">
        SELECT 
            count(v_comic.id)
        FROM
            v_comic
        <where>
            <if test="userBean != null">
            AND v_comic.`userBean.id` = #{userBean.id}
            </if>
            <if test="loginUser != null">
                and (   v_comic.redFlg = '0' 
                    OR  v_comic.redFlg is NULL
                    <if test="loginUser.includeRed">
                    OR  v_comic.redFlg = '1'
                    </if>)
                <if test="loginUser.onlyTranslate">
                and (v_comic.`translateFlg` = '1' 
                OR  v_comic.`translateFlg` is NULL)
                </if>
            </if>
            <if test="publishFlg != null">
            AND v_comic.`publishFlg` = #{publishFlg}
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (v_comic.title LIKE #{pattern}
            OR  v_comic.description LIKE #{pattern})
            </if>
        </where>
    </select>
    
    <select id="fetchList" resultType="ComicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_comic.id                      as id,
            v_comic.title                   as title,
            v_comic.description             as description,
            v_comic.publishFlg              as publishFlg,
            v_comic.publishDate             as publishDate,
            v_comic.recommendFlg            as recommendFlg,
            v_comic.redFlg                  as redFlg,
            v_comic.translateFlg            as translateFlg,
            v_comic.`userBean.id`           as `userBean.id`,
            v_comic.`userBean.nickname`     as `userBean.nickname`,
            v_comic.`userBean.signature`    as `userBean.signature`,
            v_comic.accessCount             as accessCount,
            v_comic.likeCount               as likeCount,
            v_comic.commentCount            as commentCount,
        </trim>
        FROM
            v_comic 
        <where>
            <if test="userBean != null">
            AND v_comic.`userBean.id` = #{userBean.id}
            </if>
            <if test="publishFlg != null">
            AND v_comic.publishFlg = #{publishFlg}
            </if>
            <if test="loginUser != null">
                and (   v_comic.redFlg = '0' 
                    OR  v_comic.redFlg is NULL
                    <if test="loginUser.includeRed">
                    OR  v_comic.redFlg = '1'
                    </if>)
                <if test="loginUser.onlyTranslate">
                and (v_comic.`translateFlg` = '1' 
                OR  v_comic.`translateFlg` is NULL)
                </if>
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (v_comic.title LIKE #{pattern}
            OR  v_comic.description LIKE #{pattern})
            </if>
        </where>
        order by v_comic.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="fetchBean" resultType="ComicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_comic.id                      as id,
            v_comic.title                   as title,
            v_comic.description             as description,
            v_comic.publishFlg              as publishFlg,
            v_comic.publishDate             as publishDate,
            v_comic.recommendFlg            as recommendFlg,
            v_comic.redFlg                  as redFlg,
            v_comic.translateFlg            as translateFlg,
            v_comic.`userBean.id`           as `userBean.id`,
            v_comic.`userBean.nickname`     as `userBean.nickname`,
            v_comic.`userBean.signature`    as `userBean.signature`,
            v_comic.accessCount             as accessCount,
            v_comic.likeCount               as likeCount,
            v_comic.commentCount            as commentCount,
        </trim>
        FROM
            v_comic
        <where>
            v_comic.id = #{id}
        </where>
    </select>
    
    <update id="update">
        UPDATE R_COMIC
        <set>
            <if test="redFlg != null">
                red_flg = #{redFlg},
            </if>
            <if test="translateFlg != null">
                translate_flg = #{translateFlg},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>