<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.LikeMapper">
    
    <insert id="insert">
        INSERT INTO R_LIKE(
        <trim suffixOverrides=",">
            USER_ID,
            LIKE_ID,
            CATEGORY,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{userBean.id},
            #{likeId},
            #{category},
        </trim>
        )
    </insert>
    
    <select id="count" resultType="int">
        SELECT
            COUNT(L.ID)
        FROM
            R_LIKE L
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.LIKE_ID = #{likeId}
        AND L.CATEGORY = #{category}
        </where>
    </select>
    
    <update id="delete" >
        UPDATE
            R_LIKE L
        SET
            L.DEL_FLG = '1'
        <where>
        AND L.USER_ID = #{userBean.id}
        AND L.LIKE_ID = #{likeId}
        AND L.CATEGORY = #{category}
        </where>
    </update>
</mapper>