<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.MusicMapper">

    <insert id="insert">
        INSERT INTO R_MUSIC(
        <trim suffixOverrides=",">
            id,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{id},
        </trim>
        )
    </insert>
    
    <select id="countForSearch" resultType="int">
        SELECT 
            count(m_article.id)
        FROM
            m_article
        left join r_music on r_music.id = m_article.id
        left join m_user on m_user.id = m_article.user_id
        <where>
            <if test="userBean != null">
            AND m_article.user_id = #{userBean.id}
            </if>
            <if test="publishFlg != null">
            AND m_article.publish_flg = #{publishFlg}
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (m_article.title LIKE #{pattern}
            OR  m_article.description LIKE #{pattern})
            </if>
            AND r_music.del_flg = '0'
        </where>
    </select>
    
    <select id="fetchListForSearch" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            m_article.id            as id,
            m_article.title         as title,
            m_article.description   as description,
            m_article.publish_flg   as publishFlg,
            m_article.recommend_flg as recommendFlg,
            m_user.id               as "userBean.id",
            m_user.nickname         as "userBean.nickname",
        </trim>
        FROM
            m_article
        left join r_music on r_music.id = m_article.id
        left join m_user on m_user.id = m_article.user_id
        <where>
            <if test="userBean != null">
            AND m_article.user_id = #{userBean.id}
            </if>
            <if test="publishFlg != null">
            AND m_article.publish_flg = #{publishFlg}
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (m_article.title LIKE #{pattern}
            OR  m_article.description LIKE #{pattern})
            </if>
            AND r_music.del_flg = '0'
        </where>
        order by id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="fetchBean" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            m_article.id            as id,
            m_article.title         as title,
            m_article.description   as description,
            m_article.publish_flg   as publishFlg,
            m_article.recommend_flg as recommendFlg,
            m_user.id               as "userBean.id",
            m_user.nickname         as "userBean.nickname",
            m_user.signature        as "userBean.signature",
        </trim>
        FROM
            m_article
        left join r_music on r_music.id = m_article.id
        left join m_user on m_user.id = m_article.user_id
        <where>
                r_music.id = #{id}
            AND r_music.del_flg = '0'
        </where>
    </select>
    
    <update id="delete">
        UPDATE r_music
        <set>
            del_flg = '1'
        </set>
        <where>
            id = #{id}
        AND del_flg = '0'
        </where>
    </update>
</mapper>