<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.TagMapper">
    
    <select id="count" resultType="int">
        <bind name="pattern" value="'%' + _parameter.tag + '%'" />
        SELECT
            count(A.id)
        FROM
            M_TAG A
        <where>
            A.TAG LIKE #{pattern}
        </where>
    </select>
    
    <select id="search" resultType="TagBean">
        <bind name="pattern" value="'%' + _parameter.tag + '%'" />
        SELECT
        <trim suffixOverrides=",">
            A.id        as id,
            A.TAG       as tag,
        </trim>
        FROM
            M_TAG A
        <where>
            A.TAG LIKE #{pattern}
        </where>
        limit #{start}, #{pageSize}
    </select>
    
    <select id="fetchBean" resultType="TagBean">
        SELECT
        <trim suffixOverrides=",">
            A.id        as id,
            A.TAG       as tag,
        </trim>
        FROM
            M_TAG A
        <where>
            A.TAG = #{tag}
        </where>
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO M_TAG(
        <trim suffixOverrides=",">
            TAG,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{tag},
        </trim>
        )
    </insert>
    
</mapper>