<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.UserMapper">
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO M_USER(
        <trim suffixOverrides=",">
           EMAIL,
           PASSWORD,
           NICKNAME,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{email},
            #{password},
            #{nickname},
        </trim>
        )
    </insert>
    
    <select id="fetchBean" resultType="UserBean">
        SELECT
        <trim suffixOverrides=",">
            U.id                    as id,
            U.EMAIL                 as email,
            U.PASSWORD              as password,
            U.NICKNAME              as nickname,
            U.signature             as signature,
            U.role                  as role,
            U.include_red_flg       as includeRedFlg,
            U.only_translate_flg    as onlyTranslateFlg,
            U.only_vocal_flg        as onlyVocalFlg,
        </trim>
        FROM
            M_USER U
        <where>
            U.DEL_FLG = '0'
        <if test="fingerprint != null">
        AND U.fingerprint = #{fingerprint}
        </if>
        <if test="email != null">
        AND U.email = #{email}
        </if>
        <if test="id != null">
        AND U.id = #{id}
        </if>
        </where>
    </select>
    
    <select id="fetchProfile" resultType="UserBean">
        SELECT
        <trim suffixOverrides=",">
            U.id                    as id,
            U.NICKNAME              as nickname,
            U.signature             as signature,
            U.musicCount            as musicCount,
            U.comicCount            as comicCount,
            U.followCount           as followCount,
            U.followerCount         as followerCount,
        </trim>
        FROM
            V_USER U
        <where>
            U.id = #{id}
        </where>
    </select>
    
    <update id="update">
        UPDATE
            M_USER
        <set>
            <if test="password != null">
                PASSWORD = #{password},
            </if>
            <if test="fingerprint != null">
                fingerprint = #{fingerprint},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="signature != null">
                signature = #{signature},
            </if>
            <if test="includeRedFlg != null">
                include_red_flg = #{includeRedFlg},
            </if>
            <if test="onlyTranslateFlg != null">
                only_translate_flg = #{onlyTranslateFlg},
            </if>
            <if test="onlyVocalFlg != null">
                only_vocal_flg = #{onlyVocalFlg},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>