<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="media">
                <a class="media-left" th:href="@{/console/setting}">
                    <img class="img-120 img-circle media-object" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                </a>
                <div class="media-body">
                    <h1 class="media-heading hidden-xs">
                        <span th:text="${session.LOGIN_USER.nickname}"></span>
                        <small th:text="'#' + ${session.LOGIN_USER.id}"></small>
                    </h1>
                    <h5 th:text="${session.LOGIN_USER}" class="media-heading visible-xs"></h5>
                    <p class="text-muted"
                        th:unless="${#strings.isEmpty(session.LOGIN_USER.signature)}" 
                        th:text="${session.LOGIN_USER.signature}"></p>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/console}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{console.user.timeline}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/like/music}">
                            <span class="glyphicon glyphicon-music"></span>
                            <span class="hidden-xs" th:text="#{console.like.music}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/follow}">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="hidden-xs" th:text="#{console.follow}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/follower}">
                            <span class="glyphicon glyphicon-heart"></span>
                            <span class="hidden-xs" th:text="#{console.follower}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker">
        <div class="container" >
            <div class="row">
                <div class="col-md-8">
                    <div id="timeline" class="timeline-container"
                        th:attr="data-href=@{/console/timeline}">
                        <div class="timeline-list-content hidden">
                            <ul class="cbp_tmtimeline media-list" ></ul>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="javascript:;">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span th:text="#{button.previousPage}"></span>
                                    </a>
                                </li>
                                <li class="next">
                                    <a href="javascript:;">
                                        <span th:text="#{button.nextPage}"></span>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="timeline-empty alert alert-info hidden" >
                            <p th:text="#{console.user.timeline.empty}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.effect.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/d3/d3.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/trianglify-0.1.4/trianglify.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-timeline.js}" ></script>

<div th:replace="x-tmpl/timeline::template-timeline-item"></div>

<script type="text/javascript" th:inline="javascript">
$(function() {
    new timeline({});
    
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
</body>
</html>