<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 " th:classappend="${session.LOGIN_USER.member}? 'col-md-offset-2'">
                    <div class="media">
                        <a th:href="@{/console/setting}" class="pull-left">
                            <img class="img-60 img-circle media-object visible-xs" 
                                th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_120.jpg}" 
                                th:alt-title="${userBean}"/>
                            <img class="img-120 img-circle media-object hidden-xs" 
                                th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_120.jpg}" 
                                th:alt-title="${userBean}"/>
                        </a>
                        <div class="media-body">
                            <h3 th:text="${userBean}" class="media-heading"></h3>
                            <p class="text-muted"
                                th:unless="${#strings.isEmpty(userBean.signature)}" 
                                th:text="${userBean.signature}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap container-tab">
        <div class="container">
            <ul class="nav">
                <li class="active">
                    <a th:href="@{/user/__${userBean.id}__}">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-xs" th:text="#{console.user.timeline}"></span>
                    </a>
                </li>
                <li th:if="${userBean.musicCount gt 0}">
                    <a th:href="@{/console/music}">
                        <span class="glyphicon glyphicon-music"></span>
                        <span class="hidden-xs" th:text="#{console.user.music}"></span>
                        <span class="badge hidden-xs" th:text="${userBean.musicCount}"></span>
                    </a>
                </li>
                <li th:if="${userBean.comicCount gt 0}">
                    <a th:href="@{/console/comic}">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="hidden-xs" th:text="#{console.user.comic}"></span>
                        <span class="badge hidden-xs" th:text="${userBean.comicCount}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-wrap">
        <div class="container" >
            <div id="timeline" class="timeline-container"
                th:attr="data-href=@{/console/timeline}">
                <div class="timeline-list-content hidden">
                    <ul class="cbp_tmtimeline media-list" ></ul>
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:;">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span th:text="#{button.previousPage}"></span>
                            </a>
                        </li>
                        <li class="next">
                            <a href="javascript:;">
                                <span th:text="#{button.nextPage}"></span>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="timeline-empty alert alert-info hidden" 
                    th:text="#{console.user.timeline.empty}">
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.effect.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-timeline.js}" ></script>

<div th:replace="x-tmpl/timeline::template-timeline-item"></div>

<script type="text/javascript" th:inline="javascript">
$(function() {
    new timeline({});
});
</script>
</th:block>
</body>
</html>