<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
  <body>
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                  <a th:href="@{/console/setting}" class="">
                    <img src="http://placehold.it/400x400" class="img-400" 
                         th:src="@{/files/u__${userBean.id}__/cover_400.jpg(nocache=${#dates.createNow()})}" th:alt-title="${userBean}"/>
                  </a>
                  <div class="caption">
                    <h5 th:text="${userBean}" class="text-center"></h5>
                    <p th:unless="${#strings.isEmpty(userBean.signature)}" th:text="${userBean.signature}"></p>
                    <p class="text-right">
                        <a th:href="@{/console/setting}" class="btn btn-link btn-xs" 
                            th:text="#{console.profile.setting}"></a>
                        <a th:href="@{/console/password}" class="btn btn-link btn-xs" 
                            th:text="#{console.profile.password}"></a>
                    </p>
                  </div>
                </div>
                <div class="list-group" th:if="${session.LOGIN_USER.editor or session.LOGIN_USER.admin}">
                  <a th:href="@{/console/music}" class="list-group-item">
                    <span th:text="#{UserBean.musicCount}"></span>
                    <span class="badge pull-right" th:text="${userBean.musicCount}"></span>
                  </a>
                  <a th:href="@{/console/comic}" class="list-group-item">
                    <span th:text="#{UserBean.comicCount}"></span>
                    <span class="badge pull-right" th:text="${userBean.comicCount}"></span>
                  </a>
                  <a th:href="@{/console/follow}" class="list-group-item">
                    <span th:text="#{UserBean.followCount}"></span>
                    <span class="badge pull-right" th:text="${userBean.followCount}"></span>
                  </a>
                  <a th:href="@{/console/follower}" class="list-group-item">
                    <span th:text="#{UserBean.followerCount}"></span>
                    <span class="badge pull-right" th:text="${userBean.followerCount}"></span>
                  </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header">
                    <h3 th:text="#{console.user.timeline}"></h3>
                </div>
                <ul class="media-list">
                  <li class="media" th:each="i : ${#numbers.sequence(1,6)}">
                    <a class="pull-left" href="#">
                      <img class="media-object img-60 visible-xs" 
                           src="http://placehold.it/60x60" alt="..." />
                      <img class="media-object img-120 hidden-xs" 
                           src="http://placehold.it/120x120" alt="..." />
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">
                        <strong>Media heading</strong>
                      </h5>
                      <div class="article-list-item">
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque 
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque 
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque 
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque 
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque 
                          Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>