<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
</head>
<body>
<th:block layout:fragment="scripts-libs">
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">&lsaquo;</a>
    <a class="next">&rsaquo;</a>
    <h3 class="title"></h3>
    <a class="close">&times;</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.mouse.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.sortable.min.js"></script>

<script type="text/javascript" th:inline="javascript">
$(function(){
    var $sortableList = $( '#sortable-list' ).sortable();
    
    $sortableList.on('expand', function() {
        $sortableList.sortable( 'disable' );
        $sortableList.removeClass('row');
        var $listItem = $sortableList.find('.sortable-object');
        $listItem.removeClass('col-xs-6 col-sm-4 col-md-3');
        
        $listItem.find('.thumbnail').hide();
        $listItem.find('.panel').show();

        $( "#sortable-list-expand" ).addClass('disabled btn-default').removeClass('btn-primary');
        $( "#sortable-list-collapse" ).addClass('btn-primary').removeClass('disabled btn-default');
    }).on('collapse', function(){
        $sortableList.sortable( 'enable' );
        $sortableList.addClass('row');
        
        var $listItem = $sortableList.find('.sortable-object');
        $listItem.addClass('col-xs-6 col-sm-4 col-md-3');


        $listItem.find('.thumbnail').show();
        $listItem.find('.panel').hide();
        
        $listItem.find('p.caption').each(function(index, element) {
            var $this = $(element);
            var name = $(element).closest('.media').find('input[name="name[]"]').val();
            $this.text(name);
        });

        $( "#sortable-list-collapse" ).addClass('disabled btn-default').removeClass('btn-primary');
        $( "#sortable-list-expand" ).addClass('btn-primary').removeClass('disabled btn-default');
    });
    
    // $( "#sort-file-list" ).disableSelection();
    
    $( "#sortable-list-expand" ).click(function(e){
        e.preventDefault();
        $sortableList.trigger('expand');
    });
    $( "#sortable-list-collapse" ).click(function(e){
        e.preventDefault();
        $sortableList.trigger('collapse');
    });
    
    $("#sort-by-time").click(function(e){
        e.preventDefault();
        var $listItem = $sortableList.find('.sortable-object');
        var $tempFileList = $('<div></div>');
        $.each($listItem, function(i1, e1){
            var $e1 =  $(e1);
            var fileId1 = $e1.data("id");
            var name1 = $e1.data("name");
            
            $tempFileList.prepend($e1);
            $.each($tempFileList.children('.sortable-object'), function(i2, e2){
                var $e2 =  $(e2);
                var fileId2 = $e2.data("id");
                var name2 = $e2.data("name");
                if(fileId1 > fileId2){
                    $e1.insertAfter($e2);
                } else if(fileId1 == fileId2) {
                    if(name1 > name2){
                        $e1.insertAfter($e2);
                    }
                }
            });
        });
        $tempFileList.children('.sortable-object').appendTo($sortableList);
    });
    $("#sort-by-name").click(function(e){
        e.preventDefault();
        var $listItem = $sortableList.find('.sortable-object');
        var $tempFileList = $('<div></div>');
        $.each($listItem, function(i1, e1){
            var $e1 =  $(e1);
            var fileId1 = $e1.data("id");
            var name1 = $e1.data("name");
            
            $tempFileList.prepend($e1);
            $.each($tempFileList.children('.sortable-object'), function(i2, e2){
                var $e2 =  $(e2);
                var fileId2 = $e2.data("id");
                var name2 = $e2.data("name");
                if(name1 > name2){
                    $e1.insertAfter($e2);
                } else if(name1 == name2){
                    if(fileId1 > fileId2){
                        $e1.insertAfter($e2);
                    }
                }
            });
        });
        $tempFileList.children('.sortable-object').appendTo($sortableList);
    });
}) ;
</script>
</th:block>
</body>
</html>