<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
    <link rel="stylesheet" th:href="@{/tongrenlu/css/tongrenlu-console.css}"/>
    <title th:text="${session.LOGIN_USER} + ' | ' + #{console}"></title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" layout:fragment="header">
    <div class="container">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only" th:text="#{console}"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/console}" th:text="#{console}"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul id="nav-editor" class="nav navbar-nav navbar-left" th:if="${session.LOGIN_USER.editor}">
                <li class="dropdown ">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" >
                        <span th:text="#{console.music}"></span> 
                        <span class="badge" th:text="${unpublishMusicCount}"
                            th:if="${#objects.nullSafe(unpublishMusicCount,0)} gt 0"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ><a th:href="@{/console/music/input}" th:text="#{console.music.input}"></a></li>
                        <li ><a th:href="@{/console/music}" th:text="#{console.music.index}"></a></li>
                        <th:block th:if="${session.LOGIN_USER.editAdmin}">
                            <li th:if="${#objects.nullSafe(unpublishMusicCount,0)} eq 0">
                                <a th:href="@{/admin/music}" >
                                    <span th:text="#{admin.music}"></span>
                                </a>
                            </li>
                            <li th:if="${#objects.nullSafe(unpublishMusicCount,0)} gt 0">
                                <a th:href="@{/admin/music/unpublish}">
                                    <span th:text="#{admin.music}"></span>
                                    <span class="badge" th:text="${unpublishMusicCount}"></span>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </li>
                <li class="dropdown" th:if="${session.LOGIN_USER.editAdmin}">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" >
                        <span th:text="#{admin.user}"></span> 
                        <span class="badge" th:text="${authUserCount}"
                            th:if="${#objects.nullSafe(authUserCount,0)} gt 0"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/admin/user}" th:text="#{admin.user}"></a>
                        </li>
                        <li >
                            <a th:href="@{/admin/user/auth}">
                                <span th:text="#{admin.user.auth}"></span>
                                <span class="badge" th:text="${authUserCount}"
                                    th:if="${#objects.nullSafe(authUserCount,0)} gt 0"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" th:if="${session.LOGIN_USER.shopAdmin}">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" >
                        <span th:text="#{admin.order}"></span> 
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/admin/order}" th:text="#{admin.order}"></a>
                            <a th:href="@{/admin/order/item}" th:text="#{admin.order.item}"></a>
                            <a th:href="@{/admin/shop}" th:text="#{admin.shop}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a th:href="@{/}" th:text="#{application}"></a></li>
                <li id="nav-console" class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        <span id="nav-nickname" th:text="${session.LOGIN_USER}"></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ><a th:href="@{/console/setting}" th:text="#{console.profile.setting}"></a></li>
                        <li ><a th:href="@{/console/password}" th:text="#{console.profile.password}"></a></li>
                        <li ><a th:href="@{/signout}" th:text="#{login.signout}"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
