<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/user/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div>
    <div class="container-wrap" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8" layout:fragment="main-content">
                    <div class="page-header">
                        <h3 th:text="#{home.user.comicCount}"></h3>
                    </div>
                    <div th:include="home/layout_comic_index::list-content"></div>
                    <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                        <h4 th:text="#{home.article.noData}"></h4>
                        <a th:href="@{/user/__${userBean.id}__}" th:text="#{button.back}" class="btn btn-default"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-likebutton.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/user/__${userBean.id}__/comic(p='')}]]*/ '/console/music';
            window.location.href = url + currval;
            return false;
        }
    });
    $('#follow-user').likebutton({
        url: /*[[@{/user/__${userBean.id}__/follow}]]*/ '',
        notlikeText: /*[[#{home.user.notfollow}]]*/ '',
        likeText: /*[[#{home.user.follow}]]*/ '',
        unlikeText: /*[[#{home.user.unfollow}]]*/ ''
    });
});
</script>
</th:block>
</body>
</html>