<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="media">
                <div class="media-left">
                    <a th:href="@{/user/__${userBean.id}__}" class="">
                        <img class="img-120 img-circle media-object" 
                            th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_120.jpg}" 
                            th:alt-title="${userBean}"/>
                    </a>
                </div>
                <div class="media-body">
                    <h1 class="media-heading hidden-xs">
                        <span th:text="${userBean.nickname}"></span>
                        <small th:text="'#' + ${userBean.id}"></small>
                    </h1>
                    <h5 th:text="${userBean}" class="media-heading visible-xs"></h5>
                    <p class="text-muted"
                        th:unless="${#strings.isEmpty(userBean.signature)}" 
                        th:text="${userBean.signature}"></p>
                    <div class="btn-group">
                        <button id="follow-user" class="btn btn-danger hidden"
                          th:attr="data-url=@{/user/__${userBean.id}__/follow},,data-notlike-text=#{home.user.notfollow},data-like-text=#{home.user.follow},data-unlike-text=#{home.user.unfollow}">
                            <span class="glyphicon glyphicon-heart-empty like-button-icon"></span>
                            <span class="like-button-text" th:text="#{home.article.notlike}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li>
                        <a th:href="@{/user/__${userBean.id}__}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{home.user.timeline}"></span>
                        </a>
                    </li>
                    <li th:if="${userBean.musicCount gt 0}">
                        <a th:href="@{/user/__${userBean.id}__/music}">
                            <span class="glyphicon glyphicon-music"></span>
                            <span class="hidden-xs" th:text="#{home.user.musicCount}"></span>
                            <span class="badge hidden-xs" th:text="${userBean.musicCount}"></span>
                        </a>
                    </li>
                    <li class="active" th:if="${userBean.comicCount gt 0}">
                        <a th:href="@{/user/__${userBean.id}__/comic}">
                            <span class="glyphicon glyphicon-picture"></span>
                            <span class="hidden-xs" th:text="#{home.user.comicCount}"></span>
                            <span class="badge hidden-xs" th:text="${userBean.comicCount}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker" >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="row">
                     <div class="col-sm-3 col-md-2" th:each="articleBean : ${page.items}">
                         <div class="thumbnail card hidden-xs">
                              <a th:href="@{/comic/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                  <img th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_180.jpg}" th:alt-title="${articleBean.title}"
                                       class="img-180 "/>
                              </a>
                              <div class="caption">
                                  <a class="text-single-line" 
                                      th:href="@{/comic/__${articleBean.id}__}"
                                      th:alt-title="${articleBean.title}"
                                      th:text="${articleBean.title}" ></a>
                              </div>
                          </div>
                          <div class="media card visible-xs">
                              <a th:href="@{/comic/__${articleBean.id}__}" class="media-left" th:alt-title="${articleBean.title}">
                                  <img th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_180.jpg}" 
                                      th:alt-title="${articleBean.title}"
                                      class="media-object img-180 "/>
                              </a>
                              <div class="media-body">
                                  <h5 class="media-heading">
                                      <a th:href="@{/comic/__${articleBean.id}__}"
                                         th:alt-title="${articleBean.title}"
                                         th:text="${articleBean.title}" >
                                      </a>
                                  </h5>
                              </div>
                          </div>
                     </div>
                </div>
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <h4 th:text="#{home.article.noData}"></h4>
                <a th:href="@{/user/__${userBean.id}__}" th:text="#{button.back}" class="btn btn-default"></a>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/d3/d3.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/trianglify-0.1.4/trianglify.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-likebutton.js}" ></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/user/__${userBean.id}__/comic(p='')}]]*/ '/console/music';
            window.location.href = url + currval;
            return false;
        }
    });
    
    $('#follow-user').likebutton({
        url: /*[[@{/user/__${userBean.id}__/follow}]]*/ '',
        notlikeText: /*[[#{home.user.notfollow}]]*/ '',
        likeText: /*[[#{home.user.follow}]]*/ '',
        unlikeText: /*[[#{home.user.unfollow}]]*/ ''
    });

    $('.container-header').trianglify({
        palette: 'user'
    });
});
</script>
</th:block>
</body>
</html>