<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="media">
                        <a th:href="@{/console/setting}" class="pull-left">
                            <img class="img-60 img-rounded media-object visible-xs" 
                                th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_120.jpg}" th:alt-title="${userBean}"/>
                            <img class="img-120 img-rounded media-object hidden-xs" 
                                th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_120.jpg}" th:alt-title="${userBean}"/>
                        </a>
                        <div class="pull-right">
                            <button id="follow-user" class="btn btn-danger hidden"
                              th:attr="data-url=@{/user/__${userBean.id}__/follow},,data-notlike-text=#{home.user.notfollow},data-like-text=#{home.user.follow},data-unlike-text=#{home.user.unfollow}">
                                <span class="glyphicon glyphicon-heart-empty like-button-icon"></span>
                                <span class="hidden-xs like-button-text" th:text="#{home.article.notlike}"></span>
                            </button>
                        </div>
                        <div class="media-body">
                            <h5 th:text="${userBean}" class="media-heading visible-xs"></h5>
                            <h3 th:text="${userBean}" class="media-heading hidden-xs"></h3>
                            <p th:unless="${#strings.isEmpty(userBean.signature)}" th:text="${userBean.signature}"></p>
                            <div>
                                <a th:href="@{/user/__${userBean.id}__/music}" class="btn btn-link">
                                    <span th:text="#{home.user.musicCount}"></span>
                                    <span class="badge" th:text="${userBean.musicCount}"></span>
                                </a>
                                <a th:href="@{/user/__${userBean.id}__/comic}" class="btn btn-link">
                                    <span th:text="#{home.user.comicCount}"></span>
                                    <span class="badge" th:text="${userBean.comicCount}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>
                    <div class="tab-content" layout:fragment="main-content">
                      <div class="tab-pane active" id="home">...</div>
                      <div class="tab-pane" id="profile">...</div>
                      <div class="tab-pane" id="messages">...</div>
                      <div class="tab-pane" id="settings">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.effect.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-likebutton.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-timeline.js}" ></script>

<div th:replace="x-tmpl/timeline::template-timeline-item"></div>

<script type="text/javascript" th:inline="javascript">
$(function() {
    $('#follow-user').likebutton({
        url: /*[[@{/user/__${userBean.id}__/follow}]]*/ '',
        notlikeText: /*[[#{home.user.notfollow}]]*/ '',
        likeText: /*[[#{home.user.follow}]]*/ '',
        unlikeText: /*[[#{home.user.unfollow}]]*/ ''
    });
    new timeline({});
});
</script>
</th:block>
</body>
</html>