<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<script id="template-playlist-item" type="text/x-tmpl" th:inline="text" th:fragment="template-playlist-item">
<li class="media">
    <div class="show-unless-current pull-right text-right">
        <a href="javascript:;" class="btn btn-xs btn-default hidden">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a href="javascript:;" class="btn btn-xs btn-default {%=o.removeItemClass%}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <a class="pull-left show-if-current">
        <img src="{%=o.file.poster%}" class="img-120 hidden-xs media-object" />
        <img src="{%=o.file.poster%}" class="img-60 visible-xs media-object" />
    </a>
    <div class="media-body">
        <a href="javascript:;" class="{%=o.itemClass%}">
            <h5 class="media-heading">
                {%=o.file.title%} 
                {% if (o.file.instrumental) { %}
                    <span class="label label-warning" th:text="#{TrackBean.instrumental}">instrumental</span>
                {% } %}
                {% if (o.file.artist) { %}<br /><small>by {%=o.file.artist%}</small>{% } %}
            </h5>
        </a>
        <div class="jp-rate" data-track-id="{%=o.file.id%}" data-rate="{%=o.file.rate%}"></div>
    </div>
    {% if (o.file.original) { %}
        <div class="show-if-current show-if-hover"><pre class="">{%=o.file.original%}</pre></div>
    {% } %}
</li>
</script>
<script id="template-rate" type="text/x-tmpl" th:inline="text" th:fragment="template-rate">
    <button class="btn btn-xs btn-link " data-rate="1" th:title="#{home.music.rate(1)}"><span class="glyphicon {% if (o.rate >= 1) { %} glyphicon-star {% } else { %} glyphicon-star-empty {% } %}"></span></button>
    <button class="btn btn-xs btn-link " data-rate="2" th:title="#{home.music.rate(2)}"><span class="glyphicon {% if (o.rate >= 2) { %} glyphicon-star {% } else { %} glyphicon-star-empty {% } %}"></span></button>
    <button class="btn btn-xs btn-link " data-rate="3" th:title="#{home.music.rate(3)}"><span class="glyphicon {% if (o.rate >= 3) { %} glyphicon-star {% } else { %} glyphicon-star-empty {% } %}"></span></button>
    <button class="btn btn-xs btn-link " data-rate="4" th:title="#{home.music.rate(4)}"><span class="glyphicon {% if (o.rate >= 4) { %} glyphicon-star {% } else { %} glyphicon-star-empty {% } %}"></span></button>
    <button class="btn btn-xs btn-link " data-rate="5" th:title="#{home.music.rate(5)}"><span class="glyphicon {% if (o.rate >= 5) { %} glyphicon-star {% } else { %} glyphicon-star-empty {% } %}"></span></button>
</script>
<script id="template-tag-item" type="text/x-tmpl" th:fragment="template-tag-item">
<li>
    <a href="{%=o.tagPath%}/{%=o.id%}" class="btn btn-xs btn-default" target="_blank">
        {%=o.tag%} ({%=o.articleCount%})
    </a>
</li>
</script>

<script id="template-comment-item" type="text/x-tmpl" th:inline="text" th:fragment="template-comment-item">
<li class="media article-list-item">
    <a href="/user/{%=o.userBean.id%}" class="pull-left" target="_blank">
        <img src="http://files.tongrenlu.info/u{%=o.userBean.id%}/cover_120.jpg" class="img-60 img-circle" />
    </a>
    <div class="media-body">
        <h5 class="media-heading">
            <a href="/user/{%=o.userBean.id%}" target="_blank">
                <strong>{%=o.userBean.nickname%}#{%=o.userBean.id%}</strong>
            </a>
            <span class="text-muted"> {%=o.createDate%}</span>
        </h5>
        <pre>{%=o.content%}</pre>
        <button class="btn btn-info btn-xs comment-reply">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span th:text="#{home.article.comment.reply}"></span>
        </button>
    </div>
</li>
</script>
  </body>
</html>