<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<script id="template-playlist-item" type="text/x-tmpl" th:inline="text" th:fragment="template-playlist-item">
<li class="clearfix">
        <div class="pull-right">
            <a href="javascript:;" class="btn btn-xs btn-default {%=o.itemClass%}">
                <span class="glyphicon glyphicon-headphones"></span>
            </a>
            <a href="javascript:;" class="btn btn-xs btn-default hidden">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href="javascript:;" class="btn btn-xs btn-default {%=o.removeItemClass%}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    <h5>
        <a href="javascript:;" class="{%=o.itemClass%}">
            {%=o.file.title%}
        </a>
    </h5>
    <div>
        {% if (o.file.artist) { %}<span class="label label-info">{%=o.file.artist%}</span>{% } %}
        {% if (o.file.instrumental) { %}<span class="label label-warning" th:text="#{TrackBean.instrumental}">instrumental</span>{% } %}
    </div>
    {% if (o.file.original) { %}<pre class="hidden-xs">{%=o.file.original%}</pre>{% } %}
</li>
</script>

<script id="template-tag-item" type="text/x-tmpl" th:fragment="template-tag-item">
<li>
    <a href="{%=o.tagPath%}/{%=o.id%}" class="btn btn-xs btn-default">
        {%=o.tag%} ({%=o.articleCount%})
    </a>
</li>
</script>

<script id="template-comment-item" type="text/x-tmpl" th:inline="text" th:fragment="template-comment-item">
<li class="media card">
    <a href="/user/{%=o.userBean.id%}" class="pull-left" target="_blank">
        <img src="http://files.tongrenlu.info/u{%=o.userBean.id%}/cover_120.jpg" class="img-60 img-rounded" />
    </a>
    <div class="media-body">
        <h5 class="media-heading">
            <a href="/user/{%=o.userBean.id%}" target="_blank">
                <strong>{%=o.userBean.nickname%}#{%=o.userBean.id%}</strong>
            </a>
            <span class="text-muted"> {%=o.createDate%}</span>
            <button class="btn btn-info btn-xs comment-reply">
                <span class="glyphicon glyphicon-share-alt"></span>
                <span th:text="#{home.article.comment.reply}"></span>
            </button>
        </h5>
        <pre>{%=o.content%}</pre>
    </div>
</li>
</script>
  </body>
</html>