<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<script id="template-music-item" type="text/x-tmpl" th:fragment="template-music-item">
<a class="media" href="#music/{%=o.id%}" title="{%=o.title%}">
        <img class="pull-left media-object img-60 img-rounded img-thumbnail"
           src="http://files.tongrenlu.info/m{%=o.id%}/cover_120.jpg"
           alt="{%=o.title%}" />
    <div class="media-body">
        <h5 class="media-heading">{%=o.title%}</h5>
    </div>
</a>
</script>
<script id="template-music-page" type="text/x-tmpl" th:fragment="template-music-page">
<div class="fm-page-nav visible-xs">
    <a href="#index" class="btn btn-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span th:text="#{button.back}">Back</span>
    </a>
</div>
<div class="container-fluid">
    <div class="page-header">
        <div class="media">
            <img class="img-rounded img-60 media-object pull-left"
                 src="http://files.tongrenlu.info/m{%=o.music.id%}/cover_120.jpg" />
            <div class="media-body">
                <h5 class="">{%=o.music.title%}</h5>
            </div>
        </div>
    </div>
    <div class="btn-tools append-bottom-lg">
        <div class="btn-group">
            <a href="javascript:;" class="btn btn-primary fm-play-tracks" data-index="0">
                <span class="glyphicon glyphicon-play"></span>
                <span class="" th:text="#{home.fm.article.play}">Play</span>
            </a>
        </div>
        <div class="btn-group">
            <a th:href="@{/music} + '/{%=o.music.id%}'" class="btn btn-default" target="_blank">
                <span class="glyphicon glyphicon glyphicon-share-alt"></span>
                <span class="" th:text="#{home.fm.article.goToAlbum}">Go to Album</span>
            </a>
        </div>
    </div>
</div>
<ul class="media-list">
{% for (var i=0, track; track=o.trackList[i]; i++) { %}
    <a href="javascript:;" class="media fm-play-track" data-index="{%=i%}">
        <h5>{%=track.name%} <small>{%=track.artist%}</small></h5>
    </a>
{% } %}
</ul>
</script>
<script id="template-search-item" type="text/x-tmpl" th:fragment="template-search-item">
<li class="media">
    <a class="pull-left fm-play-track" href="javascript:;"
       title="{%=o.title%}">
      <img class="media-object img-60 img-rounded"
           src="http://files.tongrenlu.info/m{%=o.articleId%}/cover_120.jpg"
           alt="{%=o.track%}" />
    </a>
    <div class="media-body">
      <h5 class=""><a href="javascript:;" class="fm-play-track" title="{%=o.track%}">{%=o.track%}</a></h5>
      <a href="#music/{%=o.articleId%}" title="{%=o.title%}">
        <small>> {%=o.title%}</small>
      </a>
    </div>
  </li>
</script>
<script id="template-playlist-item" type="text/x-tmpl" th:fragment="template-playlist-item">
<li class="clearfix">
        <div class="pull-right">
            <a href="javascript:;" class="btn btn-xs btn-default {%=o.itemClass%}">
                <span class="glyphicon glyphicon-headphones"></span>
            </a>
            <a href="javascript:;" class="btn btn-xs btn-default hidden">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href="javascript:;" class="btn btn-xs btn-default {%=o.removeItemClass%}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    <h5>
        <a href="javascript:;" class="{%=o.itemClass%}">
            {%=o.file.title%}
        </a>
    </h5>
    <div>
        {% if (o.file.artist) { %}<span class="label label-info">{%=o.file.artist%}</span>{% } %}
        {% if (o.file.instrumental) { %}<span class="label label-warning">instrumental</span>{% } %}
    </div>
</li>
</script>
  </body>
</html>