<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script id="template-order-status" type="text/x-tmpl" th:inline="text" th:fragment="template-order-status">
{% if (o.status == 0) { %}
    <p class="form-control-static" >
        <button class="btn btn-primary btn-status" 
            data-item-id="{%=o.itemId%}" 
            data-status="1" 
            th:text="#{OrderItemBean.status.ordered}"></button>
    </p>
{% } else if (o.status == 1) { %}
    <p class="form-control-static" >
        <button class="btn btn-success btn-status" 
            data-item-id="{%=o.itemId%}" 
            data-status="2" 
            th:text="#{OrderItemBean.status.received}"></button>
    </p>
{% } else if (o.status == 2) { %}
    <p class="form-control-static" th:text="#{OrderItemBean.status.received}"></p>
{% } else if (o.status == 3) { %}
    <p class="form-control-static" th:text="#{OrderItemBean.status.send.group}"></p>
{% } else if (o.status == 4) { %}
    <p class="form-control-static" th:text="#{OrderItemBean.status.send.direct}"></p>
{% } else if (o.status == 5) { %}
    <p class="form-control-static" th:text="#{OrderItemBean.status.finish}"></p>
{% } else if (o.status == 9) { %}
    <p class="form-control-static" th:text="#{OrderItemBean.status.canceled}"></p>
{% } %}
</script>
<script id="template-order-pay" type="text/x-tmpl" th:inline="text" th:fragment="template-order-pay">
{% for (var i=0, orderPayBean; orderPayBean=o.orderPayBeanList[i]; i++) { %}
    <div class="row">
        {% if (orderPayBean.status == 0) { %}
        <form class="order-pay-update-form" action="" method="post">
            <div class="col-md-1 col-xs-2">
                <div class="form-group">
                            <a class="btn btn-danger btn-remove" data-order-pay-id="{%= orderPayBean.id %}">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="form-group">
                <p class="form-control-static" >
                    <strong>{%= orderPayBean.title %}</strong>
                </p>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                <p class="form-control-static text-right">{%= numeral(orderPayBean.amount).format('0,0.00') %} 元</p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-0 col-xs-6 col-xs-offset-2">
                <div class="form-group">
                    <input type="text" class="form-control" name="payNo" />
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                            <input type="hidden" class="form-control" name="orderPayId" value="{%= orderPayBean.id %}" />
                            <button type="submit" class="btn btn-success btn-block" th:text="#{order.pay}"></button>
                </div>
            </div>
        </form>
        {% } else { %}
            <div class="col-md-2 col-xs-6 col-md-offset-1 col-xs-offset-2">
                <div class="form-group">
                <p class="form-control-static" >
                    <strong>{%= orderPayBean.title %}</strong>
                </p>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                <p class="form-control-static text-right">{%= numeral(orderPayBean.amount).format('0,0.00') %} 元</p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-0 col-xs-6 col-xs-offset-2">
                <div class="form-group">
                    <a href="http://trade.taobao.com/trade/detail/trade_item_detail.htm?bizOrderId={%= orderPayBean.payNo %}" 
                        th:text="#{OrderBean.payNo}" 
                        class="btn btn-primary" target="_blank"></a>
                </div>
            </div>
        {% } %}
    </div>
{% } %}
    <div class="row">
        <form class="order-pay-add-form" action="" method="post">
            <div class="col-md-2 col-xs-6 col-md-offset-1 col-xs-offset-2">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" th:value="#{order.pay.title2}"/>
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                    <input type="text" class="form-control" name="amount" />
                </div>
            </div>
            <div class="col-md-5 col-md-offset-0 col-xs-6 col-xs-offset-2">
                <div class="form-group">
                    <input type="text" class="form-control" name="payLink" />
                </div>
            </div>
            <div class="col-md-2 col-xs-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" th:text="#{button.add}"></button>
                </div>
            </div>
        </form>
    </div>
</script>
</body>
</html>