<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script id="template-order-status" type="text/x-tmpl" th:inline="text" th:fragment="template-order-status">
{% if (o.status == 0) { %}
    <p class="form-control-static" >
        <button class="btn btn-primary btn-status" 
            data-item-id="{%=o.itemId%}" 
            data-status="1" 
            th:text="#{OrderItemBean.status.ordered}"></button>
    </p>
{% } else if (o.status == 1) { %}
    <p class="form-control-static" >
        <button class="btn btn-success btn-status" 
            data-item-id="{%=o.itemId%}" 
            data-status="2" 
            th:text="#{OrderItemBean.status.received}"></button>
    </p>
{% } else if (o.status == 9) { %}
    <p class="form-control-static" th:text="#{OrderItemBean.status.canceled}"></p>
{% } else { %}
    <p class="form-control-static" th:text="#{OrderItemBean.status.received}"></p>
{% } %}
</script>
</body>
</html>