<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script id="template-shop-cart" type="text/x-tmpl" th:inline="text" th:fragment="template-shop-cart">
{% if (o.itemList.length == 0) { %}
{% } else { %}
    <div class="panel card">
        <div class=" table-responsive">
        <table class="table table-bordered ">
            <tr>
                <th class="text-center" style="width:50%" th:text="#{OrderItemBean.title}">title</th>
                <th class="text-center" th:text="#{OrderItemBean.price}">price</th>
                <th class="text-center" th:text="#{OrderItemBean.quantity}">quantity</th>
                <th class="text-center" th:text="#{OrderBean.amount}">amount</th>
                <th class="text-center" th:text="#{OrderBean.total}">total</th>
                <th class="text-center"></th>
            </tr>
            {% for (var i=0, item; item=o.itemList[i]; i++) { %}
            <tr>
                <td >
                    <p class="form-control-static" >
                        <strong>【{%= item.shop %}】</strong>
                        <span>{%= item.title %}</span>
                    </p>
                    <p class="help-block" >
                        <a href="{%= item.url %}" target="_blank" title="{%= item.shop %}" class="">
                            {%= item.url %}
                        </a>
                    </p>
                </td>
                <td class="text-center">
                    <p class="form-control-static" >{%= numeral(item.price).format('0,0') %}</p>
                </td>
                <td class="text-center" >
                    <form class="form-inline" method="post">
                        <input type="number" name="quantity" value="{%= item.quantity %}"  data-title="{%= item.title %}" style="width:60px;" class="form-control text-right"/>
                        <input type="hidden" name="name" value="{%= item.name %}" class="form-control"/>
                    </form>
                </td>
                <td class="text-center">
                    <p class="form-control-static" >{%= numeral(item.amountJp).format('0,0') %} 円 / {%= numeral(item.amountCn).format('0,0.00') %} 元</p>
                    <p class="help-block" >(汇率: {%= numeral(item.exchangeRate).format('0.0%') %})</p>
                </td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(item.total).format('0,0.00') %} 元</p>
                    <p class="help-block" >(内含手续费: {%= numeral(item.totalFee ).format('0,0.00') %} 元)</p>
                </td>
                <td class="text-center" >
                    <a class="btn btn-danger btn-remove" data-title="{%= item.title %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% } %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(o.orderBean.amountJp).format('0,0') %} 円 / {%= numeral(o.orderBean.amountCn).format('0,0.00') %} 元</p>
                </td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(o.orderBean.total).format('0,0.00') %} 元</p>
                    <p class="help-block" >(内含手续费: {%= numeral(o.orderBean.fee).format('0,0.00') %} 元)</p>
                </td>
                <td ></td>
            </tr>
        </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <a href="javascript:;" class="btn btn-danger btn-clear" th:text="#{button.clear}">clear</a>
                </div>
                <div class="col-xs-6 text-right">
                    <form id="order-form" th:action="@{/shop/order}" method="post">
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary ">
    <input type="radio" value="ems" name="shipping" id="shipByEms" autocomplete="off"/> EMS ({%= numeral(o.emsPrice).format('0,0.00') %})
  </label>
  <label class="btn btn-default">
    <input type="radio" value="sal" name="shipping" id="shipBySal" autocomplete="off"/> SAL ({%= numeral(o.salPrice).format('0,0.00') %})
  </label>
  <label class="btn btn-default">
    <input type="radio" value="group" name="shipping" id="shipByGroup" autocomplete="off"/> GROUP ({%= numeral(o.groupPrice).format('0,0.00') %})
  </label>
</div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% } %}
</script>
</body>
</html>