<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script id="template-shop-cart" type="text/x-tmpl" th:inline="text" th:fragment="template-shop-cart">
{% if (o.itemList.length == 0) { %}
            <div class="alert alert-warning">
                <h4 th:text="#{shop.noData}">no item</h4>
                <p><a th:href="@{/}" th:text="#{button.back}" class="btn btn-default">back</a></p>
            </div>
{% } else { %}
    <div class="panel card">
        <div class=" table-responsive">
        <table class="table table-bordered ">
            <tr>
                <th class="text-center" style="width:50%" th:text="#{shop.title}">title</th>
                <th class="text-center" th:text="#{shop.price}">price</th>
                <th class="text-center" th:text="#{shop.quantity}">quantity</th>
                <th class="text-center" th:text="#{shop.amount}">amount</th>
                <th class="text-center" th:text="#{shop.total}">total</th>
                <th class="text-center"></th>
            </tr>
            {% for (var i=0, item; item=o.itemList[i]; i++) { %}
            <tr>
                <td >
                    <p class="form-control-static" >
                        {%= item.title %}
                    </p>
                    <p class="help-block" >
                        <a href="{%= item.url %}" target="_blank" title="{%= item.shop %}" class="">
                            {%= item.url %}
                        </a>
                    </p>
                </td>
                <td class="text-center">
                    <p class="form-control-static" >{%= numeral(item.price).format('0,0') %}</p>
                </td>
                <td class="text-center" >
                    <form class="form-inline" method="post">
                        <input type="number" name="quantity" value="{%= item.quantity %}" style="width:60px;" class="form-control text-right"/>
                        <input type="hidden" name="name" value="{%= item.name %}" class="form-control"/>
                    </form>
                </td>
                <td class="text-center">
                    <p class="form-control-static" >{%= numeral(item.amountJp).format('0,0') %} 円 / {%= numeral(item.amountCn).format('0,0.00') %} 元</p>
                    <p class="help-block" >(汇率: {%= numeral(item.exchangeRate).format('0.0%') %})</p>
                </td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(item.total).format('0,0.00') %} 元</p>
                    <p class="help-block" >(手续费: {%= numeral(item.fee).format('0,0.00') %} 元)</p>
                </td>
                <td class="text-center" >
                    <a  class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% } %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(o.orderBean.amountJp).format('0,0') %} 円 / {%= numeral(o.orderBean.amountCn).format('0,0.00') %} 元</p>
                </td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(o.orderBean.total).format('0,0.00') %} 元</p>
                    <p class="help-block" >(Fee: {%= numeral(o.orderBean.fee).format('0,0.00') %} 元)</p>
                </td>
                <td ></td>
            </tr>
        </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <a href="" class="btn btn-warning" th:text="#{button.clear}">clear</a>
                </div>
                <div class="col-xs-6 text-right">
                    <a th:href="@{/shop/order}" class="btn btn-success" th:text="#{button.next}">next</a>
                </div>
            </div>
        </div>
    </div>
{% } %}
</script>
</body>
</html>