<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script id="template-shop-cart" type="text/x-tmpl" th:inline="text" th:fragment="template-shop-cart">
{% if (o.itemList.length == 0) { %}
{% } else { %}
    <div class="panel card">
        <div class=" table-responsive">
        <table class="table table-bordered ">
            <tr>
                <th class="text-center" style="width:50%" th:text="#{OrderItemBean.title}">title</th>
                <th class="text-center" th:text="#{OrderItemBean.price}">price</th>
                <th class="text-center" th:text="#{OrderItemBean.quantity}">quantity</th>
                <th class="text-center" th:text="#{OrderBean.amount}">amount</th>
                <th class="text-center" th:text="#{OrderBean.total}">total</th>
                <th class="text-center"></th>
            </tr>
            {% for (var i=0, item; item=o.itemList[i]; i++) { %}
            <tr>
                <td >
                    <p class="form-control-static" >
                        <strong>【{%= item.shop %}】</strong>
                        <span>{%= item.title %}</span>
                    </p>
                    <p class="help-block" >
                        <a href="{%= item.url %}" target="_blank" title="{%= item.shop %}" class="">
                            {%= item.url %}
                        </a>
                    </p>
                </td>
                <td class="text-center">
                    <p class="form-control-static" >{%= numeral(item.price).format('0,0') %}</p>
                </td>
                <td class="text-center" >
                    <form class="form-inline" method="post">
                        <input type="number" name="quantity" value="{%= item.quantity %}"  data-title="{%= item.title %}" style="width:60px;" class="form-control text-right"/>
                        <input type="hidden" name="name" value="{%= item.name %}" class="form-control"/>
                    </form>
                </td>
                <td class="text-center">
                    <p class="form-control-static" >{%= numeral(item.amountJp).format('0,0') %} 円 / {%= numeral(item.amountCn).format('0,0.00') %} 元</p>
                    <p class="help-block" >(汇率: {%= numeral(item.exchangeRate).format('0.0%') %})</p>
                </td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(item.total).format('0,0.00') %} 元</p>
                    <p class="help-block" >(含手续费: {%= numeral(item.totalFee ).format('0,0.00') %} 元)</p>
                </td>
                <td class="text-center" >
                    <a class="btn btn-danger btn-remove" data-title="{%= item.title %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% } %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(o.orderBean.amountJp).format('0,0') %} 円 / {%= numeral(o.orderBean.amountCn).format('0,0.00') %} 元</p>
                </td>
                <td class="text-center" >
                    <p class="form-control-static" >{%= numeral(o.orderBean.total).format('0,0.00') %} 元</p>
                    <p class="help-block" >(含手续费: {%= numeral(o.orderBean.fee).format('0,0.00') %} 元)</p>
                </td>
                 <td class="text-center" >
                    <a href="javascript:;" class="btn btn-danger btn-clear" th:text="#{button.clear}">clear</a>
                </td>
            </tr>
        </table>
        </div>
<div class="panel-body">
<div class="page-header">
<h4>选择运送方式</h4>
</div>
    <div class="row">
<div class="col-md-4">
<form method="post" th:action="@{/shop/order}">
    <input type="hidden" name="shippingMethod" value="3" />
  <button type="submit"  class="btn btn-default btn-block  btn-shipping" data-shipping-method="2">
    <h4 class="list-group-item-heading">EMS直发 ({%= numeral(o.emsPrice).format('0,0.00') %} 元)</h4>
    <p class="list-group-item-text">3～5天可以收到。<br/>推荐购买10－15张时使用。</p>
  </button>
</form>
  </div>
<div class="col-md-4">
<form method="post" th:action="@{/shop/order}">
    <input type="hidden" name="shippingMethod" value="2" />
  <button type="submit"  class="btn btn-default btn-block btn-shipping" data-shipping-method="1">
    <h4 class="list-group-item-heading">SAL直发 ({%= numeral(o.salPrice).format('0,0.00') %} 元)</h4>
    <p class="list-group-item-text">1～3周可以收到。<br/>推荐购买15张以上时使用。</p>
  </button>
</form>
  </div>
<div class="col-md-4">
<form method="post" th:action="@{/shop/order}">
    <input type="hidden" name="shippingMethod" value="1" />
  <button type="submit"  class="btn btn-default  btn-block  btn-shipping" data-shipping-method="0">
    <h4 class="list-group-item-heading">SAL团发 ({%= numeral(o.groupPrice).format('0,0.00') %} 元)</h4>
    <p class="list-group-item-text">1个月左右可以收到，国内快递使用顺丰到付。<br/>推荐购买10张以下时使用。</p>
  </button>
</form>
  </div>
  </div>
  </div>
    </div>
{% } %}
</script>
</body>
</html>