<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<script id="template-upload" type="text/x-tmpl" th:inline="text" th:fragment="template-upload">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload card fade">
        <div class="card-body">
            <span class="preview"></span>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <div class="overlay" >
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary start" th:disabled="true">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span th:text="#{console.article.upload.start}">Start</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-warning btn-block cancel">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        <span th:text="#{console.article.upload.cancel}">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% } %}
</script>
<script id="template-download" type="text/x-tmpl" th:inline="text" th:fragment="template-download">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-download card fade">
        <div class="card-body">
            {% if (!file.error) { %}
                <span class="preview">
                    <img src="http://files.tongrenlu.info/u{%=file.userId%}/auth/{%=file.checksum%}_180.jpg" class="img-resposive"/>
                </span>
            {% } %}
            <a class="overlay" href="http://files.tongrenlu.info/u{%=file.userId%}/auth/{%=file.checksum%}_1080.jpg" data-gallery="">
                {% if (file.error) { %}
                    <div><span class="label label-danger" th:text="#{console.article.upload.error}">Error</span> {%=file.error%}</div>
                {% } %}
                {% if (file.status == 1) { %}
                    <span class="label label-success" th:text="#{console.auth.check}">Check</span>
                {% }  else { %}
                    <span class="label label-warning" th:text="#{console.auth.uncheck}">Check</span>
                {% } %}
            </a>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                {% if (!file.error) { %}
                <div class="btn-group" role="group">
                    <button class="btn btn-danger btn-block delete" data-type="POST" data-url="/admin/user/{%=file.userId%}/auth/file/{%=file.id%}/delete">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span th:text="#{console.article.upload.delete}">Delete</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle hidden" th:checked="true" />
                </div>
                {% if (file.status == 0) { %}
                    <div class="btn-group" role="group">
                        <button class="btn btn-success btn-block auth-check" data-url="/admin/user/{%=file.userId%}/auth/file/{%=file.id%}/check">
                            <span class="glyphicon glyphicon-check"></span>
                            <span th:text="#{console.auth.docheck}">Check</span>
                        </button>
                    </div>
                {% } %}
                {% } else { %}
                <div class="btn-group" role="group">
                    <button class="btn btn-warning btn-block cancel">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        <span th:text="#{console.article.upload.cancel}">Cancel</span>
                    </button>
                </div>
                {% } %}
            </div>
        </div>
    </div>
{% } %}
</script>
</body>
</html>