<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
  <head>
    <link rel="stylesheet" th:href="@{/tongrenlu/css/jplayer.tongrenlu.css}" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/Gallery-2.15.0/css/blueimp-gallery.min.css" />
  </head>
  <body>
    <div layout:fragment="content">
        <div class="container">
            <div class="media">
                <div class="media-heading pull-left">
                    <img src="http://placehold.it/60x60" class="img-responsive img-60 img-rounded" 
                       th:src="@{/files/c__${articleBean.id}__/cover_60.jpg}" th:alt-title="${articleBean.title}"/>
                </div>
                <div class="media-body">
                <h1 class="article-title text-single-line" th:text="${articleBean.title}"></h1>
                </div>
	        </div>
	      </div>
        <div class="container">
          <div class="page-header">
              <a class="btn btn-default pull-right"
                th:href="@{/admin/comic/__${articleBean.id}__/picture/upload}"
                th:text="#{console.comic.picture.upload}">upload</a>
              <h4 th:text="#{home.comic.picture}">picture</h4>
          </div>
        </div>
        <div class="container-fuild">
          <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
              <div class="slides"></div>
              <h3 class="title"></h3>
              <a class="prev">&lsaquo;</a>
              <a class="next">&rsaquo;</a>
              <a class="play-pause"></a>
              <ol class="indicator"></ol>
          </div>
        </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="page-header">
              <a class="btn btn-default pull-right"
                th:href="@{/admin/comic/__${articleBean.id}__/edit}"
                th:text="#{button.edit}">edit</a>
              <h4 th:text="${articleBean.title}"></h4>
          </div>
          <ul class="list-inline">
              <li>
                <span th:text="#{home.article.owner} + ' :'">Owner :</span>
                <a th:href="@{/user/__${articleBean.userBean.id}__}" 
                    th:alt-title="${articleBean.userBean}"
                    th:attr="data-content=${articleBean.userBean.signature}"
                        class="popover-dismiss"
                        data-toggle="popover" 
                        data-placement="top" 
                        data-trigger="hover" >
                    <strong th:text="${articleBean.userBean}"></strong>
                </a>
              </li>
          </ul>
          <pre id="article-description" th:text="${articleBean.description}"></pre>
          <ul class="list-inline tag-container">
              <li><strong th:text="#{ArticleBean.tag} + ' :'">Tags :</strong></li>
          </ul>
        </div>
      </div>
      <hr />
      <div>
        <a th:href="@{/admin/comic/__${articleBean.id}__/publish}" class="btn btn-success" th:text="#{admin.article.publish}"></a>
        <a th:href="@{/admin/comic}" class="btn btn-default" th:text="#{button.back}"></a>
      </div>
    </div>
    </div>
<th:block layout:fragment="scripts-libs">
<script type="text/javascript" src="http://static.tongrenlu.info/Gallery-2.15.0/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jquery.jplayer.min.js" ></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jplayer.playlist.min.js" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-player.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-tag.js}" ></script>
<script id="template-playlist-item" type="text/x-tmpl" th:inline="text">
<li><div>
    <a href="javascript:;" class="{%=o.itemClass%}">
      <h5>
        {%=o.file.title%}
        {% if (o.file.artist) { %}<span class="label label-info"> by {%=o.file.artist%}</span>{% } %}
        {% if (o.file.instrumental) { %}<span class="label label-warning">instrumental</span>{% } %}
      </h5>
    </a>
    {% if (o.file.original) { %}<pre>{%=o.file.original%}</pre>{% } %}
</div></li>
</script>
<script id="template-tag-item" type="text/x-tmpl" th:inline="text">
<li>
    <a href="{%=o.tagPath%}/{%=o.tag%}" class="btn btn-xs btn-default">
        {%=o.tag%} ({%=o.articleCount%})
    </a>
</li>
</script>
</th:block>
<th:block layout:fragment="scripts">
<script type="text/javascript" th:inline="javascript">
$(function() {
    var pictureDataUrl = /*[[@{/comic/__${articleBean.id}__/picture}]]*/ '';
    var filePath = /*[[@{/files/c__${articleBean.id}__}]]*/'';

    new carousel({
        url: pictureDataUrl,
        filePath: filePath,
        startSlideshow: false
    });
    
    new tag({
        url: /*[[@{/comic/__${articleBean.id}__/tag}]]*/ '/comic/1/tag',
        tagPath: /*[[@{/tag}]]*/'/tag',
        template: 'template-tag-item'
    });
    
    $('#article-description').url();
    
    $('.popover-dismiss').popover();
});
</script>
</th:block>
  </body>
</html>