<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/Gallery-2.15.0/css/blueimp-gallery.min.css" />
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header" >
        <div class="container">
            <div class="media">
                <div class="media-body">
                    <h1 class="media-heading">
                        <span th:text="${articleBean.title}"></span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container-tab" layout:fragment="page-header">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a th:href="@{/admin/comic/__${articleBean.id}__}">
                            <span class="" th:text="#{button.preview}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/comic/__${articleBean.id}__/edit}">
                            <span class="" th:text="#{button.edit}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/comic/__${articleBean.id}__/picture/upload}">
                            <span class="" th:text="#{console.comic.picture.upload}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/admin/comic/__${articleBean.id}__/picture/sort}">
                            <span class="" th:text="#{console.comic.picture.sort}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div th:replace="home/layout_article_view::article-gallery"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div id="baseinfo" th:include="home/layout_article_view::article-baseinfo"></div>
                    <div id="tags" th:include="home/layout_article_view::article-tags"></div>
                </div>
            </div>
            <hr />
            <div>
                <a th:href="@{/admin/comic/__${articleBean.id}__/publish}" class="btn btn-success" th:text="#{admin.article.publish}"></a>
                <a th:href="@{/admin/comic}" class="btn btn-default" th:text="#{button.back}"></a>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts-libs">
<script type="text/javascript" src="http://static.tongrenlu.info/Gallery-2.15.0/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-tag.js}" ></script>
<div th:replace="x-tmpl/article-view::template-tag-item"></div>
</th:block>
<th:block layout:fragment="scripts">
<script type="text/javascript" th:inline="javascript">
$(function() {
    var pictureDataUrl = /*[[@{/comic/__${articleBean.id}__/picture}]]*/ '';
    var filePath = /*[[@{http://files.tongrenlu.info/c__${articleBean.id}__}]]*/'';

    new carousel({
        url: pictureDataUrl,
        filePath: filePath,
        startSlideshow: false
    });
    
    new tag({
        url: /*[[@{/comic/__${articleBean.id}__/tag}]]*/ '',
        tagPath: /*[[@{/tag}]]*/'/tag',
        template: 'template-tag-item'
    });
    
    $('#article-description').url();
    
    $('.popover-dismiss').popover();
});
</script>
<script type="text/javascript" src="http://static.tongrenlu.info/d3/d3.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/trianglify-0.1.4/trianglify.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
</body>
</html>