<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="console/layout">
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="media">
                <a class="media-left" th:href="@{/console/setting}">
                    <img class="img-120 img-circle media-object" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                </a>
                <div class="media-body">
                    <h1 class="media-heading">
                        <span th:text="${session.LOGIN_USER.nickname}"></span>
                        <small th:text="'#' + ${session.LOGIN_USER.id}"></small>
                    </h1>
                    <p class="text-muted"
                        th:unless="${#strings.isEmpty(session.LOGIN_USER.signature)}" 
                        th:text="${session.LOGIN_USER.signature}"></p>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/console}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{console}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/setting}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{console.profile.setting}"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/console/password}">
                            <span class="glyphicon glyphicon-music"></span>
                            <span class="hidden-xs" th:text="#{console.profile.password}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker" >
        <div class="container">
      <form class="form-horizontal" id="change-password-form" th:action="@{/console/password}" method="post">
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-success" 
                     th:unless="${#strings.isEmpty(message)}"
                     th:text="${message}" >
                </div>
                <div th:class="${#strings.isEmpty(passwordError)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                    <label for="inputPassword" class="col-sm-2 control-label" 
                        th:text="#{UserBean.password}">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" 
                        placeholder="Password" th:placeholder="#{UserBean.password}"/>
                      <input type="hidden" id="hiddenPassword" name="password"/>
                      <span class="glyphicon glyphicon-remove form-control-feedback"
                          th:unless="${#strings.isEmpty(passwordError)}"></span>
                      <p class="help-block" 
                          th:unless="${#strings.isEmpty(passwordError)}"
                          th:text="${passwordError}"></p>
                    </div>
                  </div>
                  <div th:class="${#strings.isEmpty(password2Error)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                    <label for="inputPassword2" class="col-sm-2 control-label" 
                        th:text="#{UserBean.password2}">Password2</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword2" 
                        placeholder="Password2" th:placeholder="#{UserBean.password2}"/>
                      <input type="hidden" id="hiddenPassword2" name="password2"/>
                      <span class="glyphicon glyphicon-remove form-control-feedback"
                          th:unless="${#strings.isEmpty(password2Error)}"></span>
                      <p class="help-block" 
                          th:unless="${#strings.isEmpty(password2Error)}"
                          th:text="${password2Error}"></p>
                    </div>
                  </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                      <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                      <a th:href="@{/console}" class="btn btn-default" th:text="#{button.cancel}"></a>
                    </div>
                </div>
              </div>
        </div>
      </form>
    </div>
    </div>
    </div>
    <th:block layout:fragment="scripts">
        <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js" ></script>
        <script type="text/javascript" th:inline="javascript">
        $(function(){
            $('#change-password-form').submit(function(e){
                var p = $('#inputPassword').val();
                if(p){
                    $('#hiddenPassword').val(md5(p));
                }
                var p2 = $('#inputPassword2').val();
                if(p2){
                    $('#hiddenPassword2').val(md5(p2));
                }
            });
        })
        </script>
        
        <script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
        <script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
        <script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            $(function() {
                
                $('.container-header').trianglify({
                    palette: 'console'
                });
            });
        </script>
    </th:block>
</body>
</html>