<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<body>
<div layout:fragment="content">
    <div class="container-wrap" >
        <div class="container">
            <form class="" th:action="@{/console/setting}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/400x400" alt="..." class="img-400"
                                 th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_400.jpg(nocache=${#strings.randomAlphanumeric(6)})}" th:alt-title="${userBean}"/>
                            <div class="caption">
                                <input type="file" id="cover" name="cover" class="form-control" accept="image/jpeg,image/png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="alert alert-success" th:text="${message}" th:unless="${#strings.isEmpty(message)}"></div>
                        <div class="page-header">
                            <h4 th:text="#{console.profile.setting.baseinfo}"></h4>
                        </div>
                        <div th:class="${#strings.isEmpty(nicknameError)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                            <label for="inputNickname" class="control-label" th:text="#{UserBean.nickname}">Nickname</label>
                            <input type="text" class="form-control" 
                                id="inputNickname" name="nickname"
                                th:value="${userBean.nickname}"
                                th:placeholder="#{UserBean.nickname}"/>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                th:unless="${#strings.isEmpty(nicknameError)}"></span>
                            <p class="help-block" 
                                th:unless="${#strings.isEmpty(nicknameError)}"
                                th:text="${nicknameError}"></p>
                        </div>
                        <div th:class="${#strings.isEmpty(signatureError)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                            <label for="inputSignature" class=" control-label" 
                                th:text="#{UserBean.signature}">Signature</label>
                            <input class="form-control"
                                id="inputSignature" name="signature"
                                th:value="${userBean.signature}"
                                th:placeholder="#{UserBean.signature}" />
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                th:unless="${#strings.isEmpty(signatureError)}"></span>
                            <p class="help-block" 
                                th:unless="${#strings.isEmpty(signatureError)}"
                                th:text="${signatureError}"></p>
                        </div>
                        <div class="page-header">
                            <h4 th:text="#{console.profile.setting.customize}"></h4>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="onlyVocalFlg" value="1" th:checked="${userBean.onlyVocal}" />
                                <span th:text="#{console.profile.setting.onlyVocal}"></span>
                            </label>
                        </div>
                        <div class="form-group">
                              <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                              <a th:href="@{/console}" class="btn btn-default" th:text="#{button.cancel}"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>