<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="media">
                <a class="media-left" th:href="@{/console/setting}">
                    <img class="img-120 img-circle media-object" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                </a>
                <div class="media-body">
                    <h1 class="media-heading">
                        <span th:text="${session.LOGIN_USER.nickname}"></span>
                        <small th:text="'#' + ${session.LOGIN_USER.id}"></small>
                    </h1>
                    <p class="text-muted"
                        th:unless="${#strings.isEmpty(session.LOGIN_USER.signature)}" 
                        th:text="${session.LOGIN_USER.signature}"></p>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/console}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{console}"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/console/setting}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{console.profile.setting}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/password}">
                            <span class="glyphicon glyphicon-music"></span>
                            <span class="hidden-xs" th:text="#{console.profile.password}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div class="container">
            <form class="" th:action="@{/console/setting}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/400x400" alt="..." class="img-400"
                                 th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_400.jpg(nocache=${#strings.randomAlphanumeric(6)})}" th:alt-title="${userBean}"/>
                            <div class="caption">
                                <input type="file" id="cover" name="cover" class="form-control" accept="image/jpeg,image/png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="alert alert-success" th:text="${message}" th:unless="${#strings.isEmpty(message)}"></div>
                        <div class="page-header">
                            <h4 th:text="#{console.profile.setting.baseinfo}"></h4>
                        </div>
                        <div th:class="${#strings.isEmpty(nicknameError)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                            <label for="inputNickname" class="control-label" th:text="#{UserBean.nickname}">Nickname</label>
                            <input type="text" class="form-control" 
                                id="inputNickname" name="nickname"
                                th:value="${userBean.nickname}"
                                th:placeholder="#{UserBean.nickname}"/>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                th:unless="${#strings.isEmpty(nicknameError)}"></span>
                            <p class="help-block" 
                                th:unless="${#strings.isEmpty(nicknameError)}"
                                th:text="${nicknameError}"></p>
                        </div>
                        <div th:class="${#strings.isEmpty(signatureError)} ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
                            <label for="inputSignature" class=" control-label" 
                                th:text="#{UserBean.signature}">Signature</label>
                            <input class="form-control"
                                id="inputSignature" name="signature"
                                th:value="${userBean.signature}"
                                th:placeholder="#{UserBean.signature}" />
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                th:unless="${#strings.isEmpty(signatureError)}"></span>
                            <p class="help-block" 
                                th:unless="${#strings.isEmpty(signatureError)}"
                                th:text="${signatureError}"></p>
                        </div>
                        <div class="page-header">
                            <h4 th:text="#{console.profile.setting.customize}"></h4>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="onlyVocalFlg" value="1" th:checked="${userBean.onlyVocal}" />
                                <span th:text="#{console.profile.setting.onlyVocal}"></span>
                            </label>
                        </div>
                        <div class="form-group">
                              <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                              <a th:href="@{/console}" class="btn btn-default" th:text="#{button.cancel}"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
</body>
</html>