body {
	padding-bottom: 70px;
}

.nav-tabs {
	margin-bottom: 15px;
}

.img-400 {
    width: 400px;
    height: 400px;
}

.img-180 {
    width: 180px;
    height: 180px;
}

.img-120 {
	width: 120px;
    height: 120px;
}

.img-60 {
    width: 60px;
    height: 60px;
}

.img-thumbnail {
    padding:0;
}

.img-thumbnail:hover {
    border :1px solid #428bca;
}

.text-single-line {
	height: 1.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article-list-item:even {
	background: #ddd;
}

.article-list-item p{
    line-height: 1.4em;
    height: 6.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1.article-title {
	font-size:24px;
}

#player {
    margin: 0 auto 2em;
}