@charset "UTF-8";

body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "Microsoft YaHei", SimSun, Heiti, sans-serif !important;
    font-size: 14px;
}

.navbar-static-bottom {
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 20px;
	border-top: 1px #ddd solid;
}

.nav-tabs {
	margin-bottom: 15px;
}

.img-400 {
    width: 400px;
    height: 400px;
}

.img-180 {
    width: 180px;
    height: 180px;
}

.img-120 {
	width: 120px;
    height: 120px;
}

.img-60 {
    width: 60px;
    height: 60px;
}

.img-thumbnail {
    padding:0;
}

.img-thumbnail:hover {
    border :1px solid #428bca;
}

.text-single-line {
	height: 1.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

.article-list-item:even {
	background: #ddd;
}

.article-list-item p{
    line-height: 1.4em;
    height: 6.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-wrap {
	background: #f7f7f7; 
	margin-top: -20px; 
	padding: 20px 0 60px;
}

.append-bottom-xs {
    margin-bottom: 5px;
}

.append-bottom {
	margin-bottom: 10px;
}

.append-bottom-lg {
    margin-bottom: 20px;
}

h1.article-title {
	font-size:24px;
}

.jPaginate a,.jPaginate .jPag-pages span {
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 4px;
}
.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}
