.nav-tabs {
	margin-bottom: 15px;
}

.img-400 {
    max-width: 400px;
}

.img-180 {
    max-width: 180px;
}

.img-120 {
	max-width: 120px;
}

.text-single-line {
	height: 1.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}