@charset "UTF-8";

body {
	background: #424242;
}

#viewpoint {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}

.controllers {
    position: fixed;
    top: 20px;
	right: 36px;
	font-size: 24px;
	z-index: 999999999;
}
.controllers a{
	display: inline-block;
    background: #ffffff;
	color: #333333;
	padding: 6px 10px 4px;
}


.side-content {
	position: fixed;
    top: 0;
	width: 480px;
	max-width: 100%;
    right: -480px;
    bottom: 0;
	padding: 20px;
	overflow: auto;
    background: #ffffff;
    transition : right .5s;
    z-index: 99999999999;
}

.side-content--show {
    right: 0;
}
