@charset "UTF-8";

body {
	padding-top: 100px;
}

#items-case{
}

#items-case > div {
	background: #ffffff;
	margin:10px 4px 0px 0;
}

#items-case > div:hover{
}

#jp_container_1 {
	border: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
	height: 80px;
	z-index: 99;
	width: auto;
    box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

#jp_container_1 .jp-interface {
	height: 50px;
}

#jp_container_1 .jp-controls {
	position: absolute;
	width: 80px;
	left: 20px;
	top: 5px;
	padding: 0;
}

#jp_container_1 .jp-volume-controls {
  	position: absolute;
  	top: 15px;
	left: auto;
  	right: 20px;
  	width: 100px; 
}

#jp_container_1 .jp-progress {
  	position: absolute;
  	top: 16px;
	left: 120px;
  	right: 140px;
  	width: auto; 
}



#left-side .media{
    background: #fcfcfc;
    border-top: #fff solid 1px;
    border-bottom: #f0f0f0 solid 1px;
    margin: 0;
}

#left-side .media-body{
    padding: 4px;
}
