@charset "UTF-8";

html, body { height: 100%; }

body {
    background-color: #f9f9f9;
}

hr { visibility: hidden}

#fm-main {
	position: relative;
	height: 100%;
}

.fm-page {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    overflow: auto;
    transition: all .2s ease-in 0s;
    margin: 10px 10px 0 10px;
    border: #e7e7e7 1px solid;
}

.fm-page-active  {
    z-index: 999;
    display: block;
}

.fm-page .page-header {
    margin-top: 20px;
}

.fm-page .empty{
  margin-top: 20px;
}

.media-list {
    margin-bottom: 0;
}

.media-list > .media {
	display: block;
	padding: 8px 16px;
	margin: 0;
    background-color: #fff;
    border-top: #fff solid 1px;
    border-bottom: #e7e7e7 solid 1px;
    text-decoration: none;
}

.media-list > .media:nth-child(odd) {
    background-color: #f9f9f9;
}

.media-list > .media .media-heading {
    margin-top: 15px;
}

#fm-player {
    z-index: 1000;   
}

#fm-player .jp-audio{
    border: none;
}

.fm-page-1 {
    left: 0;
    right: 67%;
    top: 50px;
}

.fm-page-2 {
    left: 33%;
    right: 33%;
}

.fm-page-3 {
    left: 67%;
    right: 0;
}


@MEDIA (max-width: 767px) {
    .fm-page {
        left: 0;
        right: 0;
        width: auto;
        display: none;
    }

    .fm-page-active  {
        display: block;
    }
}
