@charset "UTF-8";

html, body { height: 100%; }

hr { visibility: hidden}

#fm-main {
	position: relative;
	height: 100%;
}

.fm-page {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
}

.fm-page-active  {
    z-index: 999;
}

.fm-page-overlay {
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    background-size:cover;
}

.fm-page-overlay a, .fm-page-overlay .btn-link {
    color: #fff;
    text-decoration: none;
}

.fm-page-overlay a:hover, .fm-page-overlay .btn-link:hover {
    color: #ccc;
}

.media-list > .media {
	padding: 8px 16px;
	margin: 0;
    background-color: #fff;
    border-top: #fff solid 1px;
    border-bottom: #f7f7f7 solid 1px;
}

.media-list > .media:nth-child(even) {
    background-color: #f9f9f9;
}

.media-list > .media .media-heading {
    margin-top: 20px;
}

#fm-index {
    z-index: 1;
}

#fm-music {
    z-index: 2;
    margin-left: 1999px;
    margin-right: -1999px;
    transition: all .5s ease-in 0s;
}

#fm-music.fm-page-active {
    margin-left: 0;
    margin-right: 0;
}

#fm-player {
	left:auto;
	width: 480px;
    z-index: 9;
    margin-left: 1999px;
    margin-right: -1999px;
    transition: all .5s ease-in 0s;
    border-left: 1px solid #ddd;
}


#fm-player .jp-audio{
    border: none;
}

#fm-player.fm-page-active {
    margin-left: 0;
    margin-right: 0;
}