@charset "UTF-8";

body, html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
}

body {
    position: relative;
    background: #424242;
    padding-top: 50px;
}

textarea {
	resize: none;
}

pre {
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 16px;
    border-radius: 0;
    white-space:pre-wrap;
    color: #616161;
}

.navbar-default {
    background-color: #009688;
    border-color: #009688;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: #009688; /* 500 */
}

.navbar-default .navbar-brand {
    color: #E0F2F1; /* 50 */
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #B2DFDB; /* 100 */
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus{
    background-color: #00897B; /* 600 */
    color: #fff;
}


.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #00796B; /* 700 */
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #555;
    background-color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #555;
    background-color: #eee;
}

.navbar-default .navbar-nav .open .dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu .divider,
.navbar-default .navbar-nav .open .dropdown-menu .divider {
    background-color: #e5e5e5;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #009688;
}

.navbar-default .navbar-nav>li>a .badge  {
    background-color: #B2DFDB;
    color: #009688;
}

.navbar-default .navbar-nav>li>a:hover .badge , 
.navbar-default .navbar-nav>li>a:focus .badge ,
.navbar-default .navbar-nav>.open>a.badge , 
.navbar-default .navbar-nav>.open>a:hover.badge , 
.navbar-default .navbar-nav>.open>a:focus.badge {
    background-color: #fff;
}

.navbar-default .dropdown-menu li .badge  {
    background-color: #009688;
    color: #fff;
}

.navbar-default .dropdown {
    min-width: 160px;
}

.navbar-static-bottom {
	border-radius: 0;
	margin-bottom: 0;
	border-top: 1px #eeeeee solid;
}

.nav-tabs {
	margin-bottom: 15px;
}

.img-400 {
    width: 400px;
    height: 400px;
}

.img-180 {
    width: 180px;
    height: 180px;
}

.img-120 {
	width: 120px;
    height: 120px;
}

.img-60 {
    width: 60px;
    height: 60px;
}

@media (max-width: 480px) {
    .img-180 {
        width: 120px;
        height: 120px;
    }
    
    .img-120 {
        width: 60px;
        height: 60px;
    }
}

.img-thumbnail {
    padding:0;
}

.img-thumbnail:hover {
    border :1px solid #428bca;
}

.text-single-line {
	height: 1.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

.article-list-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
    margin-bottom: 16px;
    min-height: 120px;
}

.article-list-item p{
    line-height: 1.4em;
    max-height: 5.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757575;
}

.container-wrap {
    padding-bottom: 20px;
	margin: 0;
    background-color: #f7f7f7;
}

.container-wrap-darker {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

.container-header {
    padding-top: 20px;
    background: #4DB6AC;
    color: #fff;
    padding-bottom: 0;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16);
}

.container-header h1,
.container-header h2,
.container-header h3,
.container-header form {
    margin-bottom: 40px;
}

.container-header a {
    color: #e0f7fa;
}

.container-header a:hover,
.container-header a:active,
.container-header a:focus {
    color: #b2ebf2;
}

.container-header small,
.container-header .text-muted {
    color: #e0f7fa;
}

.container-tab {
    margin-top: 40px;
	padding: 0;
    background-color: rgba(255,255,255,.3);
    margin-bottom: 0;
}

.container-tab .nav>li {
	float:left;
}

.container-tab .nav>li>a {
    background: none;
    color: #00ACC1; /* CYAN 700 */
    font-weight: bold;
    padding: 20px 22px;
    border-radius: 0;
}

.container-tab .nav>li>a:hover, 
.container-tab .nav>li>a:focus,
.container-tab .nav>li.active>a, 
.container-tab .nav>li.active>a:hover, 
.container-tab .nav>li.active>a:focus {
    color: #00838F;  /* CYAN 700 */
    border-bottom: #fff176 4px solid; /* yellow 300 */
}

.container-tab .nav>li>a .badge {
    background-color: #00ACC1; /* CYAN 400 */
    color: #e0f7fa; /* CYAN 50 */
}

.container-tab .nav>li>a:hover .badge , 
.container-tab .nav>li>a:focus .badge ,
.container-tab .nav>li.active>a .badge , 
.container-tab .nav>li.active>a:hover .badge , 
.container-tab .nav>li.active>a:focus .badge {
    background-color: #00838F; /* CYAN 700 */
}


.append-top-xs {
    margin-top: 5px;
}

.append-top {
    margin-top: 10px;
}

.append-top-lg {
    margin-top: 20px;
}

.append-bottom-xs {
    margin-bottom: 5px;
}

.append-bottom {
	margin-bottom: 10px;
}

.append-bottom-lg {
    margin-bottom: 20px;
}

h1.article-title {
	font-size:24px;
}

.jPaginate .jPag-pages {
	height: 33px;
}

.jPaginate a,
.jPaginate li a,
.jPaginate .jPag-pages span {
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 10px !important;
    border-radius: 4px;
    border: solid 1px #eee;
    box-shadow:0 2px #e9e9e9;
    text-decoration: none;
}

.jPaginate a,
.jPaginate li a,
.jPaginate .jPag-pages span {
    background-color: #fff !important;
    color: #212121 !important;
}

.jPaginate a:hover,
.jPaginate li a:hover,
.jPaginate .jPag-pages span {
    background-color: #4dd0e1 !important;
    color: #fff !important;
}

.share_self {
	background: #fff;
}

.list-inline > li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.cl-effect-1 a::before {
    margin-right: 4px;
}

.cl-effect-1 a::after {
    margin-left: 4px;
}

#top-music,
#top-tags,
#top-links {
	padding: 20px 0 60px;
}

#top-music h1,
#top-music form,
#top-links h2，{
    margin: 20px 0 40px;
}

#top-tags{
    background: #eeeeee;
}

#top-tags .btn-group {
    width: 100%;
}


#top-tags .btn-group > a.btn {
	width: 80%;
}

#sortalbe-list .media-heading {
	height: 4em;
}

.card {
	padding: 0;
    background-color: #fff;
    border: none;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16);
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 6px;
}

.card textarea{
    border-radius: 4px 4px 0 0;
}

.card .media-body{
    padding: 4px 4px 4px 0;
}

.card-footer {
	border-top: 1px solid #eee;
}

.card-footer .btn {
	border-radius: 0;
	border: none;
	padding: 12px 0;
}

.side-content {
    padding: 1em;
}

.side-content .page-header {
    margin-top: 0;
}

.side-content .page-header h3 {
    margin-top: 0;
}


#footer {
    color: #fdfdfd;
    background: transparent;
}

#footer a{
    color: #ebebeb;
}

#footer a:hover,
#footer a:active,
#footer a:focus{
    color: #fdfdfd;
}


#sortable-list .thumbnail {
    position: relative;
    height: 160px;
}

#sortable-list .thumbnail img {
	margin-bottom: 0;
}

#sortable-list .thumbnail .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    background: #333;
    background: rgba(6,6,6,.8);
    color: #fff;
    margin: 0;
    font-weight: bold;
}

#inputMusicSearch:focus {
    z-index: 999;
}

.search-result {
	text-align: left;
    cursor: pointer;
    position: absolute;
    z-index: 998;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    background: #f5f5f5;
    margin-left: 8px;
    margin-top: 33px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.search-result .media{
	margin-top: 0;
	border-top: 1px solid #ddd;
	cursor: pointer;
	height: 60px;
	overflow: hidden;
}

.search-result .media a{
    text-decoration: none;
}

.search-result .media:hover{
	background: #5BC0DE;
	color: #fff;
}

.search-result .media:hover a{
    color: #fff;
}

#blueimp-gallery-carousel {
	margin-top: 0;
	box-shadow: none;
}