@charset "UTF-8";

.navbar-inverse {
    background-color: #ff2d6f;
    border-color: #ff2d6f;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #ff2d6f;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: transparent;
    color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #555;
    background-color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider,
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #e5e5e5;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: #ff2d6f;
}

.container-wrap {
    background: #fff;
}

.container-header {
    background: #ff7997;
    color: #fff;
}

.container-header a {
    color: #fde0dc;
}

.container-header a:hover,
.container-header a:active,
.container-header a:focus {
    color: #e0e0e0;
}

.container-header small,
.container-header .text-muted {
    color: #fde0dc;
}

.container-tab {
    background: #ff7997;
}

.container-tab .nav>li>a {
    color: #fce4ec;
}

.container-tab .nav>li>a:hover, 
.container-tab .nav>li>a:focus,
.container-tab .nav>li.active>a, 
.container-tab .nav>li.active>a:hover, 
.container-tab .nav>li.active>a:focus {
    color: #fff;
    border-bottom: #fff176 2px solid;
}

.container-tab .nav>li>a .badge {
    background-color: #fce4ec;
    color: #ff7997;
}


.container-tab .nav>li>a:hover .badge , 
.container-tab .nav>li>a:focus .badge ,
.container-tab .nav>li.active>a .badge , 
.container-tab .nav>li.active>a:hover .badge , 
.container-tab .nav>li.active>a:focus .badge {
    background-color: #fff;
}


.jPaginate a,
.jPaginate li a,
.jPaginate .jPag-pages span {
    background-color: #fff !important;
    color: #212121 !important;
}

.jPaginate a:hover,
.jPaginate li a:hover,
.jPaginate .jPag-pages span {
    background-color: #e0e0e0 !important;
    color: #424242 !important;
}