@charset "UTF-8";

/**************
gallery
**************/
.gallery {
    width: 900px;
    margin: 0 auto 30px ;
}

.gallery .page-header{
    border: none;
    margin-bottom: 30px;
}

.gallery .page-header > h1{
}

.gallery > .media{
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.gallery > .media a{
    text-decoration: none;
}

.gallery > .media img{
    width: 100px;
    height: 100px;
}

.gallery > .large{
    width: 200px;
    height: 200px;
}

.gallery > .large img{
    width: 200px;
    height: 200px;
}

.gallery > .media .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    padding:0 10px;
    height: 0;
    opacity: 0;
    transition: height .2s ease-out .2s,opacity .2s ease-out .2s;
}

.gallery > .media img{
}

.gallery > .media .overlay{
    width: 100px;
    height: 0;
}

.gallery > .large .overlay{
    font-size: 18px;
    width: 200px;
    height: 0;
}

.gallery > .media:hover .overlay{
    height: 60px;
    opacity: 1;
}

.gallery > .large:hover .overlay{
    height: 200px;
    opacity: 1;
}

.gallery > .media:hover img{
}

.gallery > .large:hover img{
}


/**************
> 1200PX 
**************/
@media (min-width: 1200px) {
.gallery {
    width: 1125px;
}

.gallery > .media{
    width: 125px;
    height: 125px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gallery > .media img{
    width: 125px;
    height: 125px;
}

.gallery > .large{
    width: 250px;
    height: 250px;
}

.gallery > .large img{
    width: 250px;
    height: 250px;
}

.gallery > .media .overlay{
    width: 125px;
}
.gallery > .large .overlay{
    width: 250px;
}

.gallery > .large:hover .overlay{
    height: 125px;
}

.gallery > .large:hover img{
}

}
/**************
< 979px 
**************/
@media (max-width: 979px) {
.gallery {
    width: 690px;
    margin: 0 auto;
}

.gallery > .media{
    width: 115px;
    height: 115px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gallery > .media img{
    width: 115px;
    height: 115px;
}

.gallery > .large{
    width: 230px;
    height: 230px;
}

.gallery > .large img{
    width: 230px;
    height: 230px;
}

.gallery > .media .overlay{
    width: 115px;
}

.gallery > .large .overlay{
    width: 230px;
}

.gallery > .large:hover .overlay{
    height: 115px;
}

.gallery > .large:hover img{
}


}

/**************
< 767px 
**************/
@media (max-width: 767px) {

.gallery {
    width: 480px;
    margin: 0 auto;
}

.gallery > .media{
    width: 120px;
    height: 120px;
}

.gallery > .media img{
    width: 120px;
    height: 120px;
}

.gallery > .large{
    width: 240px;
    height: 240px;
}

.gallery > .large img{
    width: 240px;
    height: 240px;
}

.gallery > .media .overlay{
    display: none;
}

.gallery > .media:hover img{
    margin-top: 0;
}

}

/**************
< 480px 
**************/
@media (max-width: 480px) {
.gallery {
    width: 270px;
    margin: 0 auto;
}

.gallery > .media{
    width: 90px;
    height: 90px;
}

.gallery > .media img{
    width: 90px;
    height: 90px;
}

.gallery > .large{
    width: 180px;
    height: 180px;
}

.gallery > .large img{
    width: 180px;
    height: 180px;
}


}