<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
  <body>
<div layout:fragment="content">
    <div class="container-wrap" >
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="hidden-xs"><a th:href="@{/console/comic/input}" th:text="#{console.comic.input}"></a></li>
                <li class="active"><a th:href="@{/console/comic}" th:text="#{console.comic.index}"></a></li>
                <li class="hidden-xs" th:if="${session.LOGIN_USER.admin}"><a th:href="@{/admin/comic}" th:text="#{admin.comic}"></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form th:action="@{/console/comic}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" th:value="${page.params.query}"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default" th:text="#{button.search}">SEARCH</button>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </form>
                    <hr />
                    <th:block th:unless="${#lists.isEmpty(page.items)}">
                        <ul class="media-list">
                            <li class="media article-list-item" th:each="articleBean : ${page.items}">
                                <a class="pull-left" th:href="@{/console/comic/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                    <img class="media-object img-120 img-rounded  hidden-xs" src="http://placehold.it/120x120" 
                                        th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_120.jpg(nocache=${#strings.randomAlphanumeric(6)})}"
                                        th:alt-title="${articleBean.title}" />
                                    <img class="media-object img-60 img-rounded  visible-xs" src="http://placehold.it/60x60" 
                                        th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_120.jpg(nocache=${#strings.randomAlphanumeric(6)})}"
                                        th:alt-title="${articleBean.title}" />
                                </a>
                                <div class="btn-toolbar pull-right" role="toolbar">
                                    <div class="btn-group">
                                        <a th:href="@{/console/comic/__${articleBean.id}__/edit}" class="btn btn-default">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            <span class="hidden-xs" th:text="#{console.article.edit}"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group hidden-xs hidden-sm">
                                        <a th:href="@{/console/comic/__${articleBean.id}__/picture/upload}" class="btn btn-info">
                                            <span class="glyphicon glyphicon-picture"></span>
                                            <span class="hidden-xs" th:text="#{console.comic.picture.upload}"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="hidden-xs" th:text="#{console.article.delete}"></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li>
                                                <a th:href="@{/console/comic/__${articleBean.id}__/delete}" >
                                                    <span class="glyphicon glyphicon-ok"></span>&nbsp;
                                                    <span th:text="#{button.ok}"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading text-single-line">
                                        <a th:href="@{/console/comic/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                            <strong th:text="${articleBean.title}" ></strong>
                                        </a>
                                        <span class="label label-success" th:if="${articleBean.publish}" th:text="#{ArticleBean.publishFlg.true}"></span>
                                        <span class="label label-warning" th:unless="${articleBean.publish}" th:text="#{ArticleBean.publishFlg.false}"></span>
                                        <span class="label label-danger" th:if="${articleBean.red}" th:text="#{ComicBean.redFlg.true}"></span>
                                        <span class="label label-success" th:unless="${articleBean.red}" th:text="#{ComicBean.redFlg.false}"></span>
                                        <span class="label label-info" th:if="${articleBean.translate}" th:text="#{ComicBean.translateFlg.true}"></span>
                                        <span class="label label-warning" th:unless="${articleBean.translate}" th:text="#{ComicBean.translateFlg.false}"></span>
                                    </h5>
                                    <div class="text-muted">
                                        <span th:text="#{ArticleBean.accessCount} + ' :' + ${articleBean.accessCount}"></span>
                                        <span th:text="' / ' + #{ArticleBean.likeCount} + ' :' + ${articleBean.likeCount}"></span>
                                        <span th:text="' / ' + #{ArticleBean.commentCount} + ' :' + ${articleBean.commentCount}"></span>
                                    </div>
                                    <p th:text="${articleBean.description}"></p>
                                </div>
                            </li>
                        </ul>
                        <div id="jpaginate" class="hidden-xs"></div>
                        <div id="select-paginate" class="form-group visible-xs"></div>
                    </th:block>
                    <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                        <h4 th:text="#{console.article.noData}"></h4>
                        <a th:href="@{/console/comic/input}" th:text="#{console.comic.input}" class="btn btn-primary"></a>
                        <a th:href="@{/console/comic}" th:text="#{button.back}" class="btn btn-default"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/console/comic(q=${page.params.query},p='')}]]*/ '/console/comic';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
  </body>
</html>