<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" th:content="#{application.keywords}" />
    <link rel="author" href="humans.txt" />
    <link rel="stylesheet" href="http://static.tongrenlu.info/bootstrap-3.3.4-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/tongrenlu/css/tongrenlu-screen.css}"/>
    <script src="http://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <title th:text="#{application}"></title>
</head>
<body>
<div layout:fragment="header"></div>
<div layout:fragment="content"></div>
<div layout:fragment="footer">
<div id="footer" class="container-wrap">
  <div class="container">
    <h4 class="pull-left">
      <a class="" href="index.html" th:href="@{/}" th:text="#{application}"></a>
    </h4>
    <div class="pull-right">
        <p >本站资源均来自网友分享。若侵犯到您的权益，请立即联系我们删除。本站不负任何相关责任。</p>
        <p >
            <strong>东方同人录公式群：</strong>197781767     
            <strong>联系邮件：</strong>tongrenlu2013@gmail.com
        </p>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js" ></script>
<script type="text/javascript" src="http://static.tongrenlu.info/bootstrap-3.3.4-dist/js/bootstrap.min.js" ></script>
<th:block layout:fragment="scripts-libs"></th:block>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>
