#parse("templates/mail/order_header.vm")

请确认价格无误后，进行支付。
---------------------------------------------

${orderPayBean.title}
$number.format("#0.00", ${orderPayBean.amount})

付款链接
${orderPayBean.payLink}

---------------------------------------------

#parse("templates/mail/order_footer.vm")