查看详细内容：
http://www.tongrenlu.info/console/order/${orderBean.id}

---------------------------------------------

东方同人录
http://www.tongrenlu.info/

东方同人录群号：197781767
入群请把群名片改成同人录ID，否则下单无效
格式：昵称#数字ID

---------------------------------------------