--------------------------------------------------------------------------
$userBean.nickname
--------------------------------------------------------------------------
この度は○○○○○にご注文頂き、誠にありがとうございます。

下記商品のご注文を承りました。
ご注文内容を確認いたしまして、商品の確保・検品に入らせて頂きます。
商品状態によっては、商品状態を記載したご確認メールを送らせて頂きます。
今暫くお待ち下さい。

取引番号
http://www.tongrenlu.info/console/order/${orderBean.id}

ご注文の商品
──────────────────────────────────
#foreach($item in $itemList)
$velocityCount ： [$item.shop]$item.title ($item.price) x $item.quantity
#end
──────────────────────────────────
[支払方法] 


ご不明な点がある場合は、

をご確認ください。


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
○○○○○
http://www.tongrenlu.info/
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝