--------------------------------------------------------------------------
$userBean.nickname
感谢您使用东方同人录代购服务。
--------------------------------------------------------------------------

您的订单已经创建。
请耐心等待我们核实价格和库存后进行付款。

查看订单内容：
http://www.tongrenlu.info/console/order/${orderBean.id}

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
东方同人录
http://www.tongrenlu.info/
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝