#parse("templates/mail/order_header.vm")

您的订单已经开始处理。
请确认价格无误后，进行支付。
---------------------------------------------

#foreach ($item in $itemList)
#$velocityCount $item.title $number.format("#0.00", $item.total) 元 (含手续费: $number.format("#0.00", $item.fee) 元)
#end
---------------------------------------------
总价: $number.format("#0.00", $orderBean.total) 元

---------------------------------------------

#parse("templates/mail/order_footer.vm")