<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8" >
                    <div th:replace="home/layout_music_index::search-form"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div th:replace="home/layout_music_index::list-content"></div>
                    <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                        <h4 th:text="#{home.article.noData}"></h4>
                        <a th:href="@{/music}" th:text="#{button.back}" class="btn btn-default"></a>
                    </div>
                </div>
                <div class="col-sm-4" >
                    <div th:replace="home/layout_music_index::ranking"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/music(p='')}]]*/ '/music';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
</body>
</html>