<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="canonical" href="http://www.tongrenlu.info/music/search" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen" />
    <title th:text="#{home.music} + ' | ' + #{application}"></title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" layout:fragment="header">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only" th:text="#{application}"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" th:href="@{/}" th:text="#{application}"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class=""><a th:href="@{/music}" th:text="#{home.music}"></a></li>
                </ul>
                <ul id="nav-signin" class="nav navbar-nav navbar-right hidden">
                    <li class=""><a th:href="@{/signup}" th:text="#{login.signup}" rel="nofollow"></a></li>
                    <li class=""><a href="#signinModal" data-toggle="modal" th:text="#{login.signin}"></a></li>
                </ul>
                <ul id="nav-console" class="nav navbar-nav navbar-right hidden">
                    <li class=""><a th:href="@{/console}" th:text="#{console}" rel="nofollow"></a></li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle " data-toggle="dropdown" >
                            <span id="nav-nickname" th:text="#{UserBean.nickname}"></span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ><a th:href="@{/console/setting}" th:text="#{console.profile.setting}" rel="nofollow"></a></li>
                            <li ><a th:href="@{/console/password}" th:text="#{console.profile.password}" rel="nofollow"></a></li>
                            <li><a th:href="@{/signout}" th:text="#{login.signout}" rel="nofollow"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div layout:fragment="content">
        <div class="container-wrap container-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 th:text="#{home.music}"></h1>
                        <div th:replace="home/layout_music_index::search-form"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrap container-wrap-darker" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card panel" th:unless="${#lists.isEmpty(searchResult.content)}">
                            <div class="panel-body" >
                                <div class="media-list" >
                                    <div class="media" th:each="articleDocument : ${searchResult.content}">
                                        <a class="media-left"
                                            th:href="@{/__${articleDocument.category}__/__${articleDocument.articleId}__}"
                                            th:alt-title="${articleDocument.title}" target="_blank"> 
                                            <img class="media-object img-120 img-rounded"
                                                th:src="@{http://files.tongrenlu.info/__${articleDocument.id}__/cover_180.jpg}"
                                                th:alt-title="${articleDocument.title}" />
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a th:href="@{/__${articleDocument.category}__/__${articleDocument.articleId}__}"
                                                    th:text="${articleDocument.title}"
                                                    th:alt-title="${articleDocument.title}" target="_blank"></a>
                                            </h5>
                                            <ul class="list-inline tag-container">
                                                <li th:each="tag : ${articleDocument.tags}"
                                                    th:if="${#strings.containsIgnoreCase(tag, query)}"
                                                    class="tag-item ">
                                                        <a class="btn btn-xs btn-warning"
                                                            th:href="@{/music/search(q=${tag})}" 
                                                            th:text="${tag}">
                                                    </a>
                                                </li>
                                            </ul>
                                            <div th:id="'accordion-' + ${articleDocument.id}">
                                                <p>
                                                    <button type="button" class="btn btn-info btn-xs"
                                                        data-toggle="collapse"
                                                        th:attr="data-parent='#accordion-' + ${articleDocument.id},data-target='#collapse-' + ${articleDocument.id}">
                                                        <span class="glyphicon glyphicon-tags"></span>&nbsp; 
                                                        <strong>其他标签&nbsp;&nbsp;&gt;&gt;</strong>
                                                    </button>
                                                </p>
                                                <div th:id="'collapse-' + ${articleDocument.id}" class="collapse">
                                                    <ul class="list-inline tag-container">
                                                        <li th:each="tag : ${articleDocument.tags}"
                                                            th:unless="${#strings.containsIgnoreCase(tag, query)}"
                                                            class="tag-item ">
                                                            <a class="btn btn-xs btn-default" th:href="@{/music/search(q=${tag})}" th:text="${tag}"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div id="jpaginate" class="hidden-xs"></div>
                                <div id="select-paginate" class="form-group visible-xs"></div>
                            </div>
                        </div>
                        <div class="alert alert-warning"
                            th:if="${#lists.isEmpty(searchResult.content)}">
                            <h4 th:text="#{home.article.noData}"></h4>
                            <a th:href="@{/music}" th:text="#{button.back}"
                                class="btn btn-default"></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card panel" th:unless="${#arrays.isEmpty(tags)}">
                            <div class="panel-heading">
                                <h3 class="" th:text="#{home.search.tag}">Panel title</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">
                                    <li class="media" th:each="tagBean : ${tags}">
                                        <div class="media-body">
                                            <a th:href="@{/tag/__${tagBean.id}__}"
                                                th:alt-title="${tagBean.tag}"> <span
                                                th:text="#{home.tag.music(${tagBean.tag})}"></span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function() {
        new paginate({
            count : /*[[${searchResult.totalPages}]]*/20,
            start : /*[[${searchResult.number} + 1]]*/1,
            onChange : function(currval) {
                var url = /*[[@{/music/search(q=${query},p='')}]]*/'/music/search';
                window.location.href = url + currval;
                return false;
            }
        });
    });
</script>
<script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('.container-header').trianglify({
        palette: 'home'
    });
});
</script>
</th:block>
</body>
</html>