<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout_article_view">
  <body>
    <div class="container" layout:fragment="article-header">
      <div class="media">
          <div class="media-heading pull-left">
              <img src="http://placehold.it/60x60" class="img-responsive img-rounded img-60" 
                  th:src="@{/files/m__${articleBean.id}__/cover_60.jpg}" th:alt-title="${articleBean.title}"/>
          </div>
          <div class="pull-right btn-group">
              <button id="like-article" class="btn btn-danger hidden">
                  <span class="glyphicon glyphicon-heart-empty like-button-icon"></span>
                  <span class="hidden-xs like-button-text" th:text="#{home.article.notlike}"></span>
              </button>
          </div>
          <div class="media-body">
              <h1 class="article-title text-single-line hidden-xs" th:text="${articleBean.title}"></h1>
              <h5 class="article-title visible-xs" th:text="${articleBean.title}"></h5>
          </div>
      </div>
    </div>
    <div class="container" layout:fragment="article-info">
      <div class="row">
        <div class="col-sm-6">
            <div id="player" th:include="home/layout_article_view::article-player"></div>
        </div>
        <div class="col-sm-6">
            <div id="baseinfo" th:include="home/layout_article_view::article-baseinfo"></div>
            <div id="comment" th:include="home/layout_article_view::article-comment"></div>
        </div>
      </div>
    </div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.effect.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/Gallery-2.15.0/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jquery.jplayer.min.js" ></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jQuery.jPlayer.2.6.0/js/jplayer.playlist.min.js" ></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-player.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-likebutton.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-tag.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-comment.js}" ></script>

<div th:replace="x-tmpl/article-view::template-playlist-item"></div>
<div th:replace="x-tmpl/article-view::template-tag-item"></div>
<div th:replace="x-tmpl/article-view::template-comment-item"></div>

<script type="text/javascript" th:inline="javascript">
$(function() {
    
    new player({
    	url: /*[[@{/music/__${articleBean.id}__/track}]]*/ '',
    	filePath: /*[[@{/files/m__${articleBean.id}__}]]*/'',
    	swfPath: /*[[@{/jQuery.jPlayer.2.6.0/js}]]*/ '/jQuery.jPlayer.2.6.0/js',
    	filter: function(playList, playable) {
    		var onlyVocal = /*[[${session.LOGIN_USER.onlyVocal}]]*/ false;
    		if(onlyVocal) {
    			if(!playable.instrumental) {
                    playList.push(playable);
                }
    		} else {
    			playList.push(playable);
    		}
    	}
    });
    
    new carousel({
        url: /*[[@{/music/__${articleBean.id}__/booklet}]]*/ '',
        filePath: /*[[@{/files/m__${articleBean.id}__}]]*/'',
        startSlideshow: false
    });
    
    new tag({
        url: /*[[@{/music/__${articleBean.id}__/tag}]]*/ '/music/1/tag',
        tagPath: /*[[@{/tag}]]*/'/tag',
        template: 'template-tag-item'
    });

    new comment({
        url: /*[[@{/music/__${articleBean.id}__/comment}]]*/''
    });
    
    $('#article-description').url();
    $('#like-article').likebutton({
    	url: /*[[@{/music/__${articleBean.id}__/like}]]*/ '',
    	notlikeText: /*[[#{home.article.notlike}]]*/ '',
    	likeText: /*[[#{home.article.like}]]*/ '',
    	unlikeText: /*[[#{home.article.unlike}]]*/ ''
    });
});
</script>
</th:block>
  </body>
</html>