<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:wb="http://open.weibo.com/wb"
    layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css" type="text/css"/>
    <link rel="stylesheet" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="http://static.tongrenlu.info/magicsuggest-2.0.5/magicsuggest-min.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/tongrenlu/css/tongrenlu-jplayer.css}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:inline="text">[[${articleBean.title} + ' | ' + #{application}]]</title>
</head>
<body>
<div class="container-wrap" layout:fragment="content">
    <div th:include="home/layout_article_view::article-gallery"></div>
    <div class="container" layout:fragment="article-info">
        <div class="row">
            <div class="col-sm-6">
                <div id="player" th:include="home/layout_article_view::article-player"></div>
                <div class="alert alert-success" th:if="${articleBean.free}">
                    <p th:text="#{home.article.free}"></p>
                </div>
                <div class="alert alert-warning" th:unless="${articleBean.free}">
                    <p th:text="#{home.article.notfree}"></p>
                </div>
                <div class="jp-audio">
                    <div class="jp-type-playlist">
                        <div class="jp-playlist">
                            <ul>
                                <li class="media" th:each="playable,varStatus : ${playlist}">
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <span th:text="${varStatus.count} + '. ' + ${playable.title}"></span>
                                            <span class="label label-warning" 
                                                th:text="#{TrackBean.instrumental}"
                                                th:if="${playable.instrumental}"></span>
                                            <br />
                                            <a th:href="@{/music/search(q=${playable.artist})}" target="_blank">
                                                <small th:text="'by ' + ${playable.artist}"></small>
                                            </a>
                                        </h5>
                                        <div class="jp-rate">
                                            <button class="btn btn-xs btn-link " ><span class="glyphicon " th:classappend="${playable.rate >= 1} ? 'glyphicon-star' : 'glyphicon-star-empty'"></span></button>
                                            <button class="btn btn-xs btn-link " ><span class="glyphicon " th:classappend="${playable.rate >= 2} ? 'glyphicon-star' : 'glyphicon-star-empty'"></span></button>
                                            <button class="btn btn-xs btn-link " ><span class="glyphicon " th:classappend="${playable.rate >= 3} ? 'glyphicon-star' : 'glyphicon-star-empty'"></span></button>
                                            <button class="btn btn-xs btn-link " ><span class="glyphicon " th:classappend="${playable.rate >= 4} ? 'glyphicon-star' : 'glyphicon-star-empty'"></span></button>
                                            <button class="btn btn-xs btn-link " ><span class="glyphicon " th:classappend="${playable.rate >= 5} ? 'glyphicon-star' : 'glyphicon-star-empty'"></span></button>
                                        </div>
                                    </div>
                                    <ul class="jp-original" th:unless="${#lists.isEmpty(playable.original)}">
                                        <li th:each="original : ${playable.original}">
                                            <a th:href="@{/music/search(q=${original})}" th:text="${original}" target="_blank"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="baseinfo" th:include="home/layout_article_view::article-baseinfo"></div>
                <div id="share">
                    <button id="add-to-library" class="btn btn-success"
                        th:if="${articleBean.free}">
                        <span class="glyphicon glyphicon-cd"></span>
                        <span class="" th:text="#{home.library.add}"></span>
                    </button>
                    <button id="add-to-library" class="btn btn-info"
                        th:if="${articleBean.publish}">
                        <span class="glyphicon glyphicon glyphicon-check"></span>
                        <span class="" th:text="#{home.library.selfhelp}"></span>
                    </button>
                    <button id="share_article" class="btn btn-warning">
                        <span class="glyphicon glyphicon-share"></span>
                        <span class="" th:text="#{home.article.share}"></span>
                    </button>
                </div>
                <div id="tags" th:include="home/layout_article_view::article-tags"></div>
                <div id="comment" th:include="home/layout_article_view::article-comment"></div>
            </div>
        </div>
    </div>
    <div id="modal-alert" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{home.library.auth}"></h4>
                </div>
                <div class="modal-body">
                    <p th:text="#{home.library.success}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{button.close}">Close</button>
                    <a role="button" class="btn btn-primary" th:text="#{console.auth.upload}"
                        th:href="@{/console/auth/upload}"></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://cdn.bootcss.com/jplayer/2.9.2/jplayer/jquery.jplayer.min.js" ></script>
<script type="text/javascript" src="http://cdn.bootcss.com/jplayer/2.9.2/add-on/jplayer.playlist.min.js" ></script>
<script type="text/javascript" src="http://cdn.bootcss.com/blueimp-gallery/2.15.2/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/jquery-ui-1.10.4/js/jquery.ui.effect.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/JavaScript-Templates-2.5.3/js/tmpl.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/magicsuggest-2.0.5/magicsuggest-min.js" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-player.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-carousel.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-url.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-tag.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-comment.js}" ></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-library.js}" ></script>

<div th:replace="x-tmpl/article-view::template-playlist-item"></div>
<div th:replace="x-tmpl/article-view::template-rate"></div>
<div th:replace="x-tmpl/article-view::template-tag-item"></div>
<div th:replace="x-tmpl/article-view::template-comment-item"></div>

<script type="text/javascript" th:inline="javascript">
$(function() {
    
    new player({
        url: /*[[@{/music/__${articleBean.id}__/track}]]*/ '',
        filePath: /*[[@{http://files.tongrenlu.info/m__${articleBean.id}__}]]*/'',
        swfPath: 'http://cdn.bootcss.com/jplayer/2.9.2/jplayer'
    });
	
    new carousel({
        url: /*[[@{/music/__${articleBean.id}__/booklet}]]*/ '',
        filePath: /*[[@{http://files.tongrenlu.info/m__${articleBean.id}__}]]*/'',
        startSlideshow: false
    });
    
    new tag({
        url: /*[[@{/music/__${articleBean.id}__/tag}]]*/ '',
        tagPath: /*[[@{/tag}]]*/'/tag',
        template: 'template-tag-item',
        placeholder: /*[[#{console.tag.help}]]*/'Make a selection',
        searchurl: /*[[@{/tag/search}]]*/ '/tag/search'
    });

    new comment({
        url: /*[[@{/music/__${articleBean.id}__/comment}]]*/''
    });
    
    $('#article-description').url();
    
    $('#add-to-library').library({
    	url: /*[[@{/music/__${articleBean.id}__/library}]]*/''
    });
});
</script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1854505917" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    var title = /*[[${articleBean.title} + ' | ' + #{application}]]*/ '';
    var share_url = /*[[@{http://www.tongrenlu.info/music/__${articleBean.id}__}]]*/ '';
    var image_url = /*[[@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_400.jpg}]]*/ '';
    WB2.anyWhere(function(W){
        W.widget.publish({
            toolbar: 'face',
            action:'publish',
            type:'web',
            language:'zh_cn',
            button_type:'red',
            button_size:'middle',
            default_text: title + ' ' + share_url,
            tag: /*[[#{home.music.share.text}]]*/ '',
            refer:'y',
            default_image: image_url,
            appkey:'2ZiUc5',
            id: 'share_article',
            position: 'c'
        });
    });
});
</script>
</th:block>
</body>
</html>