<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
    <title th:text="${session.LOGIN_USER} + ' | ' + #{console.auth}"></title>
</head>
  <body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="media">
                <a class="media-left" th:href="@{/console/setting}">
                    <img class="img-120 img-circle media-object" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                </a>
                <div class="media-body">
                    <h1 class="media-heading">
                        <span th:text="${session.LOGIN_USER.nickname}"></span>
                        <small th:text="'#' + ${session.LOGIN_USER.id}"></small>
                    </h1>
                    <p class="text-muted"
                        th:unless="${#strings.isEmpty(session.LOGIN_USER.signature)}" 
                        th:text="${session.LOGIN_USER.signature}"></p>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/console}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{console.user.timeline}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/library}">
                            <span class="glyphicon glyphicon-cd"></span>
                            <span class="hidden-xs" th:text="#{console.library}"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/console/auth}">
                            <span class="glyphicon glyphicon-check"></span>
                            <span class="" th:text="#{console.auth}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/auth/upload}">
                            <span class="glyphicon glyphicon-upload"></span>
                            <span class="hidden-xs" th:text="#{console.auth.upload}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker"  >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="row">
                     <div class="col-xs-6 col-sm-3 col-md-2" th:each="articleBean : ${page.items}">
                        <div class="thumbnail card">
                            <a th:href="@{/music/__${articleBean.id}__}" th:alt-title="${articleBean.title}" target="_blank" >
                                <img th:src="@{http://files.tongrenlu.info/m__${articleBean.id}__/cover_180.jpg}" 
                                    th:alt-title="${articleBean.title}" class="img-180 "/>
                            </a>
                            <div class="caption">
                                <h5 class="text-single-line">
                                    <a th:href="@{/music/__${articleBean.id}__}"
                                        th:alt-title="${articleBean.title}" th:text="${articleBean.title}" 
                                        target="_blank" >
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <p th:text="#{console.article.noData}"></p>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/console/auth(p='')}]]*/ '/console/like/music';
            window.location.href = url + currval;
            return false;
        }
    });
    
});
</script>

<script type="text/javascript" src="http://cdn.bootcss.com/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/trianglify/0.1.5/trianglify.min.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
  </body>
</html>