<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
  <body>
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-sm-8">
                <ul class="nav nav-tabs">
                  <li class=""><a th:href="@{/console/like/music}" th:text="#{console.like.music}"></a></li>
                  <li class="active"><a th:href="@{/console/like/comic}" th:text="#{console.like.comic}"></a></li>
                  <li class=""><a th:href="@{/console/follow}" th:text="#{console.follow}"></a></li>
                  <li class=""><a th:href="@{/console/follower}" th:text="#{console.follower}"></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <th:block th:unless="${#lists.isEmpty(page.items)}">
                            <ul class="media-list">
                              <li class="media" th:each="articleBean : ${page.items}">
                                <a class="pull-left" th:href="@{/comic/__${articleBean.id}__}" th:alt-title="${articleBean.title}">
                                  <img class="media-object img-120 hidden-xs" src="http://placehold.it/120x120" 
                                       th:src="@{/files/c__${articleBean.id}__/cover_120.jpg(nocache=${#dates.createNow()})}"
                                       th:alt-title="${articleBean.title}" />
                                  <img class="media-object img-60 visible-xs" src="http://placehold.it/60x60" 
                                       th:src="@{/files/c__${articleBean.id}__/cover_60.jpg(nocache=${#dates.createNow()})}"
                                       th:alt-title="${articleBean.title}" />
                                </a>
                                <div class="media-body">
                                  <div class="article-list-item">
                                      <h4 class="media-heading text-single-line">
                                        <a th:href="@{/comic/__${articleBean.id}__}" th:text="${articleBean.title}" th:alt-title="${articleBean.title}"></a>
                                      </h4>
                                      <p th:text="${articleBean.description}"></p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <hr />
                            <div id="jpaginate" class="hidden-xs hidden-sm"></div>
                        </th:block>
                        <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                            <h4 th:text="#{console.article.noData}"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
<th:block layout:fragment="scripts-libs">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
</th:block>
<th:block layout:fragment="scripts">
<script type="text/javascript" th:inline="javascript">
$(function() {
    $("#jpaginate").paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        display     : 10,
        border                  : true,
        border_color            : '#fff',
        text_color              : '#fff',
        background_color        : '#428bca',  
        border_hover_color      : '#3498db',
        text_hover_color        : '#fff',
        background_hover_color  : '#2980b9', 
        images                  : false,
        onChange                : function (currval){
            var url = /*[[@{/console/comic(p='')}]]*/ '/console/comic';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
  </body>
</html>