<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
  <body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="media">
                <a class="pull-left">
                    <img class="img-60 img-circle media-object visible-xs" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                    <img class="img-120 img-circle media-object hidden-xs" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                </a>
                <div class="media-body">
                    <h1 class="media-heading">
                        <span th:text="${session.LOGIN_USER.nickname}"></span>
                        <small th:text="'#' + ${session.LOGIN_USER.id}"></small>
                    </h1>
                    <p class="text-muted"
                        th:unless="${#strings.isEmpty(session.LOGIN_USER.signature)}" 
                        th:text="${session.LOGIN_USER.signature}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap container-tab">
        <div class="container">
            <ul class="nav">
                <li class="">
                    <a th:href="@{/console}">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-xs" th:text="#{console.user.timeline}"></span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/console/like/music}">
                        <span class="glyphicon glyphicon-music"></span>
                        <span class="hidden-xs" th:text="#{console.like.music}"></span>
                    </a>
                </li>
                <li class="active">
                    <a th:href="@{/console/like/comic}">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="hidden-xs" th:text="#{console.like.comic}"></span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/console/follow}">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="hidden-xs" th:text="#{console.follow}"></span>
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/console/follower}">
                        <span class="glyphicon glyphicon-heart"></span>
                        <span class="hidden-xs" th:text="#{console.follower}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker"  >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="row">
                     <div class="col-sm-6 col-md-3 col-lg-2" th:each="articleBean : ${page.items}">
                         <div class="thumbnail media card">
                             <a class="visible-sm visible-xs pull-left" target="_blank" 
                                th:href="@{/comic/__${articleBean.id}__}"
                                th:alt-title="${articleBean.title}">
                                 <img th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_180.jpg}" 
                                      th:alt-title="${articleBean.title}"
                                      class="media-object img-60 "/>
                             </a>
                             <a class="hidden-sm hidden-xs" target="_blank" 
                                th:href="@{/comic/__${articleBean.id}__}" 
                                th:alt-title="${articleBean.title}">
                                 <img th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_180.jpg}" 
                                      th:alt-title="${articleBean.title}"
                                      class="img-180 "/>
                             </a>
                             <div class="caption">
                                 <h5 class="media-heading text-single-line">
                                     <a target="_blank" 
                                        th:href="@{/comic/__${articleBean.id}__}"
                                        th:alt-title="${articleBean.title}"
                                        th:text="${articleBean.title}" >
                                     </a>
                                 </h5>
                             </div>
                         </div>
                     </div>
                </div>
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <p th:text="#{console.article.noData}"></p>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/console/like/comic(p='')}]]*/ '/console/like/comic';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
  </body>
</html>