<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
  <body>
<div layout:fragment="content">
    <div class="container-wrap" >
        <div class="container">
            <div class="page-header">
                <h3 th:text="#{console.like.comic}"></h3>
            </div>
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="row">
                     <div class="col-sm-6 col-md-3 col-lg-2" th:each="articleBean : ${page.items}">
                         <div class="thumbnail media">
                             <a class="visible-sm visible-xs pull-left" target="_blank" 
                                th:href="@{/comic/__${articleBean.id}__}"
                                th:alt-title="${articleBean.title}">
                                 <img th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_120.jpg}" 
                                      th:alt-title="${articleBean.title}"
                                      class="media-object img-60 img-rounded"/>
                             </a>
                             <a class="hidden-sm hidden-xs" target="_blank" 
                                th:href="@{/comic/__${articleBean.id}__}" 
                                th:alt-title="${articleBean.title}">
                                 <img th:src="@{http://files.tongrenlu.info/c__${articleBean.id}__/cover_180.jpg}" 
                                      th:alt-title="${articleBean.title}"
                                      class="img-180 img-rounded"/>
                             </a>
                             <div class="caption">
                                 <h5 class="media-heading text-single-line">
                                     <a target="_blank" 
                                        th:href="@{/comic/__${articleBean.id}__}"
                                        th:alt-title="${articleBean.title}"
                                        th:text="${articleBean.title}" >
                                     </a>
                                 </h5>
                             </div>
                         </div>
                     </div>
                </div>
                <hr />
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <h4 th:text="#{console.article.noData}"></h4>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/console/like/comic(p='')}]]*/ '/console/like/comic';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
  </body>
</html>