<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
  <body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <div class="container">
            <div class="media">
                <a class="pull-left">
                    <img class="img-60 img-circle media-object visible-xs" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                    <img class="img-120 img-circle media-object hidden-xs" 
                        th:src="@{http://files.tongrenlu.info/u__${session.LOGIN_USER.id}__/cover_120.jpg}" 
                        th:alt-title="${session.LOGIN_USER}"/>
                </a>
                <div class="media-body">
                    <h1 class="media-heading">
                        <span th:text="${session.LOGIN_USER.nickname}"></span>
                        <small th:text="'#' + ${session.LOGIN_USER.id}"></small>
                    </h1>
                    <p class="text-muted"
                        th:unless="${#strings.isEmpty(session.LOGIN_USER.signature)}" 
                        th:text="${session.LOGIN_USER.signature}"></p>
                </div>
            </div>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/console}">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-xs" th:text="#{console.user.timeline}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/like/music}">
                            <span class="glyphicon glyphicon-music"></span>
                            <span class="hidden-xs" th:text="#{console.like.music}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/console/follow}">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="hidden-xs" th:text="#{console.follow}"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/console/follower}">
                            <span class="glyphicon glyphicon-heart"></span>
                            <span class="hidden-xs" th:text="#{console.follower}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap container-wrap-darker"  >
        <div class="container">
            <th:block th:unless="${#lists.isEmpty(page.items)}">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-2" th:each="userBean : ${page.items}">
                        <div class="thumbnail media card">
                            <a class="visible-sm visible-xs pull-left" target="_blank" 
                               th:href="@{/user/__${userBean.id}__}" 
                               th:alt-title="${userBean}">
                                <img th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_180.jpg}" 
                                th:alt-title="${userBean}"
                                     class="media-object img-60 "/>
                            </a>
                            <a class="hidden-sm hidden-xs" target="_blank"
                               th:href="@{/user/__${userBean.id}__}" >
                                <img th:src="@{http://files.tongrenlu.info/u__${userBean.id}__/cover_180.jpg}" 
                                th:alt-title="${userBean}"
                                     class="img-180 "/>
                            </a>
                            <div class="caption">
                                <h5 class="media-heading text-single-line">
                                    <a target="_blank"
                                       th:href="@{/user/__${userBean.id}__}"
                                       th:text="${userBean}" >
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jpaginate" class="hidden-xs"></div>
                <div id="select-paginate" class="form-group visible-xs"></div>
            </th:block>
            <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                <p th:text="#{console.article.noData}"></p>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/d3/d3.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/trianglify-0.1.4/trianglify.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/console/follower(p='')}]]*/ '/console/follower';
            window.location.href = url + currval;
            return false;
        }
    });
    
    $('.container-header').trianglify({
        palette: 'console'
    });
});
</script>
</th:block>
  </body>
</html>