<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
  <body>
    <div class="container" layout:fragment="content">
        <div class="page-header">
            <h3 th:text="#{console.follow}"></h3>
        </div>
        <th:block th:unless="${#lists.isEmpty(page.items)}">
            <ul class="media-list">
              <li class="media" th:each="userBean : ${page.items}">
                <a class="pull-left" th:href="@{/user/__${userBean.id}__}" th:alt-title="${userBean}">
                  <img class="media-object img-120 img-rounded img-thumbnail hidden-xs" src="http://placehold.it/120x120" 
                       th:src="@{/files/u__${userBean.id}__/cover_120.jpg}"
                       th:alt-title="${userBean}" />
                  <img class="media-object img-60 img-rounded img-thumbnail visible-xs" src="http://placehold.it/60x60" 
                       th:src="@{/files/u__${userBean.id}__/cover_60.jpg}"
                       th:alt-title="${userBean}" />
                </a>
                <div class="media-body">
                  <div class="article-list-item">
                      <h5 class="media-heading text-single-line">
                        <a th:href="@{/user/__${userBean.id}__}" th:alt-title="${userBean}">
                            <strong th:text="${userBean}" ></strong>
                        </a>
                      </h5>
                      <p th:text="${userBean.signature}"></p>
                  </div>
                </div>
              </li>
            </ul>
            <hr />
            <div id="jpaginate" class="hidden-xs hidden-sm"></div>
        </th:block>
        <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
            <h4 th:text="#{console.article.noData}"></h4>
        </div>
    </div>
<th:block layout:fragment="scripts-libs">
<script src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
</th:block>
<th:block layout:fragment="scripts">
<script type="text/javascript" th:inline="javascript">
$(function() {
    $("#jpaginate").paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        display     : 10,
        border                  : true,
        border_color            : '#fff',
        text_color              : '#fff',
        background_color        : '#428bca',  
        border_hover_color      : '#3498db',
        text_hover_color        : '#fff',
        background_hover_color  : '#2980b9', 
        images                  : false,
        onChange                : function (currval){
            var url = /*[[@{/console/follow(p='')}]]*/ '/console/follow';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
  </body>
</html>