<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
<link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header" >
        <div class="container">
            <h3 th:text="#{home.tag.music(${tagBean.tag})}"></h3>
        </div>
        <div class="container-tab">
            <div class="container">
                <ul class="nav">
                    <li class="">
                        <a th:href="@{/tag/__${tagBean.id}__}">
                            <span class="glyphicon glyphicon-tag"></span>
                            <span class="hidden-xs" th:text="${tagBean.tag}"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a th:href="@{/tag/__${tagBean.id}__/music}">
                            <span class="glyphicon glyphicon-music"></span>
                            <span class="hidden-xs" th:text="#{home.music}"></span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/tag/__${tagBean.id}__/comic}">
                            <span class="glyphicon glyphicon-picture"></span>
                            <span class="hidden-xs" th:text="#{home.comic}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrap" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div th:include="home/layout_music_index::list-content"></div>
                    <div class="alert alert-warning" th:if="${#lists.isEmpty(page.items)}">
                        <h4 th:text="#{home.article.noData}"></h4>
                        <a th:href="@{/tag/__${tagBean.id}__}" th:text="#{button.back}" class="btn btn-default"></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div th:replace="home/layout_music_index::ranking"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/d3/d3.min.js"></script>
<script type="text/javascript" src="http://static.tongrenlu.info/trianglify-0.1.4/trianglify.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-trianglify.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/tag/__${tagBean.id}__/music(p='')}]]*/ '';
            window.location.href = url + currval;
            return false;
        }
    });

    $('.container-header').trianglify({
        palette: 'tag'
    });
});
</script>
</th:block>
</body>
</html>