<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="home/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="canonical" th:href="@{http://www.tongrenlu.info/tag/__${tagBean.id}__}" />
    <link rel="stylesheet" type="text/css" href="http://static.tongrenlu.info/jquery.jpaginate/css/style.css" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header" >
        <div class="container">
            <h1 th:text="#{home.tag.music(${tagBean.tag})}"></h1>
        </div>
    </div>
    <div class="container-wrap-darker" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div th:include="home/layout_music_index::list-content"></div>
                </div>
                <div class="col-sm-4">
                    <div th:replace="home/layout_music_index::ranking"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript" src="http://static.tongrenlu.info/jquery.jpaginate/jquery.paginate.js"></script>
<script type="text/javascript" th:src="@{/tongrenlu/js/tongrenlu-paginate.js}"></script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    new paginate({
        count       : /*[[${page.pageCount}]]*/ 20,
        start       : /*[[${page.pageNumber}]]*/ 1,
        onChange                : function (currval){
            var url = /*[[@{/tag/__${tagBean.id}__(p='')}]]*/ '';
            window.location.href = url + currval;
            return false;
        }
    });
});
</script>
</th:block>
</body>
</html>