<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.AccessMapper">
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO m_access(
        <trim suffixOverrides=",">
            ARTICLE_ID,
            USER_ID,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{articleBean.id},
            #{userBean.id},
        </trim>
        )
    </insert>
    
    <update id="updateArticle">
        UPDATE
            m_article
        SET
            access_cnt = access_cnt + 1
        WHERE
            id = #{articleBean.id}
    </update>
</mapper>