<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.AuthFileMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO m_auth_file(
        <trim suffixOverrides=",">
            user_id,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{userBean.id},
        </trim>
        )
    </insert>
    
    <update id="delete" flushCache="true">
        UPDATE m_auth_file
        <set>
            del_flg = '1'
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    
    <select id="fetchList" resultType="AuthFileBean">
        SELECT
        <trim suffixOverrides=",">
            m_auth_file.ID                  as "id",
            m_auth_file.status              as "status",
            m_auth_file.user_id             as "userBean.id",
        </trim>
        FROM
            m_auth_file 
        <where>
            m_auth_file.user_id = #{userBean.id}
        AND m_auth_file.DEL_FLG='0'
        </where>
        ORDER BY m_auth_file.id
    </select>
    
    <select id="fetchBean" resultType="AuthFileBean">
        SELECT
        <trim suffixOverrides=",">
            m_auth_file.ID                  as "id",
            m_auth_file.status              as "status",
            m_auth_file.user_id             as "userBean.id",
        </trim>
        FROM
            m_auth_file 
        <where>
            m_auth_file.id = #{authFileId}
        AND m_auth_file.DEL_FLG='0'
        </where>
    </select>
    
    <select id="countUser" resultType="int">
        SELECT
        <trim suffixOverrides=",">
            count(v_user.id)
        </trim>
        FROM
            (SELECT 
                m_auth_file.user_id,
                m_auth_file.upd_date
            FROM
                m_auth_file
            <where>
            <if test="status != null">
            AND m_auth_file.status = #{status}
            </if>
            AND m_auth_file.DEL_FLG='0'
            </where>
            group by m_auth_file.user_id) auth_file
        join v_user ON auth_file.user_id = v_user.id
    </select>
    
    <select id="searchUserList" resultType="UserProfileBean">
        SELECT
        <trim suffixOverrides=",">
            v_user.id                      as id,
            v_user.nickname                as nickname,
        </trim>
        FROM
            (SELECT 
                m_auth_file.user_id,
                m_auth_file.upd_date
            FROM
                m_auth_file
            <where>
            <if test="status != null">
            AND m_auth_file.status = #{status}
            </if>
            AND m_auth_file.DEL_FLG='0'
            </where>
            group by m_auth_file.user_id) auth_file
        join v_user ON auth_file.user_id = v_user.id
        order by auth_file.upd_date desc
        limit #{start}, #{pageSize}
    </select>
    
    <update id="updateStatus" flushCache="true">
        UPDATE m_auth_file
        <set>
            status = #{status}
        </set>
        <where>
            m_auth_file.id = #{authFileId}
        AND m_auth_file.DEL_FLG='0'
        </where>
    </update>
</mapper>