<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.FileMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO m_file(
        <trim suffixOverrides=",">
            NAME,
            EXTENSION,
            CONTENT_TYPE,
            ARTICLE_ID,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{name},
            #{extension},
            #{contentType},
            #{articleId},
        </trim>
        )
    </insert>
    
    <select id="fetchList" resultType="FileBean">
        SELECT
        <trim suffixOverrides=",">
            A.ID            as id,
            A.NAME          as name,
            A.EXTENSION     as extension,
            A.ARTICLE_ID    as articleId,
            A.ORDER_NO      as orderNo,
        </trim>
        FROM
            m_file A
        <where>
            A.ARTICLE_ID = #{articleId}
        <if test="contentType">
        AND A.CONTENT_TYPE = #{contentType}
        </if>
        AND A.DEL_FLG = '0'
        </where>
        ORDER BY
            A.ORDER_NO, A.NAME, A.ID
    </select>
    
    <select id="fetchBean" resultType="FileBean">
        SELECT
        <trim suffixOverrides=",">
            A.ID            as id,
            A.NAME          as name,
            A.EXTENSION     as extension,
            A.CONTENT_TYPE  as contentType,
            A.ARTICLE_ID    as articleId,
            A.ORDER_NO      as orderNo,
        </trim>
        FROM
            m_file A
        <where>
            A.ID = #{id}
        AND A.DEL_FLG = '0'
        </where>
    </select>
    
    <update id="delete" flushCache="true">
        UPDATE m_file A
        <set>
            DEL_FLG = '1'
        </set>
        <where>
            A.ID = #{id}
        AND A.DEL_FLG = '0'
        </where>
    </update>
    
    <update id="update" flushCache="true">
        UPDATE m_file A
        <set>
            ORDER_NO = #{orderNo}
        </set>
        <where>
            A.ID = #{id}
        AND A.DEL_FLG = '0'
        </where>
    </update>
</mapper>