<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.LikeMapper">
    
    <insert id="insert">
        INSERT INTO r_like(
        <trim suffixOverrides=",">
            USER_ID,
            LIKE_ID,
            CATEGORY,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{userBean.id},
            #{likeId},
            #{category},
        </trim>
        )
    </insert>
    
    <select id="count" resultType="int">
        SELECT
            COUNT(L.ID)
        FROM
            r_like L
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.LIKE_ID = #{likeId}
        AND L.CATEGORY = #{category}
        </where>
    </select>
    
    <update id="delete" >
        UPDATE
            r_like L
        SET
            L.DEL_FLG = '1'
        <where>
        AND L.USER_ID = #{userBean.id}
        AND L.LIKE_ID = #{likeId}
        AND L.CATEGORY = #{category}
        </where>
    </update>
    
    <select id="countMusic" resultType="int">
        SELECT
            COUNT(L.ID)
        FROM
            r_like L
        left join v_music on v_music.id = L.like_id
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.CATEGORY = 'm'
        </where>
    </select>
    
    <select id="searchMusic" resultType="MusicBean">
        SELECT
        <trim suffixOverrides=",">
            v_music.id                      as id,
            v_music.title                   as title,
            v_music.description             as description,
            v_music.publishFlg              as publishFlg,
            v_music.publishDate             as publishDate,
            v_music.recommendFlg            as recommendFlg,
            v_music.`userBean.id`           as `userBean.id`,
            v_music.`userBean.nickname`     as `userBean.nickname`,
            v_music.`userBean.signature`    as `userBean.signature`,
            v_music.accessCount             as accessCount,
            v_music.likeCount               as likeCount,
            v_music.commentCount            as commentCount,
        </trim>
        FROM
            r_like L
        left join v_music on v_music.id = L.like_id
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.CATEGORY = 'm'
        </where>
        order by L.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="countComic" resultType="int">
        SELECT
            COUNT(L.ID)
        FROM
            r_like L
        left join v_comic on v_comic.id = L.like_id
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.CATEGORY = 'c'
        </where>
    </select>
    
    <select id="searchComic" resultType="ComicBean">
        SELECT
        <trim suffixOverrides=",">
            v_comic.id                      as id,
            v_comic.title                   as title,
            v_comic.description             as description,
            v_comic.publishFlg              as publishFlg,
            v_comic.publishDate             as publishDate,
            v_comic.recommendFlg            as recommendFlg,
            v_comic.redFlg                  as redFlg,
            v_comic.translateFlg            as translateFlg,
            v_comic.`userBean.id`           as `userBean.id`,
            v_comic.`userBean.nickname`     as `userBean.nickname`,
            v_comic.`userBean.signature`    as `userBean.signature`,
            v_comic.accessCount             as accessCount,
            v_comic.likeCount               as likeCount,
            v_comic.commentCount            as commentCount,
        </trim>
        FROM
            r_like L
        left join v_comic on v_comic.id = L.like_id
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.CATEGORY = 'c'
        </where>
        order by L.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="countFollow" resultType="int">
        SELECT
            COUNT(L.ID)
        FROM
            r_like L
        left join v_user on v_user.id = L.like_id
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.CATEGORY = 'u'
        </where>
    </select>
    
    <select id="searchFollow" resultType="UserBean">
        SELECT
        <trim suffixOverrides=",">
            v_user.id               as id,
            v_user.nickname         as nickname,
            v_user.signature        as signature,
            v_user.musicCount       as musicCount,
            v_user.comicCount       as comicCount,
            v_user.followCount      as followCount,
            v_user.followerCount    as followerCount,
        </trim>
        FROM
            r_like L
        left join v_user on v_user.id = L.like_id
        <where>
            L.DEL_FLG = '0'
        AND L.USER_ID = #{userBean.id}
        AND L.CATEGORY = 'u'
        </where>
        order by L.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="countFollower" resultType="int">
        SELECT
            COUNT(L.ID)
        FROM
            r_like L
        left join v_user on v_user.id = L.user_id
        <where>
            L.DEL_FLG = '0'
        AND L.LIKE_ID = #{userBean.id}
        AND L.CATEGORY = 'u'
        </where>
    </select>
    
    <select id="searchFollower" resultType="UserBean">
        SELECT
        <trim suffixOverrides=",">
            v_user.id               as id,
            v_user.nickname         as nickname,
            v_user.signature        as signature,
            v_user.musicCount       as musicCount,
            v_user.comicCount       as comicCount,
            v_user.followCount      as followCount,
            v_user.followerCount    as followerCount,
        </trim>
        FROM
            r_like L
        left join v_user on v_user.id = L.user_id
        <where>
            L.DEL_FLG = '0'
        AND L.LIKE_ID = #{userBean.id}
        AND L.CATEGORY = 'u'
        </where>
        order by L.id desc
        limit #{start}, #{pageSize}
    </select>
    
</mapper>