<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.MusicMapper">

    <cache-ref namespace="info.tongrenlu.mapper.ArticleMapper"/>
    
    <insert id="insert">
        INSERT INTO r_music(
        <trim suffixOverrides=",">
            id,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{id},
        </trim>
        )
    </insert>
    
    <select id="count" resultType="int">
        SELECT 
            count(v_music.id)
        FROM
            v_music
        <where>
            <if test="userBean != null">
            AND v_music.`userBean.id` = #{userBean.id}
            </if>
            <if test="publishFlg != null">
            AND v_music.`publishFlg` = #{publishFlg}
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (v_music.title LIKE #{pattern}
            OR  v_music.description LIKE #{pattern})
            </if>
        </where>
    </select>
    
    <select id="fetchList" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_music.id                      as id,
            v_music.title                   as title,
            v_music.description             as description,
            v_music.`userBean.id`           as `userBean.id`,
            v_music.`userBean.nickname`     as `userBean.nickname`,
            v_music.accessCount             as accessCount,
            v_music.likeCount               as likeCount,
            v_music.commentCount            as commentCount,
        </trim>
        FROM
            v_music 
        <where>
            <if test="userBean != null">
            AND v_music.`userBean.id` = #{userBean.id}
            </if>
            <if test="publishFlg != null">
            AND v_music.publishFlg = #{publishFlg}
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (v_music.title LIKE #{pattern}
            OR  v_music.description LIKE #{pattern})
            </if>
        </where>
        order by v_music.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="fetchBean" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_music.id                      as id,
            v_music.title                   as title,
            v_music.description             as description,
            v_music.publishFlg              as publishFlg,
            v_music.publishDate             as publishDate,
            v_music.recommendFlg            as recommendFlg,
            v_music.`userBean.id`           as `userBean.id`,
            v_music.`userBean.nickname`     as `userBean.nickname`,
            v_music.`userBean.signature`    as `userBean.signature`,
            v_music.accessCount             as accessCount,
            v_music.likeCount               as likeCount,
            v_music.commentCount            as commentCount,
        </trim>
        FROM
            v_music
        <where>
            v_music.id = #{id}
        </where>
    </select>
    
    <select id="fetchRanking" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_music_ranking.id                      as id,
            v_music_ranking.title                   as title,
            v_music_ranking.description             as description,
            v_music_ranking.publishFlg              as publishFlg,
            v_music_ranking.publishDate             as publishDate,
            v_music_ranking.recommendFlg            as recommendFlg,
            v_music_ranking.`userBean.id`           as `userBean.id`,
            v_music_ranking.`userBean.nickname`     as `userBean.nickname`,
            v_music_ranking.`userBean.signature`    as `userBean.signature`,
            v_music_ranking.accessCount             as accessCount,
            v_music_ranking.likeCount               as likeCount,
            v_music_ranking.commentCount            as commentCount,
            v_music_ranking.pt                      as pt
        </trim>
        FROM
            v_music_ranking
        limit 0, #{pageSize}
    </select>
</mapper>