<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.MusicMapper">

    <cache flushInterval="3600000" size="512" readOnly="true"/>
    
    <insert id="insert">
        INSERT INTO r_music(
        <trim suffixOverrides=",">
            id,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{id},
        </trim>
        )
    </insert>
    
    <select id="count" resultType="int">
        SELECT 
            count(v_music.id)
        FROM
            v_music
        <where>
            <if test="userBean != null">
            AND v_music.`userBean.id` = #{userBean.id}
            </if>
            <if test="publishFlg != null">
            AND v_music.`publishFlg` = #{publishFlg}
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (v_music.title LIKE #{pattern}
            OR  v_music.description LIKE #{pattern})
            </if>
        </where>
    </select>
    
    <select id="fetchList" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_music.id                      as id,
            v_music.title                   as title,
            v_music.description             as description,
            v_music.publishFlg              as publishFlg,
            v_music.recommendFlg            as recommendFlg,
            v_music.`userBean.id`           as `userBean.id`,
            v_music.`userBean.nickname`     as `userBean.nickname`,
            v_music.accessCount             as accessCount,
            v_music.likeCount               as likeCount,
            v_music.commentCount            as commentCount,
        </trim>
        FROM
            v_music 
        <where>
            <if test="userBean != null">
            AND v_music.`userBean.id` = #{userBean.id}
            </if>
            <if test="publishFlg != null">
            AND v_music.publishFlg = #{publishFlg}
            </if>
            <if test="query != null">
            <bind name="pattern" value="'%' + query + '%'" />
            AND (v_music.title LIKE #{pattern}
            OR  v_music.description LIKE #{pattern})
            </if>
        </where>
        order by v_music.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="fetchBean" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_music.id                      as id,
            v_music.title                   as title,
            v_music.description             as description,
            v_music.publishFlg              as publishFlg,
            v_music.publishDate             as publishDate,
            v_music.recommendFlg            as recommendFlg,
            v_music.`userBean.id`           as `userBean.id`,
            v_music.`userBean.nickname`     as `userBean.nickname`,
            v_music.`userBean.signature`    as `userBean.signature`,
            v_music.accessCount             as accessCount,
            v_music.likeCount               as likeCount,
            v_music.commentCount            as commentCount,
        </trim>
        FROM
            v_music
        <where>
            v_music.id = #{id}
        </where>
    </select>
    
    <select id="fetchRanking" resultType="MusicBean">
        SELECT 
        <trim suffixOverrides=",">
            v_music.id                      as id,
            v_music.title                   as title,
            v_music.description             as description,
            v_music.publishFlg              as publishFlg,
            v_music.publishDate             as publishDate,
            v_music.recommendFlg            as recommendFlg,
            v_music.`userBean.id`           as `userBean.id`,
            v_music.`userBean.nickname`     as `userBean.nickname`,
            v_music.`userBean.signature`    as `userBean.signature`,
            v_music.accessCount             as accessCount,
            v_music.likeCount               as likeCount,
            v_music.commentCount            as commentCount,
            IFNULL(v_access_cnt.pt, 0) + IFNULL(v_comment_cnt.pt, 0) + IFNULL(v_like_cnt.pt, 0) AS pt
        </trim>
        FROM
            v_music
                LEFT JOIN
            (SELECT 
                article_id, COUNT(id) AS pt
            FROM
                tongrenlu.m_access
            WHERE
                upd_date > CURRENT_DATE - 7
                    AND del_flg = '0'
            GROUP BY article_id) v_access_cnt ON v_music.id = v_access_cnt.article_id
                LEFT JOIN
            (SELECT 
                article_id, COUNT(id) * 10 AS pt
            FROM
                tongrenlu.m_comment
            WHERE
                upd_date > CURRENT_DATE - 7
                    AND del_flg = '0'
            GROUP BY article_id) v_comment_cnt ON v_music.id = v_comment_cnt.article_id
                LEFT JOIN
            (SELECT 
                like_id, COUNT(id) * 5 AS pt
            FROM
                tongrenlu.r_like
            WHERE
                upd_date > CURRENT_DATE - 7
                    AND del_flg = '0'
                    AND category = 'm'
            GROUP BY like_id) v_like_cnt ON v_music.id = v_like_cnt.like_id
        <where>
        and v_music.publishFlg = '1'
        </where>
        ORDER BY IFNULL(v_access_cnt.pt, 0) + IFNULL(v_comment_cnt.pt, 0) + IFNULL(v_like_cnt.pt, 0) DESC, v_music.id DESC
        LIMIT 0 , 10
    </select>
</mapper>