<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.ObjectMapper">
    
    <select id="fetchBean" resultType="DtoBean">
        SELECT
        <trim suffixOverrides=",">
            A.mysql_id        as id,
        </trim>
        FROM
            m_object A
        <where>
            A.object_id = #{objectId}
        </where>
    </select>
    
</mapper>