<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.OrderMapper">
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO m_order(
        <trim suffixOverrides=",">
           user_id,
           title,
           amount_jp,
           amount_cn,
           fee,
           total,
           status,
           create_date
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
           #{userBean.id},
           #{title},
           #{amountJp},
           #{amountCn},
           #{fee},
           #{total},
           0,
           current_timestamp
        </trim>
        )
    </insert>
    
    <select id="count" resultType="int">
        select
            count(m_order.id)
        from 
            m_order
        join v_user user on m_order.user_id = user.id
        <where>
            <if test="userBean != null">
            and user.id = #{userBean.id}
            </if>
            <if test="status != null">
                and m_order.status = #{status}
            </if>
            <if test="shopper != null">
            and (shopper_id = #{shopper.id}
            or  shopper_id is null)
            </if>
            and m_order.del_flg = 0
        </where>
    </select>
    
    <select id="search" resultType="OrderBean">
        select
        <trim suffixOverrides=",">
            m_order.id,
            m_order.title,
            m_order.amount_jp           as "amountJp",
            m_order.amount_cn           as "amountCn",
            m_order.fee,
            m_order.total,
            m_order.status,
            m_order.tracking_code       as trackingCode,
            m_order.pay_link            as payLink,
            m_order.create_date         as "createDate",
            m_order.order_date          as "orderDate",
            m_order.pay_date            as "payDate",
            m_order.send_date           as "sendDate",
            m_order.receive_date        as "receiveDate",
            m_order.cancel_date         as "cancelDate",
            user.id                     as "userBean.id",
            user.nickname               as "userBean.nickname",
            user.email                  as "userBean.email",
            shopper.id                  as "shopper.id",
            shopper.nickname            as "shopper.nickname",
            shopper.email               as "shopper.email",
        </trim>
        from 
            m_order
        join m_user user on m_order.user_id = user.id
        left join m_user shopper on m_order.shopper_id = shopper.id
        <where>
            <if test="userBean != null">
            and user.id = #{userBean.id}
            </if>
            <if test="status != null">
                and m_order.status = #{status}
            </if>
            <if test="shopper != null">
            and (shopper_id = #{shopper.id}
            or  shopper_id is null)
            </if>
            and m_order.del_flg = 0
        </where>
        order by m_order.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <select id="fetchBean" resultType="OrderBean">
        select
        <trim suffixOverrides=",">
            m_order.id,
            m_order.title,
            m_order.amount_jp           as "amountJp",
            m_order.amount_cn           as "amountCn",
            m_order.fee,
            m_order.total,
            m_order.status,
            m_order.tracking_code       as trackingCode,
            m_order.pay_link            as payLink,
            m_order.create_date         as "createDate",
            m_order.order_date          as "orderDate",
            m_order.pay_date            as "payDate",
            m_order.send_date           as "sendDate",
            m_order.receive_date        as "receiveDate",
            m_order.cancel_date         as "cancelDate",
            user.id                     as "userBean.id",
            user.nickname               as "userBean.nickname",
            user.email                  as "userBean.email",
            shopper.id                  as "shopper.id",
            shopper.nickname            as "shopper.nickname",
            shopper.email               as "shopper.email",
        </trim>
        from 
            m_order
        join m_user user on m_order.user_id = user.id
        left join m_user shopper on m_order.shopper_id = shopper.id
        <where>
            m_order.id = #{orderId}
        and m_order.del_flg = 0
        </where>
    </select>
    
    <update id="update">
        update
            m_order
        <set>
            amount_jp = #{amountJp},
            amount_cn = #{amountCn},
            fee = #{fee},
            total = #{total},
        </set>
        <where>
            m_order.id = #{id}
        </where>
    </update>
    
    <update id="delete">
        update
            m_order
        <set>
            del_flg = 1
        </set>
        <where>
            m_order.id = #{id}
        </where>
    </update>
    
    <update id="updateStatus">
        update
            m_order
        <set>
            status = #{status},
            <choose>
                <when test="status == 1">
                  order_date = current_timestamp,
                  shopper_id = #{shopper.id},
                  pay_link = #{payLink},
                </when>
                <when test="status == 2">
                  pay_date = current_timestamp,
                </when>
                <when test="status == 3">
                  send_date = current_timestamp,
                  tracking_code = #{trackingCode},
                </when>
                <when test="status == 4">
                  receive_date = current_timestamp,
                </when>
                <when test="status == 9">
                  cancel_date = current_timestamp,
                </when>
            </choose>
        </set>
        <where>
            m_order.id = #{id}
        and m_order.del_flg = 0
        </where>
    </update>
    
    <select id="fetchDashboard" resultType="map">
        select 
        <trim suffixOverrides=",">
            m_order.status,
            count(m_order.id) as count, 
        </trim>
        from
            m_order
        join
            v_user ON m_order.user_id = v_user.id
        <where>
        and m_order.del_flg = 0
        </where>
        group by m_order.status
    </select>
</mapper>