<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.OrderMapper">
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO m_order(
        <trim suffixOverrides=",">
           user_id,
           title,
           amount_jp,
           amount_cn,
           fee,
           total,
           create_date
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
           #{userBean.id},
           #{title},
           #{amountJp},
           #{amountCn},
           #{fee},
           #{total},
           current_timestamp
        </trim>
        )
    </insert>
    
    <select id="count" resultType="int">
        select
            count(id)
        from 
            m_order
        <where>
            <if test="userBean != null">
            and user_id = #{userBean.id}
            </if>
        </where>
    </select>
    
    <select id="fetchBean" resultType="orderBean">
        select
        <trim suffixOverrides=",">
            id,
            title,
            user_id         as "userBean.id",
            amount_jp       as "amountJp",
            amount_cn       as "amountCn",
            fee,
            total,
            status,
            create_date     as "createDate",
            order_date      as "orderDate",
            pay_date        as "payDate",
            send_date       as "sendDate",
            receive_date    as "receiveDate",
        </trim>
        from 
            m_order
        <where>
            id = #{orderId}
        </where>
    </select>
    
    <select id="search" resultType="OrderBean">
        select
        <trim suffixOverrides=",">
            id,
            title,
            user_id         as "userBean.id",
            amount_jp       as "amountJp",
            amount_cn       as "amountCn",
            fee,
            total,
            status,
            create_date     as "createDate",
            order_date      as "orderDate",
            pay_date        as "payDate",
            send_date       as "sendDate",
            receive_date    as "receiveDate",
        </trim>
        from 
            m_order
        <where>
            <if test="userBean != null">
            and user_id = #{userBean.id}
            </if>
        </where>
        limit #{start}, #{pageSize}
    </select>
</mapper>