<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.OrderMapper">
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO m_order(
        <trim suffixOverrides=",">
           user_id,
           title,
           amount_jp,
           amount_cn,
           fee,
           total,
           create_date
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
           #{userBean.id},
           #{title},
           #{amountJp},
           #{amountCn},
           #{fee},
           #{total},
           current_timestamp
        </trim>
        )
    </insert>
    
    <select id="count" resultType="int">
        select
            count(m_order.id)
        from 
            m_order
        join v_user on m_order.user_id = v_user.id
        <where>
            <if test="userBean != null">
            and user_id = #{userBean.id}
            </if>
        </where>
    </select>
    
    <select id="fetchBean" resultType="OrderBean">
        select
        <trim suffixOverrides=",">
            m_order.id,
            m_order.title,
            m_order.amount_jp           as "amountJp",
            m_order.amount_cn           as "amountCn",
            m_order.fee,
            m_order.total,
            m_order.status,
            m_order.create_date         as "createDate",
            m_order.order_date          as "orderDate",
            m_order.pay_date            as "payDate",
            m_order.send_date           as "sendDate",
            m_order.receive_date        as "receiveDate",
            m_order.cancel_date         as "cancelDate",
            v_user.id           as "userBean.id",
            v_user.nickname     as "userBean.nickname",
        </trim>
        from 
            m_order
        join v_user on m_order.user_id = v_user.id
        <where>
            m_order.id = #{orderId}
        </where>
    </select>
    
    <select id="search" resultType="OrderBean">
        select
        <trim suffixOverrides=",">
            m_order.id,
            m_order.title,
            m_order.amount_jp           as "amountJp",
            m_order.amount_cn           as "amountCn",
            m_order.fee,
            m_order.total,
            m_order.status,
            m_order.create_date         as "createDate",
            m_order.order_date          as "orderDate",
            m_order.pay_date            as "payDate",
            m_order.send_date           as "sendDate",
            m_order.receive_date        as "receiveDate",
            m_order.cancel_date         as "cancelDate",
            v_user.id                   as "userBean.id",
            v_user.nickname             as "userBean.nickname",
        </trim>
        from 
            m_order
        join v_user on m_order.user_id = v_user.id
        <where>
            <if test="userBean != null">
            and v_user.id = #{userBean.id}
            </if>
        </where>
        order by m_order.id desc
        limit #{start}, #{pageSize}
    </select>
    
    <update id="update">
        update
            m_order
        <set>
            amount_jp = #{amountJp},
            amount_cn = #{amountCn},
            fee = #{fee},
            total = #{total},
        </set>
        <where>
            m_order.id = #{id}
        </where>
    </update>
    
    <update id="updateStatus">
        update
            m_order
        <set>
            status = #{status},
            <choose>
                <when test="status == 1">
                  order_date = current_timestamp
                </when>
                <when test="status == 2">
                  pay_date = current_timestamp
                </when>
                <when test="status == 3">
                  send_date = current_timestamp
                </when>
                <when test="status == 4">
                  receive_date = current_timestamp
                </when>
                <when test="status == 9">
                  cancel_date = current_timestamp
                </when>
            </choose>
        </set>
        <where>
            m_order.id = #{id}
        </where>
    </update>
</mapper>