<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.SalMapper">

    <select id="fetchPrice" resultType="int">
        select
        <trim suffixOverrides=",">
            m_sal.price
        </trim>
        from 
            m_sal
        <where>
            m_sal.quantity >= #{quantity}
        </where>
        limit 1
    </select>
    
</mapper>