<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.TrackRateMapper">

    <cache-ref namespace="info.tongrenlu.mapper.FileMapper"/>
    
    <insert id="insert">
        INSERT INTO r_track_rate(
        <trim suffixOverrides=",">
            track_id,
            user_id,
            rate,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{trackBean.id},
            #{userBean.id},
            #{rate},
        </trim>
        )
    </insert>
    
    <update id="update">
        UPDATE r_track_rate
        <set>
            rate = #{trackRateBean.rate},
        </set>
        <where>
            r_track_rate.track_id = #{trackRateBean.trackBean.id}
        AND r_track_rate.user_id = #{trackRateBean.userBean.id}
        </where>
    </update>
    
    <select id="count" resultType="int">
        SELECT
	        count(id)
        FROM
            r_track_rate 
        <where>
            r_track_rate.track_id = #{trackRateBean.trackBean.id}
        AND r_track_rate.user_id = #{trackRateBean.userBean.id}
        AND r_track_rate.DEL_FLG='0'
        </where>
    </select>
    
    <select id="fetchList" resultType="TrackBean">
        SELECT
        <trim suffixOverrides=",">
            m_track.ID              as "id",
            m_track.NAME            as "name",
            m_track.ARTIST          as "artist",
            m_track.INSTRUMENTAL    as "instrumental",
            m_track.ORIGINAL        as "original",
            m_file.id               as "fileBean.id",
            m_file.ARTICLE_ID       as "fileBean.articleId",
            m_file.checksum         as "fileBean.checksum",
            ifnull(r_track_rate.rate, ifnull(v_track_rate.rate,3))  as rate
        </trim>
        FROM
            m_track 
        JOIN (select id,ARTICLE_ID,checksum, ORDER_NO, DEL_FLG from m_file where m_file.ARTICLE_ID = #{articleId}) m_file ON m_file.ID = m_track.ID
        left JOIN v_track_rate ON m_track.ID = v_track_rate.track_id
        left JOIN (select track_id, rate from r_track_rate where r_track_rate.user_id = #{userBean.id}) r_track_rate ON m_track.ID = r_track_rate.track_id 
        <where>
            m_track.DEL_FLG='0' 
        AND m_file.DEL_FLG='0'
        </where>
        ORDER BY m_file.ORDER_NO
    </select>
</mapper>