<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.tongrenlu.mapper.TrackMapper">

    <cache-ref namespace="info.tongrenlu.mapper.FileMapper"/>
    
    <insert id="insert" flushCache="true">
        INSERT INTO m_track(
        <trim suffixOverrides=",">
            id,
            name,
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            #{id},
            #{name},
        </trim>
        )
    </insert>
    
    <update id="update" flushCache="true">
        UPDATE m_track
        <set>
            name = #{name},
            artist = #{artist},
            original = #{original},
            instrumental = #{instrumental},
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    
    <update id="delete" flushCache="true">
        UPDATE m_track
        <set>
            del_flg = '1'
        </set>
        <where>
            id = #{fileBean.id}
        </where>
    </update>
    
    <select id="fetchList" resultType="TrackBean">
        SELECT
        <trim suffixOverrides=",">
            m_track.ID              as "id",
            m_track.NAME            as "name",
            m_track.ARTIST          as "artist",
            m_track.INSTRUMENTAL    as "instrumental",
            m_track.ORIGINAL        as "original",
            m_file.ARTICLE_ID       as "fileBean.ARTICLE_ID",
            m_file.checksum         as "fileBean.checksum",
        </trim>
        FROM
            m_track 
        LEFT JOIN m_file ON m_file.ID = m_track.ID
        <where>
            m_file.ARTICLE_ID = #{articleId}
        AND m_file.DEL_FLG='0'
        AND m_track.DEL_FLG='0'
        </where>
        ORDER BY m_file.ORDER_NO
    </select>
</mapper>