<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="console/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{admin.shop} + ' | ' + #{console}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-wrap container-header" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8" >
                            <h1 th:text="#{admin.order}"></h1>
                        </div>
                    </div>
                </div>
                <div class="container-tab">
                    <div class="container">
                        <ul class="nav">
                            <li class="">
                                <a th:href="@{/admin/shop}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="" th:text="#{admin.shop}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-wrap container-wrap-darker" >
                <div class="container">
                    <div class="panel card">
                        <form th:action="@{/admin/shop}" method="post">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputTaxRate" class="control-label" th:text="#{ShopBean.taxRate}">taxRate</label>
                                            <input type="number" class="form-control" id="inputTaxRate" name="taxRate"
                                                th:value="${shopBean.taxRate}" step="0.001" min="0"
                                                th:placeholder="#{ShopBean.taxRate}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputExchangeRate" class="control-label" th:text="#{ShopBean.exchangeRate}">exchangeRate</label>
                                            <input type="number" class="form-control" id="inputExchangeRate" name="exchangeRate"
                                                th:value="${shopBean.exchangeRate}" step="0.001" min="0"
                                                th:placeholder="#{ShopBean.exchangeRate}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputFeeMailorder" class="control-label" th:text="#{ShopBean.feeMailorder}">fee</label>
                                            <input type="number" class="form-control" id="inputFeeMailorder" name="feeMailorder" step="0.01" min="0"
                                                th:value="${shopBean.feeMailorder}" th:placeholder="#{ShopBean.feeMailorder}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputFeeEvent" class="control-label" th:text="#{ShopBean.feeEvent}">fee</label>
                                            <input type="number" class="form-control" id="inputFeeEvent" name="feeEvent" step="0.01" min="0"
                                                th:value="${shopBean.feeEvent}" th:placeholder="#{ShopBean.feeEvent}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button type="submit" th:text="#{button.save}" class="btn btn-success"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="http://tongrenlu.wicp.net/Numeral/1.5.3/min/numeral.min.js"></script>
            <script type="text/javascript" src="http://tongrenlu.wicp.net/JavaScript-Templates/2.5.6/js/tmpl.min.js"></script>
        </div>
    </body>
</html>