<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<!-- logger name="org.springframework" level="DEBUG"/-->
    <logger name="org.mybatis" level="INFO" />
    <logger name="info.tongrenlu" level="DEBUG" />

    <logger name="info.tongrenlu.http" level="INFO" />
</configuration>
